<h3>
    <strong>${properties.locationLeftRailText}</strong>
</h3>
<form method="post">
	<div class="search_by_filter search_detail_services">
		<h4>
			<strong>Services</strong>
		</h4>
		<div class="search_detail_services_level0"></div>
	</div>

	<div class="search_by_filter search_detail_location_radius">
		<h4>
			<strong>Location Radius</strong>
			<label for="location-radius-desktop1" class="suntrust-accessible-text">Location Radius</label>
		</h4>
		<div class="search_detail_radius_select">
			<label for="location-radius-desktop" class="suntrust-accessible-text">Location Radius</label>
			<select name="" id="location-radius-desktop">
				<option value="05">5 Miles</option>
				<option value="10" selected="true">10 Miles</option>
				<option value="20">20 Miles</option>
				<option value="50">50 Miles</option>
			</select>
		</div>
	</div>

	<div
		class="search_by_filter search_detail_state search_detail_state_city">
		<div class="clearfix">
			<h4>
				<strong>State</strong>(<span>0</span>)
			</h4>
			<div class="location_state state_city_selectall_clear">
				<a class="select_all" href="javascript:void(0);">${properties.selectAllText}</a> <span>|</span> 
                <a class="select_none" href="javascript:void(0);">${properties.selectNoneText}</a>
			</div>
		</div>
		<div class="search_detail_state_city_select"></div>
	</div>

	<div
		class="search_by_filter search_detail_city search_detail_state_city">
		<div class="clearfix">
			<h4>
				<strong>City</strong>(<span>0</span>)
			</h4>
			<div class="location_city state_city_selectall_clear">
				<a class="select_all" href="javascript:void(0);">${properties.selectAllText}</a> <span>|</span> 
                <a class="select_none" href="javascript:void(0);">${properties.selectNoneText}</a>
			</div>
		</div>
		<div class="search_detail_state_city_select"></div>
	</div>
</form>