<div class="mobile-filter-title text-center">${properties.locationLeftRailText}</div>
<div class="filter_tog mobile-services-tog">
	<div class="filter_title">
		<a href="javascript:void(0);"><span>-</span> Services</a>
	</div>
	<div class="filter_show_hide mobile-services"></div>
</div>
<div class="filter_tog mobile-radius-filter">
	<div class="filter_title">
		<a href="javascript:void(0);"><span>+</span> Location Radius</a> 
		<label for="location-radius-mobile1" class="suntrust-accessible-text">Location
			Radius</label>
	</div>
	<div class="filter_show_hide" style="display: none;">
		<div class="search_detail_radius_select">
		<label for="location-radius-mobile" class="suntrust-accessible-text">Location Radius</label>
			<select class="suntrust-selectt" name="" id="location-radius-mobile">
				<option value="05">5 Miles</option>
				<option value="10" selected="true">10 Miles</option>
				<option value="20">20 Miles</option>
				<option value="50">50 Miles</option>
			</select>
		</div>
	</div>
</div>
<div class="filter_tog">
	<div class="filter_title clearfix">
		<a href="javascript:void(0);" area-filter="state_city"
			class="pull-left"><span>+</span> State (<span class="state-count">0</span>)</a>
		<div class="location_state state_city_selectall_clear"
			style="display: none;">
			<a class="select_all" href="javascript:void(0);">${properties.selectAllText}</a>
			<span>|</span> <a class="select_none" href="javascript:void(0);">${properties.selectNoneText}</a>
		</div>
	</div>
	<div class="filter_show_hide mobile-state" style="display: none;">

	</div>
</div>

<div class="filter_tog">
	<div class="filter_title clearfix">
		<a href="javascript:void(0);" area-filter="state_city"
			class="pull-left"><span>+</span> City (<span class="city-count">0</span>)</a>
		<div class="location_city state_city_selectall_clear"
			style="display: none;">
			<a class="select_all" href="javascript:void(0);">${properties.selectAllText}</a>
			<span>|</span> <a class="select_none" href="javascript:void(0);">${properties.selectNoneText}</a>
		</div>
	</div>
	<div class="filter_show_hide mobile-city" style="display: none;">

	</div>
</div>
<div class="mobile_filter_submit_reset">
	<a class="suntrust-promo-cta-button submit" href="javascript:void(0);">Done</a>
	<a class="suntrust-promo-cta-button reset" href="javascript:void(0);">Reset</a>
</div>