<div data-sly-use.mbeanObj="${'com.suntrust.dotcom.components.FundingAnalysisComponent'}" data-sly-unwrap>
    <div data-sly-test="${(wcmmode.edit || wcmmode.design)}">Configure Funding Analysis Component</div>
</div>
<div data-sly-test="${properties.schooltype1 || properties.schooltype2 || properties.schooltype3 || properties.schooltype4}" data-sly-unwrap>
	<div class="school_button">
		<div data-sly-test="${properties.schooltype1}" data-sly-unwrap>
			<button class="suntrust-promo-cta-button-white school_annual_exp" id="school1">
				<span>${properties.schooltype1 @context='html'}</span>		
			</button>
		</div>
		<div data-sly-test="${properties.schooltype2}" data-sly-unwrap>
			<button class="suntrust-promo-cta-button-white school_annual_exp" id="school2">
				<span>${properties.schooltype2 @context='html'}</span>	
			</button>
		</div>
		<div data-sly-test="${properties.schooltype3}" data-sly-unwrap>
			<button class="suntrust-promo-cta-button-white school_annual_exp" id="school3">
				<span>${properties.schooltype3 @context='html'}</span>	
			</button>
		</div>
		<div data-sly-test="${properties.schooltype4}" data-sly-unwrap>
			<button class="suntrust-promo-cta-button-white school_annual_exp" id="school4">
				<span>${properties.schooltype4 @context='html'}</span>	
			</button>
		</div>
	</div>
</div>
<div class="calculator_div">
    <div data-sly-test="${properties.expensesectionheader}" data-sly-unwrap>
        <div class="lightBlueCalculatorTitle">${properties.expensesectionheader @context='html'}</div>
    </div>
	<div data-sly-test="${properties.annualexpensetotal}" data-sly-unwrap>
    <div class="tableCalculator_padding">
        <table class="savings_contribution annual_expense_school">
			<thead aria-hidden="true" class="table_header_ADA suntrust-accessible-text">
				<tr>
					<th scope="col">Annual School Expenses Descriptions</th>
					<th scope="col" colspan="2">Annual School Expenses Values</th>
				</tr>
			</thead>
            <div data-sly-list.items="${mbeanObj.beanListExpenses}" data-sly-unwrap>
                <tr>
                    <td>				
                        <label for="fieldexpense${itemsList.index}">${items.expensefieldvalue @context='html'}</label>						
                    </td>
                    <td>$</td>
                    <td>
                        <input type="text" id="fieldexpense${itemsList.index}" data-school1="${items.schooltypeoneannual}" data-school2="${items.schooltypetwoannual}" data-school3="${items.schooltypethreeannual}" data-school4="${items.schooltypefourannual}" />
                    </td>
                </tr>
            </div>
            <div data-sly-test="${properties.annualexpensetotal}" data-sly-unwrap>
            <tr class="totalPrevHolder"><td></td></tr>
				<tr class="totalHolder">
                    <td>
                        <label for="fieldexpensesubtotal">${properties.annualexpensetotal @context='html'}</label>
                    </td>
                    <td>$</td>
                    <td>
                        <input type="text" id="fieldexpensesubtotal" class="annaul_subTotal" disabled />
                    </td>
                </tr>
            </div>
        </table>
    </div>
	</div>

    <div data-sly-test="${properties.annualaidsectionheader}" data-sly-unwrap>
        <div class="lightBlueCalculatorTitle">${properties.annualaidsectionheader @context='html'}</div>
    </div>
	<div data-sly-test="${properties.aidsubtotal}" data-sly-unwrap>
    <div class="tableCalculator_padding">
        <table class="savings_contribution">
			<thead aria-hidden="true" class="table_header_ADA suntrust-accessible-text">
				<tr>
					<th scope="col">Annual Aid & Scholarships</th>
					<th scope="col" colspan="2">Annual Aid & Scholarships Values</th>
				</tr>
			</thead>
            <div data-sly-list.items="${mbeanObj.beanListAids}" data-sly-unwrap>
                <tr>
                    <td>
                        <label for="fieldaid${itemsList.index}">${items.aidfieldvalue @context='html'}</label>
                    </td>
                    <td>$</td>
                    <td>
                        <input type="text" id="fieldaid${itemsList.index}" data-school1="${items.schooltypeoneaid}" data-school2="${items.schooltypetwoaid}" data-school3="${items.schooltypethreeaid}" data-school4="${items.schooltypefouraid}" />
                    </td>
                </tr>
            </div>
            <div data-sly-test="${properties.aidsubtotal}" data-sly-unwrap>
            <tr class="totalPrevHolder"><td></td></tr>
				<tr class="totalHolder">
                <td>
                    <label for="fieldaidsubtotal">${properties.aidsubtotal @context='html'}</label>
                </td>
                <td>$</td>
                <td>
                    <input type="text" id="fieldaidsubtotal" class="scholarship_subTotal" disabled />
                </td>
                </tr>
            </div>
        </table>
    </div>
	</div>

    <div data-sly-test="${properties.annualsavingsheader}" data-sly-unwrap>
        <div class="lightBlueCalculatorTitle">${properties.annualsavingsheader @context='html'}</div>
    </div>
	<div data-sly-test="${properties.annualsavingsubtotal}" data-sly-unwrap>
    <div class="tableCalculator_padding">
        <table class="savings_contribution">
			<thead aria-hidden="true" class="table_header_ADA suntrust-accessible-text">
				<tr>
					<th scope="col">Annual College Savings</th>
					<th scope="col" colspan="2">Annual College Savings Values</th>
				</tr>
			</thead>
            <div data-sly-list.items="${mbeanObj.beanListSavings}" data-sly-unwrap>
                <tr>
                    <td>
                        <label for="fieldsaving${itemsList.index}">${items.savingfieldvalue @context='html'}</label>
                    </td>
                    <td>$</td>
                    <td>
                        <input type="text" id="fieldsaving${itemsList.index}" data-school1="${items.schooltypeonecollege}" data-school2="${items.schooltypetwocollege}" data-school3="${items.schooltypethreecollege}" data-school4="${items.schooltypefourcollege}" />
                    </td>
                </tr>
            </div>
            <div data-sly-test="${properties.annualsavingsubtotal}" data-sly-unwrap>
            <tr class="totalPrevHolder"><td></td></tr>
				<tr class="totalHolder">
                    <td>
                        <label for="fieldsavingsubtotal">${properties.annualsavingsubtotal @context='html'}</label>
                    </td>
                    <td>$</td>
                    <td>
                        <input type="text" id="fieldsavingsubtotal" class="annual_subTotal" disabled />
                    </td>
                </tr>
            </div>
        </table>
    </div>
	</div>
    <div data-sly-test="${properties.annualsubtotals}" data-sly-unwrap>
        <div class="darkBlueCalculatorTitle">${properties.annualsubtotals @context='html'}</div>
    </div>
	<div data-sly-test="${properties.annualexpensesubtotal}" data-sly-unwrap>
    <div class="tableCalculator_padding">
        <table>
			<thead aria-hidden="true" class="table_header_ADA suntrust-accessible-text">
				<tr>
					<th scope="col">Annual Subtotals</th>
					<th scope="col" colspan="2">Annual Subtotals Values</th>
				</tr>
			</thead>
			<div data-sly-test="${properties.annualcontribution}" data-sly-unwrap>
                <tr>
                    <td>
                        <label for="annualcontribution">${properties.annualcontribution @context='html'}</label>
                    </td>
                    <td>$</td>
                    <td>
                        <input type="text" id="annualcontribution" class="annualFinancial" disabled />
                    </td>
                </tr>
            </div>
            <tr>
                    <td>
                        <label for="annualexpense">${properties.annualexpensesubtotal @context='html'}</label>
                    </td>
                    <td>$</td>
                    <td>
                        <input type="text" id="annualexpense" class="annaulExpense" disabled />
                    </td>
			</tr>
        </table>
    </div>
	</div>
    <div data-sly-test="${properties.totalfinalcialgap}" data-sly-unwrap>
        <div class="financialGapDiv clearfix">
			<div class="tableCalculator_padding">
				<table>
					<thead aria-hidden="true" class="table_header_ADA suntrust-accessible-text">
						<tr>
							<th scope="col">Total Financial Gap</th>
							<th scope="col" colspan="2">Total Financial Gap Values</th>
						</tr>
					</thead>
					<tr>
						<td>
							<label class="totalfinancialLabel" for="totalfinalcialgap">${properties.totalfinalcialgap @context='html'}</label>
						</td>
						<td>$</td>
						<td>
							<input type="text" id="totalfinalcialgap" class="totalFinancialGap" disabled />
						</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td class="reset">
							<a href="javascript:void(0);" class="resetCalVal">Reset Values</a>
						</td>
					</tr>
				</table>
				<div class="financialGap_message clearfix">
					<div class="financialGap_positive hide">${properties.positivemessage @context='html'}</div>
					<div class="financialGap_negative hide">${properties.negativemessage @context='html'}</div>
				</div>
            </div>
		</div>
	</div>
</div>