<div data-sly-use.DCBbeanObj="com.suntrust.dotcom.components.ComboComponent" data-sly-unwrap>
	<div class="suntrust-footer-site-links-list-item" data-sly-test="${!DCBbeanObj.mBean && !properties.text && (wcmmode.edit || wcmmode.design)}">Configure Combo Box Dialog</div>
</div>
<div data-sly-use.utilObj="com.suntrust.dotcom.utils.GenericUtil" data-sly-unwrap></div>
<div data-sly-test.uniqueID="${utilObj.UniqueId}" data-sly-unwrap></div>

<div class="container-fuild noPadLR">
	<div class="row">
		<div class="suntrust-comboBox">
			<div class="${properties.bgcolor == 'blue' ? 'suntrust-select-option-bar-loans suntrust-blueBG' : 'suntrust-select-option-bar-loans'}">
				<label for="suntrust-control-drop-${uniqueID}" class="suntrust-label"><div class="rteSection">${properties.text @ context="html"}</div></label>
				<div id="suntrust-control">
					<select class="suntrust-select form-control suntrust-comboBoxloans" id="suntrust-control-drop-${uniqueID}">
						<option value="">${properties.defaultlabel @context='html'}</option>
						<div data-sly-test="${DCBbeanObj.mBean && properties.iItems}" data-sly-unwrap>
							<div data-sly-list.items="${DCBbeanObj.mBean}">
								<div data-sly-list.itemsList="${items.items}">
                                	<option value="${itemsList.linkURL}">${itemsList.title @context='html'}</option>
								</div>
							</div>
						</div>
					</select>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- 

THIS PIECE OF ANALYTICS CODE IS MOVED TO ENSIGTHEN.
THIS SECTION OF CODE SHOULD NEVER BE DELETED AND SHOULD BE ALWAYS COMMENTED.
THIS CODE IS FOR REFERENCE PURPOSE ONLY.

<script>

"use strict";
//Dynamicombobox on change event
$("select.suntrust-select.form-control.suntrust-comboBoxloans").on("change", function() {

var $div = $(this).closest("#suntrust-control");

if ($div.length) {

  console.log("Dynamic combobox component");
  var selectedOption = $div.find("option:selected").text();
  console.log("selectedOption = " + selectedOption);
  s.linkTrackVars = 'eVar45,events';
  s.linkTrackEvents = 'event23';
  s.eVar45 = selectedOption;
  s.events = 'event23';
  s.tl(this, 'o', selectedOption);

}
});

</script>-->