<sly data-sly-test="${wcmmode.edit || wcmmode.design}" >Configure Equity Rates Component</sly>
<sly data-sly-use.ratesUrl="${'com.suntrust.dotcom.utils.ConfigServiceUse' @ property='eqrates.url'}" data-sly-test="${ratesUrl}" />
<sly data-sly-use.ratesExt="${'com.suntrust.dotcom.utils.ConfigServiceUse' @ property='rates.extension'}" data-sly-test="${ratesExt}" />

<sly data-sly-test="${properties.searchbutton}">
	<input id="cdratePageURL" name="cdratePageURL" type="hidden" value="${ratesUrl.property @context='html'}" />
	<input id="reqExtension" name="reqExtension" type="hidden" value="${ratesExt.property @context='html'}" />
	<input id="resultsTermsLabel" name="resultsTermsLabel" type="hidden" value="${properties.resultsterms @context='html'}" />
	<input id="resultsaprlabel" name="resultsaprlabel" type="hidden" value="${properties.resultsaprlabel @context='html'}" />
	<div class="equity_rate_intrest">
		<sly data-sly-test="${properties.searchtitle}">
			<h2>${properties.searchtitle @ context = 'html'}</h2>
       	</sly>
       	<sly data-sly-test="${properties.searchdescription}">
			<div class="rteSection">${properties.searchdescription @ context = 'html'}</div>
       	</sly>
            <sly data-sly-test="${properties.searchbutton}">
			<div class="rate_zipcode_search clearfix">
				<label for="er_zip_search" class="suntrust-accessible-text">Equity Line of Credit</label>
				<input type="text" id="er_zip_search" class="rate-suntrust-input" placeholder="${properties.searchzipcode @ context = 'html'}"  maxlength="5" />
				<a href="javascript:void(0);" class="er_zip_search_submit suntrust-orange-button">${properties.searchbutton @ context = 'html'}</a>
				<sly data-sly-test="${properties.searchinvalid}">
           			<p class="findrate-error-message-invalid">${properties.searchinvalid @ context = 'html'}</p>
           		</sly>
				<sly data-sly-test="${properties.searchunavail}">
					<p class="findrate-error-message-unavail">${properties.searchunavail @ context = 'html'}</p>
           		</sly>
			</div>
		 </sly>
      </div>
</sly>
								
<div class="rateDetailsContainer">																			
	<div class="rateDetailsTable">		
		<sly data-sly-test="${properties.resultstitle}">
			<h2>${properties.resultstitle @ context = 'html'}</h2>
		</sly>
        <sly data-sly-test="${properties.resultsscript}">
			<div>${properties.resultsscript @ context = 'unsafe'}</div>
		</sly>
		<sly data-sly-test="${properties.resultsdescription}">
			<div class="rteSection">${properties.resultsdescription @ context = 'html'}</div>
		</sly>
		<table id="equity-line-rate-table-desktop" class="table equity-line-rate-table">
			<thead aria-hidden="true" class="table_header_ADA suntrust-accessible-text">
				<tr>
					<th scope="col">Equity Line of Credit Descriptions</th>
					<th scope="col">Equity Line of Credit Values</th>
				</tr>
			</thead>
		</table>										
		
		<table id="equity-line-rate-table-mobile" class="table equity-line-rate-table mobile">
			<thead aria-hidden="true" class="table_header_ADA suntrust-accessible-text">
				<tr>
					<th scope="col">Equity Line of Credit Descriptions</th>
					<th scope="col">Equity Line of Credit Values</th>
				</tr>
			</thead>
		</table>
		<div class="redirection">                    
			<sly data-sly-test="${properties.jcr:title}" >
				<div data-sly-use.genericUtil="${'com.suntrust.dotcom.utils.GenericUtil'  @linkURL=properties.linkURL,urlParams=properties.urlParams,anchorTag=properties.anchorTag}" data-sly-unwrap>
					<sly data-sly-test="${properties.target == '_self' || properties.target == '_blank'}">
						<a class="${properties.theme} ${properties.allignment}" href="${genericUtil.modifyURL}" target="${properties.target}">${properties.jcr:title @ context='html'}</a>
					</sly>
				</div>
		   </sly>
			<sly data-sly-use.mbeanObj="com.suntrust.dotcom.components.CtaComponent"/>
			<div data-sly-list.items="${mbeanObj.mBean}" data-sly-unwrap>
				<div data-sly-test="${itemsList.index == 0}" data-sly-list.itemsList="${items.items}" data-sly-unwrap>
					<sly data-sly-test="${itemsList.target == '_self' || itemsList.target == '_blank'}">
						<p class="${itemsList.allignment}">
							<a class="cdrates-backlink" href="${itemsList.linkURL}" target="${itemsList.target}">${itemsList.title @ context='html'}</a>
						</p>
					</sly>
				</div>
			</div>
        </div>
		<sly data-sly-test="${properties.disclaimer}">
	    	<div class="equity_rate_disclaimers">
				<div class="rteSection">${properties.disclaimer @ context = 'html'}</div>
			</div>
		</sly>
	</div>
</div>