<div class="sun-body-component">
	<div class="momentum-right-rail-content">

		<div data-sly-use.PromoObj="${'com.suntrust.dotcom.components.PromoTextComponent' @pagePath=currentPage.Path}" data-sly-unwrap>
				<div data-sly-test="${!properties.text && (wcmmode.edit || wcmmode.design)}" >Configure PromoText Component</div>
		</div>
		
		<div data-sly-test="${properties.text}" data-sly-unwrap>
				<div class="rteSection">${PromoObj.promoTextContent @context='html'}</div>
		</div>

		<div class="promo-section">Registration Code:
			<div data-sly-test="${!pageProperties.jcr:description && (wcmmode.edit || wcmmode.design)}" data-sly-unwrap>Enter promocode in page description</div>
			<br><span id="promocode">${pageProperties.subtitle}</span>
		</div>
	<div>
</div>


<!-- script>
// Analytics code to  capture body text link click
"use strict";
$('.momentum-right-rail-content a').on('click', function() {
	console.log('momentum body text link clicked');
	s.linkTrackVars='eVar45,events'; 
	s.linkTrackEvents='event23'; 
	s.eVar45='Microsites|IgniteLP|MomentumOnUp|Body'; 
	s.events='event23'; 
	s.tl(this,'o','Microsites|IgniteLP|MomentumOnUp|Body');
});
</script-->