<div data-sly-test="${(wcmmode.edit || wcmmode.design)}">Configure ${component.title} Dialog</div>
<!-- Hero Headline starts -->
<div class="col-lg-12 suntrust-heroHeadline${properties.bgcolor}" id="main-content">
	<sly data-sly-test="${pageProperties['cq:template'] == '/apps/dotcom/templates/peopleprofiletemplate'}">
		<sly data-sly-use.designationsCodeObj="${'com.suntrust.dotcom.components.LocationComponent' @tagName='adv_designationcodes'}"/>
		<div class="suntrust-heroHeadlineHolder">
			<h1 class="suntrust-heroHeadline_title">
				<strong>
					<sly data-sly-test="${pageProperties.adv_firstname || pageProperties.adv_lastname}">
						<span itemprop="name">${pageProperties.adv_firstname} ${pageProperties.adv_lastname}</span></sly><sly data-sly-test="${designationsCodeObj.getTagsLength != 0}"><sly data-sly-list.listObj="${designationsCodeObj.getTagsTitle}">, ${listObj}</sly></sly><sly data-sly-test="${pageProperties.adv_title1}">, ${pageProperties.adv_title1}
					</sly>
				</strong>
			 </h1>
					<sly data-sly-test="${pageProperties.adv_title2}">
						<h3><strong>${pageProperties.adv_title2}</strong></h3>
					</sly>
		</div>
	</sly>
    <sly data-sly-test="${pageProperties['cq:template'] == '/apps/dotcom/templates/locationdetailstemplate'}">
		<sly data-sly-use.mbeanObj="${'com.suntrust.dotcom.components.LocationComponent' @tagName='loc_services'}"/>
		<sly data-sly-use.designationsCodeObj="${'com.suntrust.dotcom.components.LocationComponent' @tagName='adv_designationcodes'}"/>
		<div class="suntrust-heroHeadlineHolder">
			<h1 class="suntrust-heroHeadline_title">
				<strong>
					<sly data-sly-list.listObj="${mbeanObj.getTagsId}">
						<sly data-sly-test="${listObj == 'branch'}">
							<sly data-sly-test.ATMorBranch="Branch"/>
						</sly>										
					</sly>
					<sly data-sly-test.headline="${pageProperties.loc_locationname ? pageProperties.loc_locationname : pageProperties['jcr:title']}">${headline @ context='html'}</sly> <sly data-sly-test.headline2="${ATMorBranch ? 'SunTrust Branch' : 'SunTrust ATM'}">${headline2}</sly>
				</strong>
			 </h1>
		</div>
	</sly>
	<sly data-sly-test="${pageProperties['cq:template'] == '/apps/dotcom/templates/wrappertemplate'}">
		<sly data-sly-use.utilObj="${'com.suntrust.dotcom.utils.GenericUtil'}"/>
		<div class="suntrust-heroHeadlineHolder">
			<h1 class="suntrust-heroHeadline_title">
				<sly>${utilObj.getHeroTagForRC @ context='html'}</sly>
			</h1>
		</div>
	</sly>
	<sly data-sly-test="${!((pageProperties['cq:template'] == '/apps/dotcom/templates/peopleprofiletemplate') || (pageProperties['cq:template'] == '/apps/dotcom/templates/locationdetailstemplate') || (pageProperties['cq:template'] == '/apps/dotcom/templates/wrappertemplate'))}">
		<div class="suntrust-heroHeadlineHolder">
			<h1 class="suntrust-heroHeadline_title">
				<sly data-sly-test.headline="${properties.heroHeadline ? properties.heroHeadline : pageProperties['jcr:title']}">${headline @ context='html'}</sly>
			</h1>
		</div>
	</sly>
</div>
<div class="clearfix"></div>
<!-- Hero Headline ends -->

