<div data-sly-use.signOnProps="${'com.suntrust.dotcom.components.SignOnComponent'}" data-sly-unwrap></div>
	<div id="desktopherosignon">
									<div class="suntrust-hero-signon-desktop-right suntrust-hero-signon-desktop-black col-lg-6">
									<div class="sun-hero-desktop-sign-on-title">${properties.headlineDesktop @ context='html'}</div>
									<div data-suntrust-login-form-sighon class="suntrust-login">
										<div class="suntrust-login-form-hero-signon" id="suntrust-login-form-herosignon">
											<div class="suntrust-login-form-field">											
												<sly data-sly-test="${properties.serviceorder=='olb'}">
													<input type="radio" id="herosignon-${properties.appTypeOlb}" class="suntrust-bank-segment  suntrust-bank-segment-herosignon-radio" name="onlinecashmanager" value="onlineB" title="Online Banking" checked>
													<label for="herosignon-${properties.appTypeOlb}">${properties.serviceLabelOlb}</label>
													<input type="radio" id="herosignon-${properties.appTypeOcm}" class="suntrust-bank-segment  suntrust-bank-segment-herosignon-radio" name="onlinecashmanager" value="onlineCM" title="Online Cash Manager">
													<label for="herosignon-${properties.appTypeOcm}">${properties.serviceLabelOcm}</label>
												</sly>
												<sly data-sly-test="${properties.serviceorder=='ocm'}">
													<input type="radio" id="herosignon-${properties.appTypeOcm}" class="suntrust-bank-segment  suntrust-bank-segment-herosignon-radio" name="onlinecashmanager" value="onlineCM" title="Online Cash Manager" checked>
													<label for="herosignon-${properties.appTypeOcm}">${properties.serviceLabelOcm}</label>
													<input type="radio" id="herosignon-${properties.appTypeOlb}" class="suntrust-bank-segment  suntrust-bank-segment-herosignon-radio" name="onlinecashmanager" value="onlineB" title="Online Banking" >
													<label for="herosignon-${properties.appTypeOlb}">${properties.serviceLabelOlb}</label>

												</sly>
											</div>
									<div data-sly-list.keyName="${signOnProps.getSignOnConfigMap}">
										<div data-sly-test="${keyName == 'olb'}" data-sly-unwrap>
												<sly data-sly-test.signOnMaintenanceModeOLB="${signOnProps.getSignOnConfigMap[keyName]}">
												
													<div class="suntrust-login-onlinebanking-form suntrust-signon-login-form ${properties.serviceorder=='olb'? '':'hidden-hero-signon'}" id="SignOn-herosignon-${properties.appTypeOlb}">

														<div data-sly-test="${signOnMaintenanceModeOLB=='online' || request.requestParameterMap['maintenance-mode-override'][0].toString=='true'}" data-sly-unwrap>

															<form action="${properties.formActionOlb}" class="signOnLoginForm herosignon-${properties.appTypeOlb}" method="post" name="herosignon-${properties.appTypeOlb}" autocomplete="off"
																  data-appid="herosignon-${properties.appTypeOlb}" data-encrypt="${properties.useencryptionOlb}" data-gateway="${properties.gatewayOlb}" data-apptype="${properties.appTypeOlb}" >
																<div class="suntrust-login-form-field">
																	<label for="userID" class="suntrust-accessible-text">${properties.usernameplaceholderolb}</label>
																	<input type="text" title="${properties.usernameplaceholderolb}" class="suntrust-login-input suntrust-login-user-input" placeholder="${properties.usernameplaceholderolb}" id="userID" autocomplete="off" value="">
																	<input type="hidden" name="username" class="suntrust-login-hidden-user-id" value="">
																	<input type="hidden" name="isEncrypted" class="suntrust-login-input-is-encrypted" value="${properties.useencryptionOlb}">
																</div>

																<div class="${properties.remembermeolb=='true' ? 'suntrust-login-form-field suntrust-remember-me-accessible' : 'suntrust-login-form-field suntrust-no-remember-me-accessible'}">
																	<label for="sign-on-herosignon-${properties.appTypeOlb}-password" class="suntrust-accessible-text">${properties.passwordplaceholderolb}</label>
																	<input type="password" placeholder="${properties.passwordplaceholderolb}" class="suntrust-login-input suntrust-login-password-herosignon" id="sign-on-herosignon-${properties.appTypeOlb}-password" title="${properties.passwordplaceholderolb}" value="" autocomplete="off">
																	<input type="hidden" name="password" class="hiddenPassword" value="">
																	<sly data-sly-test="${properties.useencryptionOlb == 'true'}">
																		<input type="hidden" name="rmUsernameSet" value="false" />
																	</sly>
																	<input type="hidden" class="hiddenPublicKey" value="${properties.publickeyOlb}">

																	<div class="suntrust-remember-me-field" data-sly-test="${properties.remembermeolb}" >

																		<input type="checkbox" id="sign-on-herosignon-${properties.appTypeOlb}-check-hero" data-suntrust-class="suntrust-checkbox" class="suntrust-login-checkbox" name="chkRememberUser">
																		<input type="hidden" name="rememberMe" class="suntrust-login-checkbox-hidden" value="false">
																		<label for="sign-on-herosignon-${properties.appTypeOlb}-check-hero" class="suntrust-checkbox-label">${properties.remembermetextolb}</label>
																	</div>

																	<div class="suntrust-login-button-herosignon-container">
																		<input class="suntrust-login-button-herosignon" type="submit" value="Sign On">
																	</div>


																	<sly data-sly-test="${signOnProps.mBean && properties.olbHiddenItems}">
																		<sly data-sly-list.items="${signOnProps.mBean}">
																			<div data-sly-test="${itemsList.index == 6}" data-sly-list.itemsList="${items.items}">
																				<input type="hidden" name="${itemsList.hiddenName}" value="${itemsList.hiddenValue}"/>

																			</div>
																		</sly>
																	</sly>
																	<sly data-sly-use.encryptScriptOlb="${'com.suntrust.dotcom.components.HeroComponent' @signOnPath=properties.signonpage, signOnComp='signon_par/signon',scriptFilePath=properties.encryptionFileOlb}">
																		<script type="text/javascript">${encryptScriptOlb.getScriptContent @ context='unsafe'}</script>
																	</sly>
																</div>															
																<div data-sly-test="${signOnProps.mBean && properties.aItems}" class="suntrust-herosignonsupport-link">	
																	<div data-sly-list.items="${signOnProps.mBean}"data-sly-unwrap>
																		<div class="suntrust-login-form-field" data-sly-test="${itemsList.index == 0}" data-sly-list.itemsList="${items.items}" data-sly-unwrap>
																			<sly data-sly-test="${itemsList.enableInHero}">
																				<a class= "suntrust-support-link-herosignon" href="${itemsList.linkURL}" target="${itemsList.target}">${itemsList.title}</a>
																			</sly>
																		</div>
																	</div>
																</div>
															</form>
														</div>

														<sly data-sly-test="${request.requestParameterMap['maintenance-mode-override'][0].toString!='true'}">
															<div data-sly-test="${signOnMaintenanceModeOLB}" data-sly-unwrap>
																<div data-sly-test="${signOnProps.mBean && properties.iItems}" data-sly-unwrap>
																	<div data-sly-list.items="${signOnProps.mBean}"data-sly-unwrap>
																		<div data-sly-test="${itemsList.index == 4}" data-sly-list.itemsList="${items.items}" data-sly-unwrap>
																			<sly data-sly-test="${itemsList.messagetypeOlbOffline == signOnMaintenanceModeOLB}">
																				<p>${itemsList.maintenancemessageOlbOffline @context='html'} </p>
																			</sly>
																			<sly data-sly-test="${itemsList.messagetypeOlbScheduled == signOnMaintenanceModeOLB}">
																				<p>${itemsList.maintenancemessageOlbScheduled @context='html'} </p>
																			</sly>
																			<sly data-sly-test="${itemsList.messagetypeOlbUnScheduled == signOnMaintenanceModeOLB}">
																				<p>${itemsList.maintenancemessageOlbUnScheduled @context='html'} </p>
																			</sly>
																		</div>
																	</div>
																</div>
															</div>
														</sly>
													</div>
												</sly>
										</div>
										<div data-sly-test="${keyName == 'ocm'}" data-sly-unwrap>
											<sly data-sly-test.signOnMaintenanceModeOCM="${signOnProps.getSignOnConfigMap[keyName]}" >
												<div class="suntrust-login-onlinecashmanager-form suntrust-signon-login-form ${properties.serviceorder=='ocm'? '':'hidden-hero-signon'}" id="SignOn-herosignon-${properties.appTypeOcm}">

													<div data-sly-test="${signOnMaintenanceModeOCM=='online' || request.requestParameterMap['maintenance-mode-override'][0].toString=='true'}" data-sly-unwrap>


														<form action="${properties.formActionOcm}" class="signOnLoginForm herosignon-${properties.appTypeOcm}"
															  method="post" name="loginForm-herosignon-${properties.appTypeOcm}" autocomplete="off" data-appid="herosignon-${properties.appTypeOcm}" data-gateway="${properties.gatewayOcm}" data-apptype="${properties.appTypeOcm}" >

															<div class="suntrust-login-form-field">
																<label for="sign-on-herosignon-${properties.appTypeOcm}-user" class="suntrust-accessible-text">${properties.usernameplaceholderocm}</label>



																<input type="text" title="${properties.usernameplaceholderocm}" class="suntrust-login-input suntrust-login-user-input"
																	   placeholder="${properties.usernameplaceholderocm}" id="sign-on-herosignon-${properties.appTypeOcm}-user" autocomplete="off" value=""/>

																<input type="hidden" name="username" class="suntrust-login-hidden-user-id" value="" />
																<input type="hidden" name="isEncrypted" class="suntrust-login-input-is-encrypted" value="${properties.useencryptionOcm}" />
															</div>

															<div class="${properties.remembermeocm=='true' ? 'suntrust-login-form-field suntrust-remember-me-accessible' : 'suntrust-login-form-field suntrust-no-remember-me-accessible'}">

																<label for="sign-on-herosignon-${properties.appTypeOcm}-password" class="suntrust-accessible-text">${properties.passwordplaceholderocm}</label>
																<input type="password" placeholder="${properties.passwordplaceholderocm}" class="suntrust-login-input suntrust-login-password-herosignon"
																	   id="sign-on-herosignon-${properties.appTypeOcm}-password" title="${properties.passwordplaceholderocm}" value="" autocomplete="off" />
																<input type="hidden" name="password" class="hiddenPassword" value="" />

																<div class="suntrust-remember-me-field" data-sly-test="${properties.remembermeocm}" >

																	<input type="checkbox" id="sign-on-herosignon-${properties.appTypeOcm}-check-hero" data-suntrust-class="suntrust-checkbox" class="suntrust-login-checkbox" name="chkRememberUser">
																	<input type="hidden" name="rememberMe" class="suntrust-login-checkbox-hidden" value="false">
																	<label for="sign-on-herosignon-${properties.appTypeOcm}-check-hero" class="suntrust-checkbox-label">${properties.remembermetextocm}</label>
																</div>

																<div class="suntrust-login-button-herosignon-container">
																	<input class="suntrust-login-button-herosignon"  type="submit" value="Sign On">
																</div>
																<sly data-sly-test="${signOnProps.mBean && properties.ocmHiddenItems}">
																	<sly data-sly-list.items="${signOnProps.mBean}">
																		<div data-sly-test="${itemsList.index == 7}" data-sly-list.itemsList="${items.items}">
																			<input type="hidden" name="${itemsList.hiddenName}" value="${itemsList.hiddenValue}"/>

																		</div>
																	</sly>
																</sly>
															</div>
															
															<div data-sly-test="${signOnProps.mBean && properties.bItems}" class="suntrust-herosignonsupport-link">
															
																<div data-sly-list.items="${signOnProps.mBean}"data-sly-unwrap>																
																	<div class="suntrust-login-form-field" data-sly-test="${itemsList.index == 1}" data-sly-list.itemsList="${items.items}" data-sly-unwrap>																	
																		<sly data-sly-test="${itemsList.enableInHero}">
																			<a class= "suntrust-support-link-herosignon" href="${itemsList.linkURL}" target="${itemsList.target}">${itemsList.title}</a>
																		</sly>
																	</div>
																</div>
															</div>

														</form>
													</div>

													<sly data-sly-test="${request.requestParameterMap['maintenance-mode-override'][0].toString!='true'}">
														<div data-sly-test="${signOnMaintenanceModeOCM}" data-sly-unwrap>
															<div data-sly-test="${signOnProps.mBean && properties.jItems}" data-sly-unwrap>
																<div data-sly-list.items="${signOnProps.mBean}"data-sly-unwrap>
																	<div data-sly-test="${itemsList.index == 5}" data-sly-list.itemsList="${items.items}" data-sly-unwrap>
																		<sly data-sly-test="${itemsList.messagetypeOcmOffline == signOnMaintenanceModeOCM}">
																			<p>${itemsList.maintenancemessageOcmOffline @context='html'} </p>
																		</sly>
																		<sly data-sly-test="${itemsList.messagetypeOcmScheduled == signOnMaintenanceModeOCM}">
																			<p>${itemsList.maintenancemessageOcmScheduled @context='html'} </p>
																		</sly>
																		<sly data-sly-test="${itemsList.messagetypeOcmUnScheduled == signOnMaintenanceModeOCM}">
																			<p>${itemsList.maintenancemessageOcmUnScheduled @context='html'} </p>
																		</sly>
																	</div>
																</div>
															</div>
														</div>
													</sly>
												</div>
											</sly>
											</div>
											</div>
										</div>
									</div>
								</div>
	</div>
							
								
