<sly data-sly-test="${!properties.tagline && (wcmmode.edit || wcmmode.design)}">Configure Open an Account Component</sly>
<sly data-sly-test.mobileCheck="${properties.mobileDisplay == 'true'}"></sly>

<sly data-sly-test="${mobileCheck && (wcmmode.edit || wcmmode.design)}">Open an Account CTA enabled for mobile only</sly>
<sly data-sly-use.genericUtil="${'com.suntrust.dotcom.utils.GenericUtil'  @linkURL=properties.linkURL,urlParams=properties.urlParams,anchorTag=properties.anchorTag}"></sly>

<sly data-sly-test="${properties.tagline || properties.jcr:title}">
<div class="suntrust-openaccount-container">
	<div data-sly-test="${!mobileCheck}" class="suntrust-openaccount-containerdiv">
       <a href="${genericUtil.modifyURL}" target="${properties.target}" class="openLink">
            <div class="suntrust-openaccount-title">${properties.tagline @ context='html'}</div>
            <div class="suntrust-openaccount-image-text-aligner">
                <div class="suntrust-openanaccount-CTA-link">
                    ${properties.jcr:title @ context='html'}
                </div>
                <div class="suntrust-openaccount-image-container"></div>
            </div>
        </a>
	</div>
	<div data-sly-test="${mobileCheck}" class="suntrust-openanaccount-mobile">
      <a href="${genericUtil.modifyURL}" target="${properties.target}" class="openLink">
		<div class="suntrust-openaccount-containerdiv-mobile">
			<div class="suntrust-openaccount-title-mobile">${properties.tagline @ context='html'}</div>
			<div class="suntrust-openaccount-image-text-aligner-mobile">
				<div class="suntrust-openanaccount-CTA-link-mobile">
					${properties.jcr:title @ context='html'}
				</div>
				<div class="suntrust-openaccount-image-container-mobile"></div>
			</div>
		</div>
        </a>
	</div>
</div>
</sly>