<div data-sly-test="${wcmmode.edit || wcmmode.design}" >Configure Color Block Dialog</div>

<div data-sly-use.genericUtil="com.suntrust.dotcom.utils.GenericUtil" data-sly-unwrap></div>

<div data-sly-test.buttonUICheck = "${properties.styleFrom == 'button'}"></div>
<div data-sly-test.textUICheck = "${properties.styleFrom == 'text'}"></div>

<div class="suntrust-grid-row suntrust-colorBlock">
	<div class="suntrust-rowFlex">
		<div data-sly-test="${buttonUICheck}" data-sly-unwrap>
			<div class="sun-right-rail-promo-bg ${properties.buttonTheme}">
				<div class="sun-right-rail-promo-heading sun-text-align-left">${properties.buttonHeading @ context='html'}</div>
				<p class="sun-right-rail-promo-description sun-text-align-left">${properties.buttonSub @ context='html'}</p>
				<div class="sun-text-align-center suntrust-staticButton" data-sly-test="${properties.buttonURL}" >
					<div data-sly-use.genericUtil="${'com.suntrust.dotcom.utils.GenericUtil'  @linkURL=properties.buttonURL,urlParams=properties.buttonParams,anchorTag=properties.buttonAnchor}" data-sly-unwrap></div>
					<sly data-sly-test="${properties.buttonTarget == '_smallmodal' || properties.buttonTarget == '_mediummodal' || properties.buttonTarget == '_largemodal'}">
						<a tabindex="0" data-modal="${properties.buttonTarget}" class="sun-right-rail-promo-cta-static" data-anchor="${genericUtil.modifyURL}" data-suntrust-class="suntrust-content-modalWindow"  title="${properties.buttonTitleTag}">${properties.buttonTitle @ context='html'}</a>
					</sly>
					<sly data-sly-test="${properties.buttonURL && (properties.buttonTarget == '_self' || properties.buttonTarget == '_blank')}">
						<a class="sun-right-rail-promo-cta-static" href="${genericUtil.modifyURL}" target="${properties.buttonTarget}" title="${properties.buttonTitleTag}">${properties.buttonTitle @ context='html'}</a>
					</sly>
				</div>
			</div>
		</div>

		<div data-sly-test="${textUICheck}" data-sly-unwrap>
			<div class="sun-right-rail-promo-bg ${properties.textTheme}">
				<div class="sun-right-rail-promo-heading sun-text-align-left">${properties.textHeading @ context='html'}</div>
				<p class="sun-right-rail-promo-description sun-text-align-left">${properties.textSub @ context='html'}</p>
				<div class="sun-text-align-right" data-sly-test="${properties.textURL}">
					<div data-sly-use.genericUtil="${'com.suntrust.dotcom.utils.GenericUtil'  @linkURL=properties.textURL,urlParams=properties.textParams,anchorTag=properties.textAnchor}" data-sly-unwrap></div>
					<sly data-sly-test="${properties.textTarget == '_smallmodal' || properties.textTarget == '_mediummodal' || properties.textTarget == '_largemodal'}">
						<a tabindex="0" data-modal="${properties.textTarget}" class="suntrust-promo-link-text" data-anchor="${genericUtil.modifyURL}" data-suntrust-class="suntrust-content-modalWindow" title="${properties.textTitleTag}">${properties.textTitle @ context='html'}</a>
					</sly>
					<sly data-sly-test="${properties.textURL && (properties.textTarget == '_self' || properties.textTarget == '_blank')}">
						<a class="suntrust-promo-link-text" href="${genericUtil.modifyURL}" target="${properties.textTarget}" title="${properties.textTitleTag}">${properties.textTitle @ context='html'}</a>
					</sly>
				</div>
			</div>
		</div>
	</div>
</div>