<script src="/etc/designs/dotcom/main/js/awscacheclearform.js"></script>
<form id="awscacheclear" action="" name="awscacheclear" method="POST">
<div class="input_fields_wrap">
    <button class="add_field_button iw-base-actionlist-link suntrust-tertiary-button_CTAs">Add More Page Paths</button><br><br>
    <div style="display:flex;flex-direction: row;align-items: center;"><input class="iw-base-text-field-data inputtextField" type="text" name="input1" size="60"></div><br>
</div>
<br><input id="submitForm" type="submit" class="iw-base-actionlist-link suntrust-tertiary-button_CTAs" value="Submit"><br>
</form>
<p id="successMessage" style="display:none; font-weight: bold;">AWS request submitted, please check after sometime. Refresh the Page to submit a New Request.</p>
