<div data-sly-test="${wcmmode.edit}">Access Column Container Dialog from <b>Here</b></div>
<div  data-sly-use.mbeanObj="${'com.suntrust.dotcom.utils.ColumnContainerColumnControlHelper'}" data-sly-unwrap>
	<div  data-sly-test="${(wcmmode.edit || wcmmode.design)}" data-sly-unwrap>
		<p>${mbeanObj.moveNodes}</p>
	</div>
	<div data-sly-test.remPad="${properties.removepadding}"></div>
	<div data-sly-test="${remPad=='true'}" data-sly-unwrap>
		<div data-sly-test="${properties.layout=='col2'}" data-sly-unwrap>
			<div class="suntrust-grid-row suntrust-column-container">
				<div class="column_divider"> <sly data-sly-resource="${@path='colcol1', resourceType='wcm/foundation/components/responsivegrid'}" /> </div>
				<div class="column_divider"> <sly data-sly-resource="${@path='colcol2', resourceType='wcm/foundation/components/responsivegrid'}" /> </div>
			</div>
		</div>

		<div data-sly-test="${properties.layout=='col3'}" data-sly-unwrap>
			<div class="suntrust-grid-row suntrust-column-container">
				<div class="column_divider"> <sly data-sly-resource="${@path='colcol1', resourceType='wcm/foundation/components/responsivegrid'}" /> </div>
				<div class="column_divider"> <sly data-sly-resource="${@path='colcol2', resourceType='wcm/foundation/components/responsivegrid'}" /> </div>
				<div class="column_divider"> <sly data-sly-resource="${@path='colcol3', resourceType='wcm/foundation/components/responsivegrid'}" /> </div>
			</div>
		</div>

		<div data-sly-test="${properties.layout=='col4'}" data-sly-unwrap>
			<div class="suntrust-grid-row suntrust-column-container">
				<div class="column_divider"> <sly data-sly-resource="${@path='colcol1', resourceType='wcm/foundation/components/responsivegrid'}" /> </div>
				<div class="column_divider"> <sly data-sly-resource="${@path='colcol2', resourceType='wcm/foundation/components/responsivegrid'}" /> </div>
				<div class="column_divider"> <sly data-sly-resource="${@path='colcol3', resourceType='wcm/foundation/components/responsivegrid'}" /> </div>
				<div class="column_divider"> <sly data-sly-resource="${@path='colcol4', resourceType='wcm/foundation/components/responsivegrid'}" /> </div>
			</div>
		</div>
	</div>

	<div data-sly-test="${remPad=='false'}" data-sly-unwrap>
		<div data-sly-test="${properties.layout=='col2'}" data-sly-unwrap>
			<div class="suntrust-grid-row suntrust-column-container">
				<div class="column_divider column_divider_padding_leftRight"> <sly data-sly-resource="${@path='colcol1', resourceType='wcm/foundation/components/responsivegrid'}" /> </div>
				<div class="column_divider column_divider_padding_leftRight"> <sly data-sly-resource="${@path='colcol2', resourceType='wcm/foundation/components/responsivegrid'}" /> </div>
			</div>
		</div>

		<div data-sly-test="${properties.layout=='col3'}" data-sly-unwrap>
			<div class="suntrust-grid-row suntrust-column-container">
				<div class="column_divider column_divider_padding_leftRight"> <sly data-sly-resource="${@path='colcol1', resourceType='wcm/foundation/components/responsivegrid'}" /> </div>
				<div class="column_divider column_divider_padding_leftRight"> <sly data-sly-resource="${@path='colcol2', resourceType='wcm/foundation/components/responsivegrid'}" /> </div>
				<div class="column_divider column_divider_padding_leftRight"> <sly data-sly-resource="${@path='colcol3', resourceType='wcm/foundation/components/responsivegrid'}" /> </div>
			</div>
		</div>

		<div data-sly-test="${properties.layout=='col4'}" data-sly-unwrap>
			<div class="suntrust-grid-row suntrust-column-container">
				<div class="column_divider column_divider_padding_leftRight"> <sly data-sly-resource="${@path='colcol1', resourceType='wcm/foundation/components/responsivegrid'}" /> </div>
				<div class="column_divider column_divider_padding_leftRight"> <sly data-sly-resource="${@path='colcol2', resourceType='wcm/foundation/components/responsivegrid'}" /> </div>
				<div class="column_divider column_divider_padding_leftRight"> <sly data-sly-resource="${@path='colcol3', resourceType='wcm/foundation/components/responsivegrid'}" /> </div>
				<div class="column_divider column_divider_padding_leftRight"> <sly data-sly-resource="${@path='colcol4', resourceType='wcm/foundation/components/responsivegrid'}" /> </div>
			</div>
		</div>
	</div>
</div>