<meta name="format-detection" content="telephone=no" />
<!-- Analytics Integration -->
<sly data-sly-use.analyticsGlobalDataLayerHelper="com.suntrust.dotcom.utils.AnalyticsGlobalDataLayerHelper"/>
<sly data-sly-use.configServiceUse="${'com.suntrust.dotcom.utils.ConfigServiceUse' @ property='bootstrap.js.path'}"/>
<sly data-sly-use.appDynamicsConfig="${'com.suntrust.dotcom.utils.ConfigServiceUse' @ property='appdynamics.key'}"/>
<sly data-sly-use.adrumurlhttp="${'com.suntrust.dotcom.utils.ConfigServiceUse' @ property='appdynamics.adrumurlhttp'}"/>
<sly data-sly-use.adrumurlhttps="${'com.suntrust.dotcom.utils.ConfigServiceUse' @ property='appdynamics.adrumurlhttps'}"/>
<sly data-sly-use.beaconurlhttp="${'com.suntrust.dotcom.utils.ConfigServiceUse' @ property='appdynamics.beaconurlhttp'}"/>
<sly data-sly-use.beaconurlhttps="${'com.suntrust.dotcom.utils.ConfigServiceUse' @ property='appdynamics.beaconurlhttps'}"/>
<sly data-sly-use.googleSiteVerification="${'com.suntrust.dotcom.utils.ConfigServiceUse' @ property='google.site.verification'}"/>
<sly data-sly-use.msValidate="${'com.suntrust.dotcom.utils.ConfigServiceUse' @ property='msvalidate'}"/>
<sly data-sly-use.appdynamicsjsurl="${'com.suntrust.dotcom.utils.ConfigServiceUse' @ property='appdynamics.jsurl'}"/>
<sly data-sly-use.shapejsflag="${'com.suntrust.dotcom.utils.ConfigServiceUse' @ property='shapejs.enabled'}"/>
<sly data-sly-use.shapejspath="${'com.suntrust.dotcom.utils.ConfigServiceUse' @ property='shapejs.path'}"/>
<sly data-sly-include="/libs/wcm/core/components/init/init.jsp"/>
<sly data-sly-test="${appDynamicsConfig.property}" data-sly-unwrap>
<script type="text/javascript">
        window['adrum-start-time'] = new Date().getTime();
            (function(config){
                config.appKey = '${appDynamicsConfig.property @ context='html'}';
                config.adrumExtUrlHttp = '${adrumurlhttp.property @ context='html'}';
                config.adrumExtUrlHttps = '${adrumurlhttps.property @ context='html'}';
                config.beaconUrlHttp = '${beaconurlhttp.property @ context='html'}';
                config.beaconUrlHttps = '${beaconurlhttps.property @ context='html'}';
                config.xd = {enable : false};
            })(window['adrum-config'] || (window['adrum-config'] = {}));
            document.write(unescape('%3Cscript')
                    + " src='${appdynamicsjsurl.property @ context='html'}' "
                    + " type='text/javascript' charset='UTF-8'" 
                     + unescape('%3E%3C/script%3E'));       
</script>
</sly>

<title>${analyticsGlobalDataLayerHelper.pageTitle}</title>
<link rel="canonical" href="${analyticsGlobalDataLayerHelper.canonicalUrl}"/>
<meta name="description" content="${analyticsGlobalDataLayerHelper.pageDescription}"/>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta property="og:title" content="${analyticsGlobalDataLayerHelper.pageTitle}"/>
<meta property="og:description" content="${analyticsGlobalDataLayerHelper.pageDescription}"/>
<meta property="og:url" content="${analyticsGlobalDataLayerHelper.canonicalUrl}"/>
<meta property="og:image" content="${analyticsGlobalDataLayerHelper.pageThumbnailImage}"/>
<meta property="og:site_name" content="SunTrust"/>
<meta property="og:fb:app_id" content="fb"/>
<sly data-sly-test="${googleSiteVerification.property}">
	<meta name="google-site-verification" content="${googleSiteVerification.property}"/>
</sly>
<sly data-sly-test="${msValidate.property}">
	<meta name="msvalidate.01" content="${msValidate.property}"/>
</sly> 
<sly data-sly-test="${analyticsGlobalDataLayerHelper.externalSearch =='true'}">
	<meta name="robots" content="noindex, nofollow">
</sly>
<div data-sly-test="${shapejsflag.property}" data-sly-unwrap>
	<sly data-sly-test="${shapejspath.property}">
		<script type="text/javascript" src="${shapejspath.property}"></script>
    </sly>
</div>
<sly data-sly-include="/apps/dotcom/components/page/page/headlibs.html" />
<!-- Analytics Integration -->
<div data-sly-test="${configServiceUse.property}" data-sly-unwrap>
	<script type="text/javascript" src="${configServiceUse.property}"></script>
</div>
<script type="text/javascript"> window.dataLayer = window.dataLayer || []; </script>
<div data-sly-test="${configServiceUse.property}" data-sly-unwrap>
	<link rel="dns-prefetch" href="https://dpm.demdex.net">
	<link rel="dns-prefetch" href="https://somni.suntrust.com">
	<link rel="preconnect" href="https://suntrust.tt.omtrdc.net">
</div>

	<!-- momentumonup page load analytics script to send page name-->
	<!-- script>
	"use strict";
	if(window.location.href.indexOf("momentumonup") > -1) {
		var n = pageName.lastIndexOf("|");
		var pageNameOnly = pageName.substring(n+1, pageName.length);
		console.log("MomentumOnup Page load analytics invoked: va|momentumonup-"+pageNameOnly);
		s.campaign (v0) = "va|momentumonup-"+pageNameOnly;
    }
	</script -->
	<!-- End -->
	
<!-- End Analytics Integration -->

<!--[if IE]>
<style>
	.suntrust-component-dynamicthumbnaillist .suntrust-thumbnail-img-container > img{width:auto !important;}
	</style>
<![endif]-->