<sly
    data-sly-use.clientlibDependencies="/libs/granite/sightly/templates/clientlib.html"
    data-sly-unwrap />
<sly 
    data-sly-call="${clientlibDependencies.js @ categories='dotcom.dependencies'}"
    data-sly-unwrap />
<sly
    data-sly-call="${clientlibDependencies.css @ categories='dotcom.dependencies'}"
    data-sly-unwrap />
<sly
	data-sly-use.clientlibMain="/libs/granite/sightly/templates/clientlib.html"
	data-sly-unwrap />
<sly data-sly-call="${clientlibMain.css @ categories='dotcom.main'}"
	data-sly-unwrap />


<div data-sly-test.author="${wcmmode.edit}" data-sly-unwrap>
<sly
    data-sly-use.clientlibAuthor="/libs/granite/sightly/templates/clientlib.html"
    data-sly-unwrap />
<sly
    data-sly-call="${clientlibAuthor.css @ categories='dotcom.author'}"
    data-sly-unwrap />
</div>
<!--/* Initialize the Authoring UI */-->
<sly data-sly-include="/apps/dotcom/components/page/page/author.html" />
<!--/* Initialize Targeting */-->
<sly data-sly-resource="${'contexthub' @ resourceType='granite/contexthub/components/contexthub'}"/>
