<!-- Coach Mark Start -->
<sly data-sly-test.coachCheck="${pageProperties.coachmark == 'true'}"></sly>
<sly data-sly-test="${!coachCheck}">
	<div id="scroll-indicator" class="ng-widget scroll-indicator " > <a class="scroll-arrow-indicator"></a> </div>
</sly>
<!-- Coach Mark End -->

<sly data-sly-use.speedBumpPageUrl="${'com.suntrust.dotcom.utils.ConfigServiceUse' @ property='speed.bump.page.url'}">
    <input type="hidden" name="speed-bump-page-url" value="${speedBumpPageUrl.property}">
</sly>
<div data-sly-unwrap data-sly-test="${wcmmode.edit}">
	<input type="hidden" name="modecheck" id="modecheck" value="edit"/>
</div>
<!-- Modal popup div start-->
<div class="suntrust-modal suntrust-height" data-suntrust-class="example-modal" data-modal="">
    <div class="suntrust-overlay" data-suntrust-class="suntrust-overlay">
    </div>
    <div class="suntrust-modal-container" data-modal-window="">
        <header class="suntrust-modal-header" data-click-safety="">
            <h2></h2>
            <button tabindex="0" class="suntrust-close" data-suntrust-class="close-modal"><span class="suntrust-accessible-text">close modal</span></button>
        </header>
        <div class="suntrust-modal-inner" data-suntrust-class="suntrust-modal-inner" data-click-safety="">

        </div>
    </div>
</div>