<div
	data-sly-use.obj="com.suntrust.dotcom.components.DecisionTreeComponent"
	data-sly-unwrap></div>

<div data-sly-test="${wcmmode.edit || wcmmode.design}" data-sly-unwrap>
	Please configure decision tree component

	<div data-sly-list.step="${obj.stepItems}" data-sly-unwrap>
		<div>${step.steptitle}</div>
		<!-- div>${step.firstSlideAjaxURL}</div-->
		<!-- br/-->
		<div data-sly-list.slide="${step.slideItems}" data-sly-unwrap>
			<div>${slide.slidepath}</div>
		</div>
		<br />
	</div>
</div>

<div data-sly-test="${wcmmode.preview || wcmmode.disabled}"
	data-sly-unwrap>
	<div data-sly-test="${obj.stepItems[0].firstSlideresourceURL}"
		data-sly-unwrap>
		<sly
			data-sly-resource='${@ path=obj.stepItems[0].firstSlideresourceURL}' />
	</div>
</div>
