<div data-sly-test="${!properties.image && !properties.heading && !properties.alttext && (wcmmode.edit || wcmmode.design)}" >Configure Promotion List Dialog</div>
   <div data-sly-unwrap data-sly-use.fetch="${'com.suntrust.dotcom.utils.GenericUtil' @linkURL=properties.linkURL,urlParams=properties.urlParams,anchorTag=properties.anchorTag}"></div>    
<!-- Promotion List Start-->
<div class="suntrust-component-promotion-list">
	<div class="row sun-promotion sun-promo-imagetext">
	  <div class="col-xs-5 sun-right-rail-promo-image-container">		
		<a href="${fetch.modifyURL}"  target="${properties.target}" title="${properties.alttext}">
		  <img class="img-responsive sun-right-rail-promo-image" src="${properties.image}" alt="${properties.alttext}"/>
		</a>
	  </div>
	  <div class="col-xs-7 sun-promo-text">
		<div data-sly-test="${properties.titletag}" data-sly-unwrap>
			<a title="${properties.titletag}" href="${fetch.modifyURL}" class="sun-promo-title" target="${properties.target}">
				${properties.heading @ context='html'}
			</a>
		</div>
		<div data-sly-test="${!properties.titletag}" data-sly-unwrap>
			<a title="${properties.title}" href="${fetch.modifyURL}" class="sun-promo-title" target="${properties.target}">
				${properties.heading @ context='html'}
			</a>
		</div>
		<p class="sun-promo-description">${properties.subheading @ context='html'}</p>
	  </div>
	</div>
</div>
<!-- Promotion List end-->
