<div data-sly-test.enableFindUsUI="${!properties.searchinput && (wcmmode.edit || wcmmode.design)}" >Configure Find Us Dialog</div>

<div data-sly-use.utilObj="com.suntrust.dotcom.utils.GenericUtil" data-sly-unwrap></div>
<div data-sly-test.uniqueID="${utilObj.UniqueId}" data-sly-unwrap></div>

<!-- Find Us Component Starts -->
<div class="find_us" data-sly-test="${!enableFindUsUI}">
	<h3 data-sly-test = "${properties.heading}">${properties.heading @context='html'}</h3>
	<div class="find_input clearfix">
		<div class="find_input_search">
			<label for="suntrust-control-findus-${uniqueID}" class="suntrust-accessible-text">${properties.searchinput @context='html'}</label>
			<input data-cat="locations" data-suggestcount="${properties.suggestioncount ? properties.suggestioncount : '5'}" data-searchpath="${properties.dictpath ? properties.dictpath : '/content/suntrust/dotcom/us/en'}" id="suntrust-control-findus-${uniqueID}" class="suntrust_find_input typeahead minThree" type="text" placeholder="${properties.searchinput}" />
			<button class="suntrust-input-location-button" type="button"></button>
			<span class="suntrust-accessible-text">Click here to find your locations.</span>
		</div>
		<sly data-sly-use.genericUtil="${'com.suntrust.dotcom.utils.GenericUtil'  @linkURL=properties.contextPath,urlParams='',anchorTag=''}" />
                <a class="find_search" href="${genericUtil.modifyURL}" value="Go">Go</a>

	</div>
</div>

<!-- Find Us Component Ends -->
