<!-- /* Row Container */ -->
<div class="${properties.theme!='grey' ? 'suntrust-rowContainer' : 'suntrust-rowContainer rowContBgGrey rowContFullWidthBGborderTop'}">
	<div data-sly-test="${!properties.wrappermode && !properties.layout && !properties.theme}" data-sly-unwrap>
		<div class="suntrust-wrapperContainer container">
			<!-- /*SECTION 1 starts*/ -->
			<section class="rowContainer SingleColumn">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<sly data-sly-resource="${@path='rc_par', resourceType='wcm/foundation/components/parsys'}" />
					</div>
				</div>
			</section>
			<!-- /*SECTION 1 ends*/ -->
		</div>		
	</div>
	<div class="${properties.wrappermode=='true' ? 'suntrust-wrapperContainer container' : 'suntrust-wrapperContainer container-fluid adjContainerPad'}">	
		<div data-sly-test="${properties.theme=='white' || properties.theme=='grey'}" data-sly-unwrap>			
			<div data-sly-test="${properties.layout=='singlecolumn'}" data-sly-unwrap>
				<!-- /*SECTION 1 starts*/ -->
				<section class="rowContainer SingleColumn">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<sly data-sly-resource="${@path='rc_par', resourceType='wcm/foundation/components/parsys'}" />
						</div>
					</div>
				</section>
				<!-- /*SECTION 1 ends*/ -->
			</div>			
			<div data-sly-test="${properties.layout=='rightrail'}" data-sly-unwrap>
				<!-- /*SECTION 2 starts*/ -->
				<section class="rowContainer RightRail">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="col-lg-8 suntrust-section3A col-md-8 col-sm-8 col-xs-12">
								<sly data-sly-resource="${@path='rc_left_par', resourceType='wcm/foundation/components/parsys'}" />
							</div>
							<div class="col-lg-4 suntrust-section3B col-md-4 col-sm-4 col-xs-12">
								<sly data-sly-resource="${@path='rc_right_par', resourceType='wcm/foundation/components/parsys'}" />
							</div>
						</div>
					</div>
				</section>
				<!-- /*SECTION 2 ends*/ -->
			</div>			
			<div data-sly-test="${properties.layout=='leftrail'}" data-sly-unwrap>
				<!-- /*SECTION 3 starts*/ -->
				<section class="rowContainer LeftRail">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="col-lg-4 suntrust-section4A col-md-4 col-sm-4 col-xs-12">
								<sly data-sly-resource="${@path='rc_left_par', resourceType='wcm/foundation/components/parsys'}" />
							</div>
							<div class="col-lg-8 suntrust-section4B col-md-8 col-sm-8 col-xs-12">
								<sly data-sly-resource="${@path='rc_right_par', resourceType='wcm/foundation/components/parsys'}" />
							</div>
						</div>
					</div>
				</section>
				<!-- /*SECTION 3 ends*/ -->
			</div>			
			<div data-sly-test="${properties.layout=='pair'}" data-sly-unwrap>
				<!-- /*SECTION 4 starts*/ -->
				<section class="rowContainer PairCol">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="col-lg-6 suntrust-section5A col-md-6 col-sm-6 col-xs-12">
								<sly data-sly-resource="${@path='rc_left_par', resourceType='wcm/foundation/components/parsys'}" />
							</div>
							<div class="col-lg-6 suntrust-section5B col-md-6 col-sm-6 col-xs-12">
								<sly data-sly-resource="${@path='rc_right_par', resourceType='wcm/foundation/components/parsys'}" />
							</div>
						</div>
					</div>
				</section>
				<!-- /*SECTION 4 ends*/ -->
			</div>			
			<div data-sly-test="${properties.layout=='triple'}" data-sly-unwrap>
				<!-- /*SECTION 5 starts*/ -->
				<section class="rowContainer TripleCol">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="col-lg-4 suntrust-section6A col-md-4 col-sm-4 col-xs-12">
								<sly data-sly-resource="${@path='rc_left_par', resourceType='wcm/foundation/components/parsys'}" />
							</div>
							<div class="col-lg-4 suntrust-section6B col-md-4 col-sm-4 col-xs-12">
								<sly data-sly-resource="${@path='rc_center_par', resourceType='wcm/foundation/components/parsys'}" />
							</div>
							<div class="col-lg-4 suntrust-section6C col-md-4 col-sm-4 col-xs-12">
								<sly data-sly-resource="${@path='rc_rightt_par', resourceType='wcm/foundation/components/parsys'}" />
							</div>
						</div>
					</div>
				</section>
				<!-- /*SECTION 5 ends*/ -->
			</div>			
		</div>
		<div data-sly-test="${properties.theme=='whitegrey'}" data-sly-unwrap>
			<div data-sly-test="${properties.layout=='singlecolumn'}" data-sly-unwrap>
				<!-- /*SECTION 1 starts*/ -->
				<section class="rowContainer SingleColumn">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<sly data-sly-resource="${@path='rc_par', resourceType='wcm/foundation/components/parsys'}" />
						</div>
					</div>
				</section>
				<!-- /*SECTION 1 ends*/ -->
			</div>			
			<div data-sly-test="${properties.layout=='rightrail'}" data-sly-unwrap>
				<!-- /*SECTION 2 starts*/ -->
				<section class="rowContainer RightRail">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="col-lg-8 suntrust-section3A col-md-8 col-sm-8 col-xs-12">
								<sly data-sly-resource="${@path='rc_left_par', resourceType='wcm/foundation/components/parsys'}" />
							</div>
							<div class="col-lg-4 suntrust-section3B col-md-4 col-sm-4 col-xs-12 rowContBgGrey rowContRtRailBGborderLt">
								<sly data-sly-resource="${@path='rc_right_par', resourceType='wcm/foundation/components/parsys'}" />
							</div>
						</div>
					</div>
				</section>
				<!-- /*SECTION 2 ends*/ -->
			</div>			
			<div data-sly-test="${properties.layout=='leftrail'}" data-sly-unwrap>
				<!-- /*SECTION 3 starts*/ -->
				<section class="rowContainer LeftRail">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="col-lg-4 suntrust-section4A col-md-4 col-sm-4 col-xs-12">
								<sly data-sly-resource="${@path='rc_left_par', resourceType='wcm/foundation/components/parsys'}" />
							</div>
							<div class="col-lg-8 suntrust-section4B col-md-8 col-sm-8 col-xs-12 rowContBgGrey">
								<sly data-sly-resource="${@path='rc_right_par', resourceType='wcm/foundation/components/parsys'}" />
							</div>
						</div>
					</div>
				</section>
				<!-- /*SECTION 3 ends*/ -->
			</div>			
			<div data-sly-test="${properties.layout=='pair'}" data-sly-unwrap>
				<!-- /*SECTION 4 starts*/ -->
				<section class="rowContainer PairCol">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="col-lg-6 suntrust-section5A col-md-6 col-sm-6 col-xs-12">
								<sly data-sly-resource="${@path='rc_left_par', resourceType='wcm/foundation/components/parsys'}" />
							</div>
							<div class="col-lg-6 suntrust-section5B col-md-6 col-sm-6 col-xs-12 rowContBgGrey">
								<sly data-sly-resource="${@path='rc_right_par', resourceType='wcm/foundation/components/parsys'}" />
							</div>
						</div>
					</div>
				</section>
				<!-- /*SECTION 4 ends*/ -->
			</div>			
			<div data-sly-test="${properties.layout=='triple'}" data-sly-unwrap>
				<!-- /*SECTION 5 starts*/ -->
				<section class="rowContainer TripleCol">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="col-lg-4 suntrust-section6A col-md-4 col-sm-4 col-xs-12">
								<sly data-sly-resource="${@path='rc_left_par', resourceType='wcm/foundation/components/parsys'}" />
							</div>
							<div class="col-lg-4 suntrust-section6B col-md-4 col-sm-4 col-xs-12">
								<sly data-sly-resource="${@path='rc_center_par', resourceType='wcm/foundation/components/parsys'}" />
							</div>
							<div class="col-lg-4 suntrust-section6C col-md-4 col-sm-4 col-xs-12 rowContBgGrey">
								<sly data-sly-resource="${@path='rc_right_par', resourceType='wcm/foundation/components/parsys'}" />
							</div>
						</div>
					</div>
				</section>
				<!-- /*SECTION 5 ends*/ -->
			</div>
		</div>	
	</div>
</div>