<div data-sly-test="${!properties.style && (wcmmode.edit || wcmmode.design)}" >Configure Image Text Component</div>
<div data-sly-use.genericUtil="${'com.suntrust.dotcom.utils.GenericUtil'  @linkURL=properties.linkURL,urlParams=properties.urlParams,anchorTag=properties.anchorTag}" data-sly-unwrap></div>

<!--/*Image Text Style */-->
<div data-sly-test="${properties.style == 'imagetext'}" >
	<div class="suntrust-img-text-container">
		<div data-sly-test="${properties.title}" data-sly-unwrap>
			<h2>${properties.title @context='html'}</h2>
		</div>
		<div data-sly-test="${properties.image}" data-sly-unwrap>
			<div class="suntrust-image-container">
			<sly data-sly-test="${genericUtil.modifyURL != ''}">
                <div data-sly-test="${properties.target == '_self' || properties.target == '_blank'}">
					<a href="${genericUtil.modifyURL}" title="${properties.titletag}" target="${properties.target}"><img class="img-responsive" src="${properties.image}" alt="${properties.alttext}" title="${properties.imagetitle}"></a>
				</div>
				<div data-sly-test="${properties.target == '_smallmodal' || properties.target == '_mediummodal' || properties.target == '_largemodal'}">
					<a title="${properties.titletag}" tabindex="0" data-anchor="${genericUtil.modifyURL}" data-suntrust-class="suntrust-content-modalWindow" data-modal="${properties.target}"><img class="img-responsive" src="${properties.image}" alt="${properties.alttext}" title="${properties.imagetitle}"></a>
				</div>
			</sly>
			<sly data-sly-test="${genericUtil.modifyURL == ''}">
				<img class="img-responsive" src="${properties.image}" alt="${properties.alttext}" title="${properties.imagetitle}">
			</sly>
			</div>
		</div>
		<div data-sly-test="${properties.textcontent}" data-sly-unwrap>
			<div class="suntrust-text-container">${properties.textcontent @context='html'}</div>
		</div>
		<div style="clear: both;">&nbsp;</div>
	</div>
</div>

<!--/*Text Image Style */-->
<div data-sly-test="${properties.style == 'textimage'}" data-sly-unwrap>
	<div class="suntrust-img-text-container suntrust-text-left">
		<div data-sly-test="${properties.title}" data-sly-unwrap>
			<h2>${properties.title @context='html'}</h2>
		</div>
		<div data-sly-test="${properties.textcontent}" data-sly-unwrap>
			<div class="suntrust-text-container">${properties.textcontent @context='html'}</div>
		</div>
		<div data-sly-test="${properties.image}" data-sly-unwrap>
			<div class="suntrust-image-container">
			<sly data-sly-test="${genericUtil.modifyURL != ''}">
                <div data-sly-test="${properties.target == '_self' || properties.target == '_blank'}">
					<a href="${genericUtil.modifyURL}" title="${properties.titletag}" target="${properties.target}"><img class="img-responsive" src="${properties.image}" alt="${properties.alttext}" title="${properties.imagetitle}"></a>
				</div>
				<div data-sly-test="${properties.target == '_smallmodal' || properties.target == '_mediummodal' || properties.target == '_largemodal'}">
					<a title="${properties.titletag}" tabindex="0" data-anchor="${genericUtil.modifyURL}" data-suntrust-class="suntrust-content-modalWindow" data-modal="${properties.target}"><img class="img-responsive" src="${properties.image}" alt="${properties.alttext}" title="${properties.imagetitle}"></a>
				</div>
			</sly>
			<sly data-sly-test="${genericUtil.modifyURL == ''}">
				<img class="img-responsive" src="${properties.image}" alt="${properties.alttext}" title="${properties.imagetitle}">
			</sly>
			</div>
		</div>
		<div style="clear: both;">&nbsp;</div>
	</div>
</div>

<!--/*Image Only Style */-->
<div data-sly-test="${properties.style == 'imageonly'}" >
	<div data-sly-test="${properties.image}" data-sly-unwrap>
		<sly data-sly-test="${pageProperties.itempropenable == 'true'}">
			<div class="suntrust-img-text-container suntrust-img-only-container" itemprop = "image">
				<div class="suntrust-image-container">
				<sly data-sly-test="${genericUtil.modifyURL != ''}">
					<div data-sly-test="${properties.target == '_self' || properties.target == '_blank'}">
						<a href="${genericUtil.modifyURL}" title="${properties.titletag}" target="${properties.target}"><img class="img-responsive" src="${properties.image}" alt="${properties.alttext}" title="${properties.imagetitle}"></a>
					</div>
					<div data-sly-test="${properties.target == '_smallmodal' || properties.target == '_mediummodal' || properties.target == '_largemodal'}">
						<a title="${properties.titletag}" tabindex="0" onclick="setModalParams(${properties.target});" data-anchor="${genericUtil.modifyURL}" data-suntrust-class="suntrust-content-modalWindow" data-modal="${properties.target}"><img class="img-responsive" src="${properties.image}" alt="${properties.alttext}" title="${properties.imagetitle}"></a>
					</div>
				</sly>
				<sly data-sly-test="${genericUtil.modifyURL == ''}">
					<img class="img-responsive" src="${properties.image}" alt="${properties.alttext}" title="${properties.imagetitle}">
				</sly>
				</div>
				<div style="clear: both;">&nbsp;</div>
			</div>
		</sly>
		<sly data-sly-test="${!pageProperties.itempropenable || pageProperties.itempropenable == 'false'}">
			<div class="suntrust-img-text-container suntrust-img-only-container" itemprop = "image">
				<div class="suntrust-image-container">
				<sly data-sly-test="${genericUtil.modifyURL != ''}">
					<div data-sly-test="${properties.target == '_self' || properties.target == '_blank'}">
						<a href="${genericUtil.modifyURL}" title="${properties.titletag}" target="${properties.target}"><img class="img-responsive" src="${properties.image}" alt="${properties.alttext}" title="${properties.imagetitle}"></a>
					</div>
					<div data-sly-test="${properties.target == '_smallmodal' || properties.target == '_mediummodal' || properties.target == '_largemodal'}">
						<a title="${properties.titletag}" tabindex="0" onclick="setModalParams(${properties.target});" data-anchor="${genericUtil.modifyURL}" data-suntrust-class="suntrust-content-modalWindow" data-modal="${properties.target}"><img class="img-responsive" src="${properties.image}" alt="${properties.alttext}" title="${properties.imagetitle}"></a>
					</div>
				</sly>
				<sly data-sly-test="${genericUtil.modifyURL == ''}">
					<img class="img-responsive" src="${properties.image}" alt="${properties.alttext}" title="${properties.imagetitle}">
				</sly>
				</div>
				<div style="clear: both;">&nbsp;</div>
			</div>
		</sly>
	</div>
</div>

<!--/*Text Only Style*/-->
<div data-sly-test="${properties.style == 'textonly'}" >
	<div data-sly-test="${properties.textcontent}" data-sly-unwrap>
		<sly data-sly-test="${pageProperties.itempropenable == 'true'}">
			<div class="suntrust-img-text-container suntrust-text-only-container" itemprop = "articleBody">
				${properties.textcontent @context='html'}
			</div>
		</sly>
		<sly data-sly-test="${!pageProperties.itempropenable || pageProperties.itempropenable == 'false'}">
			<div class="suntrust-img-text-container suntrust-text-only-container">
				${properties.textcontent @context='html'}
			</div>
		</sly>
	</div>
</div>

<!-- 

THIS PIECE OF ANALYTICS CODE IS MOVED TO ENSIGTHEN. Ensighen custom Tag name is STcom_AEM_DFSOLBOnUPLinkTracking.
THIS SECTION OF CODE SHOULD NOT BE DELETED AND SHOULD BE ALWAYS COMMENTED.
THIS CODE IS FOR REFERENCE PURPOSE ONLY.

<script>
				
"use strict";

	if($('.imagetext').length>0)
    {
		bindingAnalyticsEvent($('.imagetext'));
    }
    if($('.whattoexpectnext').length>0)
    {
		bindingAnalyticsEvent($('.whattoexpectnext'));
    }
    if($('.dfssectionfeature').length>0)
    {
		bindingAnalyticsEvent($('.dfssectionfeature'));
    }

function bindingAnalyticsEvent(component)
{
    component.each(function()
	{
        $(this).find('a[href*="suntrust.com/UI"],a[href*="suntrust.com/ui"]').on('click',function(event)
        {		
            //linktext = $(this).text().trim();
			//console.log("linktext: "+linktext);
            //OLBOnUpUrlTracking("STcom|NewAccountStart|OLBEnrollment"+linktext);
            OLBOnUpUrlTracking("STcom|NewAccountStart|OLBEnrollment");
        });
	});
    
    component.each(function()
	{
        $(this).find('a[href*="https://onupmovement.suntrust.com/onupchallenge/"]').on('click',function(event)
        {		
            //linktext = $(this).text().trim();
			//console.log("linktext: "+linktext);
            //OLBOnUpUrlTracking("STcom|NewAccountStart|"+linktext);
            OLBOnUpUrlTracking("STcom|NewAccountStart|OnUpChallenge");
        });
	});
}

function OLBOnUpUrlTracking(eVar45Text){
	try
	{
		 console.log("eVar45Text : " + eVar45Text);
		 s.linkTrackVars='eVar45,events'; 
		 s.linkTrackEvents='event23'; 
		 s.eVar45=eVar45Text; 
		 s.events='event23'; 
		 s.tl(this,'o',eVar45Text);
	}
	catch(err)
	{
		console.log("Exception caught in custom analytics tag small cta anchor click event: " + err.message);
	}
</script>-->