<!--/* Adds a Mortgage Rates component */-->
<div data-sly-test="${wcmmode.edit || wcmmode.design}" >Configure Mortgage Rates Component</div>
<div data-sly-use.mbeanObj="${'com.suntrust.dotcom.components.MortgageRatesComponent'}" data-sly-unwrap></div>
<div data-sly-test="${properties.productpageurl}" data-sly-unwrap>
	<div data-sly-unwrap data-sly-use.productpageurl="${'com.suntrust.dotcom.utils.GenericUtil' @linkURL=properties.productpageurl,urlParams=properties.urlParams,anchorTag=properties.anchor}"></div>
</div>
<div data-sly-test="${properties.originationurl}" data-sly-unwrap>
	<div data-sly-unwrap data-sly-use.originationurl="${'com.suntrust.dotcom.utils.GenericUtil' @linkURL=properties.originationurl,urlParams=properties.originationurlParams,anchorTag=properties.originationanchor}"></div>
</div>
<div data-sly-test="${properties.pointsurl}" data-sly-unwrap>
	<div data-sly-unwrap data-sly-use.pointsurl="${'com.suntrust.dotcom.utils.GenericUtil' @linkURL=properties.pointsurl,urlParams=properties.pointsurlParams,anchorTag=properties.pointsanchor}"></div>
</div>
<div data-sly-test="${properties.productname}" data-sly-unwrap>
	<div data-sly-test="${properties.hideproduct=='false'}" data-sly-unwrap>
		<div class="suntrust-mortgageHolder">
			<div class="suntrust-mortgagetable">			
				<div class="suntrust-mortgagetablewrapper">
                    <div class="col-lg-2 col-sm-12 col-xs-12 suntrust-leftwrapper suntrust-blue" data-anchor="${properties.anchorname}">                        
                            <a href="${productpageurl.modifyURL}" target="${properties.target}" title="${properties.titletag}">${properties.productname @ context='html'}</a>                        
                    </div>
					<div class="col-lg-10 col-sm-12 col-xs-12 suntrust-rightwrapper">
						<div class="suntrust-rightwrappercontent">
							<div class="col-lg-3 col-sm-4 col-xs-12 suntrust-rightwrappercontentLeft">
								<p class="suntrust-tableheadingtext">${properties.rateheading @ context='html'}</p>
								<p class="suntrust-tablevaluetext suntrust-percentageLink">${properties.ratevalue @ context='html'}</p>
								<p class="suntrust-tableheadingtext">${properties.aprheading @ context='html'}</p>
								<p class="suntrust-tablevaluetext suntrust-percentageLink">${properties.aprvalue @ context='html'}</p>
								<div data-sly-test="${properties.originationtarget=='_self' || properties.originationtarget=='_blank'}" data-sly-unwrap>
									<p class="suntrust-tablevalueslast"><span class="suntrust-whole-text"><a href="${originationurl.modifyURL}" target="${properties.originationtarget}" title="${properties.originationtitletag}">${properties.originationtext @ context='html'}<sup></sup></span></a> <span class="suntrust-origination-value">${properties.originationfee @ context='html'}</span></p>
								</div>
								<div data-sly-test="${properties.originationtarget!='_self' && properties.originationtarget!='_blank'}" data-sly-unwrap>
									<div data-sly-test="${properties.originationurl}" data-sly-unwrap>
										<p role="link" class="suntrust-tablevalueslast" data-anchor="${originationurl.modifyURL}" data-modal="${properties.originationtarget}" data-suntrust-class="suntrust-content-modalWindow"><span tabindex="0" class="suntrust-whole-text"><span class="suntrust-leftLabel">${properties.originationtext @ context='html'}</span><sup></sup></span> <span class="suntrust-origination-value">${properties.originationfee @ context='html'}</span></p>
									</div>
									<div data-sly-test="${!properties.originationurl}" data-sly-unwrap>
										<p class="suntrust-tablevalueslast" data-anchor="${originationurl.modifyURL}"><span class="suntrust-leftLabel">${properties.originationtext @ context='html'}</span><sup></sup><span class="suntrust-origination-value">${properties.originationfee @ context='html'}</span></p>
									</div>
								</div>
								<div data-sly-test="${properties.pointstarget=='_self' || properties.pointstarget=='_blank'}" data-sly-unwrap>
									<p class="suntrust-tablevalueslast"><span class="suntrust-whole-text"><a href="${pointsurl.modifyURL}" target="${properties.pointstarget}" title="${properties.pointstitletag}">${properties.pointstext @ context='html'}<sup></sup> </a></span><span class="suntrust-points">${properties.points @ context='html'}</span></p>
								</div>
								<div data-sly-test="${properties.pointstarget!='_self' && properties.pointstarget!='_blank'}" data-sly-unwrap>
									<div data-sly-test="${properties.pointsurl}" data-sly-unwrap>
										<p role="link" class="suntrust-tablevalueslast" data-anchor="${pointsurl.modifyURL}" data-modal="${properties.pointstarget}" data-suntrust-class="suntrust-content-modalWindow"><span tabindex="0" class="suntrust-whole-text"><span class="suntrust-leftLabel">${properties.pointstext @ context='html'}</span><sup></sup> </span><span class="suntrust-points">${properties.points @ context='html'}</span></p>
									</div>
									<div data-sly-test="${!properties.pointsurl}" data-sly-unwrap>
										<p class="suntrust-tablevalueslast" data-anchor="${pointsurl.modifyURL}" ><span class="suntrust-whole-text"><span class="suntrust-leftLabel">${properties.pointstext @ context='html'}</span><sup></sup></span><span class="suntrust-points">${properties.points @ context='html'}</span></p>
									</div>
								</div>								
							</div>
							<div class="col-lg-9 col-sm-8 col-xs-12 suntrust-rightwrappercontentRight">
								<div class="suntrust-textrightRates">${properties.exampletext @ context='html'}</div>
								<div class="suntrust-rightwrapperamount">
									<h3>${properties.tabletitle @ context='html'}</h3>
									<table class="hidden-xs">
										<tbody>
											<tr>
												<th class="${properties.tablealignment}">${properties.thamounttext @ context='html'}</th>
												<th class="${properties.tablealignment}">${properties.thratetext @ context='html'}</th>
												<th class="${properties.tablealignment}">${properties.thmonthstext @ context='html'}</th>
											</tr>																						
											<div data-sly-test="${mbeanObj.mBean && properties.ratesexamples}" data-sly-unwrap>
												<div data-sly-list.rates="${mbeanObj.mBean}"data-sly-unwrap>
													<div data-sly-test="${ratesList.index == 0}" data-sly-list.itemsList="${rates.items}" data-sly-unwrap>
														<tr>
														<td class="${properties.tablealignment}">${itemsList.amount @ context='html'}</td>
														<div data-sly-test="${itemsList.rates!=''}" data-sly-unwrap>
															<td class="${properties.tablealignment}">${itemsList.rates @ context='html'}</td>
														</div>
														<div data-sly-test="${itemsList.rates ==''}" data-sly-unwrap>
															<td class="${properties.tablealignment}">${properties.ratevalue @ context='html'}</td>
														</div>
															<td class="${properties.tablealignment}">${itemsList.months @ context='html'}</td>
														</tr>
													</div>
												</div>
											</div> 											
										</tbody>
									</table>
									<div data-sly-test="${mbeanObj.mBean && properties.ratesexamples}" data-sly-unwrap>
										<div data-sly-list.rates="${mbeanObj.mBean}"data-sly-unwrap>
											<div data-sly-test="${ratesList.index == 0}" data-sly-list.itemsList="${rates.items}" data-sly-unwrap>									
												<table class="visible-xs">
													<tbody>
														<tr>
															<th class="${properties.tablealignment}">${properties.thamounttext @ context='html'}</th>
															<td class="${properties.tablealignment}">${itemsList.amount @ context='html'}</td>																											
														</tr>
														<tr>
															<th class="${properties.tablealignment}">${properties.thratetext @ context='html'}</th>
															<div data-sly-test="${itemsList.rates!=''}" data-sly-unwrap>
																<td class="${properties.tablealignment}">${itemsList.rates @ context='html'}</td>
															</div>
															<div data-sly-test="${itemsList.rates ==''}" data-sly-unwrap>
																<td class="${properties.tablealignment}">${properties.ratevalue @ context='html'}</td>
															</div>																												
														</tr>
														<tr>
															<th class="${properties.tablealignment}">${properties.thmonthstext @ context='html'}</th>
															<td class="${properties.tablealignment}">${itemsList.months @ context='html'}</td>																				
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>	
						<div data-sly-test="${properties.disclaimertext}" data-sly-unwrap>
							<div class="suntrust-mortgageDisclaimer">								
								${properties.disclaimertext @ context='html'}
							</div>
						</div>
					</div>
				</div>
			</div>			
		</div>
	</div>
</div>