<div data-sly-test="${!properties.adv_bio && (wcmmode.edit || wcmmode.design)}" >Configure Bio Component</div>
<sly data-sly-test="${properties.adv_bio}">
    <div class="people_right_about border_bottom">
        <h5><strong>${'bio.title' @ i18n}</strong></h5>
        <div class="people_right_about_content">
            <div class="rteSection">${properties.adv_bio @context='html'}</div>
        </div>
        <p class="continueReading">
            <a href="javascript:void(0);" class="suntrust-secondary-button">${'continue_reading' @ i18n}</a>
        </p>
    </div>
</sly>
