<div data-sly-use.sectionFeatureObj="com.suntrust.dotcom.components.SectionFeatureComponent" data-sly-unwrap>
	<div data-sly-test="${wcmmode.edit || wcmmode.design}">Configure DFS Section Features Dialog</div>



	<div class="sectionFeature-DFS">
	
			<ul class="suntrust-feature-list-details suntrust-feature-list-with-link" data-sly-list.items="${sectionFeatureObj.beans}">

			<sly data-sly-test.borderCSSClassName="${itemsList.last ? 'last' : ''}" />
				<li class="${borderCSSClassName}">
					<div class="suntrust-sectionfeature-image-container hidden-xs">
						<sly data-sly-test="${items.linkURL}">
							<a href="${items.linkURL}"  target="${items.target}"><img class="suntrust-feature-image img-responsive" src="${items.image}" alt="${items.alt}"/></a>
						</sly>
						<sly data-sly-test="${!items.linkURL}">
							<img class="suntrust-feature-image img-responsive" src="${items.image}" alt="${items.alt}"/>
						</sly>
					</div>
					<div class="suntrust-sectionfeature-info">
						<h3 class="suntrust-feature-name" data-sly-test="${items.heading}">
							<sly data-sly-test="${items.linkURL}">
								<a href="${items.linkURL}"  target="${items.target}">${items.heading @context='html'}</a>
							</sly>
							<sly data-sly-test="${!items.linkURL}">
								${items.heading @context='html'}
							</sly>
						</h3>
						<p>
							${items.text @ context='html'}
						</p>
					</div>
				</li>
				
			</ul>								
	</div>	
</div>
