<div data-sly-use.sectionFeatureObj="com.suntrust.dotcom.components.SectionFeatureComponent" data-sly-unwrap>
	<div data-sly-test="${wcmmode.edit || wcmmode.design}">Configure Section Features Dialog</div>

<div data-sly-test="${sectionFeatureObj.selectedStyle == 'Image Top Horizontal'}" data-sly-unwrap>
<!--  <h2>Products and services to make banking a breeze</h2><br> -->
	<!--Products and services to make banking a breeze Start -->	
	<!-- ul class="suntrust-checking-accounts-feature suntrust-six-col-info suntrust-dynamic-width clearfix"  data-sly-list.items="${sectionFeatureObj.beans}"-->
	<ul class="${properties.desktoponly ? 'suntrust-checking-accounts-feature suntrust-six-col-info suntrust-dynamic-width suntrust-desktop-only clearfix' : 'suntrust-checking-accounts-feature suntrust-six-col-info suntrust-dynamic-width clearfix'}"  data-sly-list.items="${sectionFeatureObj.beans}">
		<li>
			<div class="sectionFtImgTopItmContainer">
				<sly data-sly-test="${items.linkURL}">
					<a class="sun-checking-accounts-links" href="${items.linkURL}" target="${items.target}">
						<img class="sun-checking-accounts-links-glyph" src="${items.image}" alt="${items.alt}" />
						<sly data-sly-test="heading">
							<span class="sun-checking-accounts-links-text">${items.heading @context='html'}</span>
						</sly>
					</a>
				</sly>
				<sly data-sly-test="${!items.linkURL}">
					<img class="sun-checking-accounts-links-glyph" src="${items.image}" alt="${items.alt}" />
					<sly data-sly-test="heading">
						<span class="sun-checking-accounts-text">${items.heading @context='html'}</span>
					</sly>
				</sly>
			</div> 
		</li>
	</ul>
</div>

<div data-sly-test="${sectionFeatureObj.selectedStyle == 'Image Left Horizontal'}" data-sly-unwrap>
	<!--Section Feature list Column type Start -->							
	<ul class="suntrust-feature-list-details suntrust-four-col-info" data-sly-list.items="${sectionFeatureObj.beans}">
		<li>
			<sly data-sly-test="heading">
				<div class="analytics-placeholder" style="display: none">${items.heading @context='html'}</div>
			</sly>
			<div class="suntrust-sectionfeature-image-container">
			<sly data-sly-test="${items.linkURL}">
				<a href="${items.linkURL}"  target="${items.target}"><img class="suntrust-feature-image img-responsive" src="${items.image}" alt="${items.alt}"></a>
			</sly>
			<sly data-sly-test="${!items.linkURL}">
				<img class="suntrust-feature-image img-responsive" src="${items.image}" alt="${items.alt}">
			</sly>
			</div>
			<div class="suntrust-sectionfeature-info">
				<sly data-sly-test="heading">
					<h4 class="suntrust-feature-name">
						<sly data-sly-test="${items.linkURL}">
							<a href="${items.linkURL}"  target="${items.target}">${items.heading @context='html'}</a>
						</sly>
						<sly data-sly-test="${!items.linkURL}">
							${items.heading @context='html'}
						</sly>
					</h4>
				</sly>
				<p class="rteSection">${items.text @ context='html'}</p>
			</div>
		</li>
	</ul>
<!--Section Feature list Column type  End-->
</div>

<div data-sly-test="${sectionFeatureObj.selectedStyle == 'Image Left Vertical'}" data-sly-unwrap>
	<!--Section Feature List Flex Start-->							
	<ul class="suntrust-feature-list-details suntrust-feature-list-with-link" data-sly-list.items="${sectionFeatureObj.beans}">
		<li>
			<sly data-sly-test="heading">
				<div class="analytics-placeholder" style="display: none">${items.heading @context='html'}</div>
			</sly>
			<div class="suntrust-sectionfeature-image-container"><a href="${items.linkURL}"  target="${items.target}"><img class="suntrust-feature-image img-responsive" src="${items.image}" alt="${items.alt}"></a>
			</div>
			<div class="suntrust-sectionfeature-info">
				<sly data-sly-test="heading">
					<h4 class="suntrust-feature-name">
						<sly data-sly-test="${items.linkURL}">
							<a href="${items.linkURL}"  target="${items.target}">${items.heading @context='html'}</a>
						</sly>
						<sly data-sly-test="${!items.linkURL}">
							${items.heading @context='html'}
						</sly>
					</h4>
				</sly>
				<div class="rteSection">${items.text @ context='html'}</div>
			</div>
		</li>
	</ul>
	<!--Section Feature List Flex End-->
</div>
	
</div>

<!-- 

THIS PIECE OF ANALYTICS CODE IS MOVED TO ENSIGTHEN.
THIS SECTION OF CODE SHOULD NEVER BE DELETED AND SHOULD BE ALWAYS COMMENTED.
THIS CODE IS FOR REFERENCE PURPOSE ONLY.

<script>

"use strict";

$("a.sun-checking-accounts-links").on("click", function() {
	var $ul = $(this).closest("ul.suntrust-six-col-info");
	if($ul.length)
	{
	 try {
		 passSectionFeatureValuesToAnalyticEngine($(this).find('.sun-checking-accounts-links-text').text());
	  } catch (e) {}
	}
});


$("img.suntrust-feature-image.img-responsive").on("click", function() {

	var $analyticsPlaceholderdiv = $(this).closest("li").find("div.analytics-placeholder");
	if($analyticsPlaceholderdiv.length)
	{
		try{
			passSectionFeatureValuesToAnalyticEngine($analyticsPlaceholderdiv.text());
		} catch (e) {}		
	}
});
	
	
$("h4.suntrust-feature-name a").on("click", function() {

	var $analyticsPlaceholderdiv = $(this).closest("li").find("div.analytics-placeholder");
	if($analyticsPlaceholderdiv.length)
	{
		try{
			passSectionFeatureValuesToAnalyticEngine($analyticsPlaceholderdiv.text());
		} catch (e) {}
	}
});
	
	
function passSectionFeatureValuesToAnalyticEngine(headingText) {
	try {
	    var linktext = headingText.replace(/\s+/g, '');
	    var glyphName = window.dataLayer.pageName + "|Glyph|" + linktext.replace(/[^a-z0-9\s]/gi, '');

		console.log("glyphName : " + glyphName);

	    s.linkTrackVars = 'eVar45,events';
	    s.linkTrackEvents = 'event23';
	    s.eVar45 = glyphName;
	    s.events = 'event23';
	    logTrack(window.debugMode, s);
	    s.tl(this, 'o', glyphName);

	  } catch (e) {

	  }
  }


</script>-->
