<sly data-sly-use.ctaObj="com.suntrust.dotcom.components.DecisionTreeSlideComponent"></sly>
<sly data-sly-use.stepObj="${'com.suntrust.dotcom.components.DecisionTreeComponent' @pagePath=resourcePage.Path,parentPagePath=resourcePage.Parent.Path}"></sly>

<section class="component-decisiontree ${stepObj.theme=='dark' ? 'suntrust-dfs-dark-theme' : ''}">
<sly data-sly-test="${wcmmode.edit || wcmmode.design}">
 Configure onboarding find us component
 	<!-- Slide Content Start-->
	<div id="DecisionTreeComponent" class="suntrust-dfs-carousel" data-id="" data-request="" style="background-color:grey">
	<div class="suntrust-carousel-slide" id="DecisionTreeSlide">
		<div class="suntrust-carousel-slide-connect ${properties.titlealignment} ${properties.glyphAlignment}">
			<div class="suntrust-carousel-heading-container">
				<img class="suntrust-carousel-slide-icon"
					src="${properties.glyphImage}" alt="${properties.glyphAltText}" />
				<h2 class="suntrust-carousel-heading ${properties.titlewidth}">${properties.title @context='html'}</h2>
			</div>
			<form action="/search#locations" target="_blank" method="GET"
				class="sun-val-form suntrust-carousel-locator-form">
				<div class="suntrust-carousel-locator-form-fieldset sun-field">
					<label for="suntrust-decision-tree-location" class="suntrust-label">${properties.labelText @context='html'}</label>
					<div class="">
						<input type="text" id="suntrust-decision-tree-location"
							class="suntrust-input sun-autocomplete-input full-width"
							name="searchTerm" value="" />
					</div>
					<input type="submit"
						class="suntrust-carousel-cta-button sun-required-field"
						type="submit" value="${properties.buttonText @context='html'}" />
				</div>
			</form>
		</div>
		<input type="hidden" id="environemnt" value="${ctaObj.runMode}"/>
	</div>
	</div>
</sly>


<sly data-sly-test="${!wcmmode.edit && !wcmmode.design}">
<!-- Slide Content Start-->
	<div id="DecisionTreeComponent" class="suntrust-dfs-carousel" data-id="" data-request="">
	<div class="suntrust-carousel-slide" id="DecisionTreeSlide">
	<div data-sly-test="${stepObj.showNavButton}" data-sly-unwrap>
			<a title="Previous" href="#" data-ajaxurl="" data-direction="Previous" class="sun-product-carousel-prev-arrow sun-decisiontree-slide-link" data-sun-class="product-carousel-prev-arrow"></a>  
			</div>
		<div class="suntrust-carousel-slide-connect ${properties.titlealignment} ${properties.glyphAlignment}">
			<div class="suntrust-carousel-heading-container">
				<img class="suntrust-carousel-slide-icon"
					src="${properties.glyphImage}" alt="${properties.glyphAltText}" />
				<h2 class="suntrust-carousel-heading ${properties.titlewidth}">${properties.title @context='html'}</h2>
			</div>
			<form action="/search#locations" target="_blank" method="GET"
				class="sun-val-form suntrust-carousel-locator-form">
				<div class="suntrust-carousel-locator-form-fieldset sun-field">
					<label for="suntrust-decision-tree-location" class="suntrust-label">${properties.labelText @context='html'}</label>
					<div class="">
						<input type="text" id="suntrust-decision-tree-location"
							class="suntrust-input sun-autocomplete-input full-width"
							name="searchTerm" value="" />
					</div>
					<input type="submit"
						class="suntrust-carousel-cta-button sun-required-field"
						type="submit" value="${properties.buttonText @context='html'}" />
				</div>
			</form>
		</div>
		
		<div data-sly-test="${stepObj.showNavButton}" data-sly-unwrap>
			<a title="Next" href="#" data-ajaxurl="" data-direction="Next" class="sun-product-carousel-next-arrow sun-decisiontree-slide-link" data-sun-class="product-carousel-next-arrow"></a>  
			</div>
		<!--populating tab list-->
		
			<ul class="suntrust-product-position-list-alt ${stepObj.stepColor} ${stepObj.hideStepsDesktop} ${stepObj.hideStepsMobile}">
			<!--for slide component-->
			<div data-sly-list.stepItems="${stepObj.stepListforSlides}" data-sly-unwrap>
				<li class="${stepItems.stepSelected}">
					<a href="${stepItems.firstSlideURL @context='uri'}" data-ajaxurl="${stepItems.firstSlideAjaxURL @context='uri'}" data-pageajaxurl="${stepItems.firstSlidePageAjaxURL @context='uri'}" data-direction="Steps" class="sun-decisiontree-slide-link sun-decisiontree-navigation-item">
						<span class="suntrust-step-indicator"></span>
						<p class="suntrust-step-caption">${stepItems.steptitle @context='html'}</p>
					</a>
				</li>
			</div>
			</ul>
		<!--populating tab list-->
			<sly data-sly-test.deskImg="${properties.normalslidebgimg ? properties.normalslidebgimg : stepObj.desktopImage}"></sly>
			<sly data-sly-test.retinaImg="${properties.retinaslidebgimg ? properties.retinaslidebgimg : stepObj.retinaImage}"></sly>
			<sly data-sly-test.mobImg="${properties.mobileimg ? properties.mobileimg : stepObj.mobileImage}"></sly>
			
			<input type="hidden" id="desktopImage" value="${deskImg}"/>
			<input type="hidden" id="retinaImage" value="${retinaImg}"/>
			<input type="hidden" id="mobileImage" value="${mobImg}"/>
			<input type="hidden" id="stepColor" value="${stepObj.stepColor}"/>
			<input type="hidden" id="isPageCarousel" value="${stepObj.pageCarousel}"/>
			<input type="hidden" data-navigationHistory=""  id="navigationHistory" value="${resourcePage.Name}"/>							
			<input type="hidden" id="currentSlide" value="${resourcePage.Name}"/>
			<input type="hidden" id="currentSlidePath" value="${ctaObj.currentSlideUrl}"/>
			<input type="hidden" id="currentSlideAjaxUrl" value="${ctaObj.currentSlideAjaxUrl}"/>
			<input type="hidden" id="currentSlidePageAjaxUrl" value="${ctaObj.currentSlidePageAjaxUrl}"/>
	</div>
	</div>
</sly>
</section>
<!-- Slide Content End-->
