<!--/* Adds a FAQ component */-->
<div data-sly-test="${wcmmode.edit || wcmmode.design}" >Configure FAQ Component</div>
<div data-sly-use.mbeanObj="${'com.suntrust.dotcom.components.FAQComponent'}" data-sly-unwrap></div>
<div data-sly-test="${properties.faqpaths || properties.faqheading}" data-sly-unwrap>
	<div class="component-faqsummarylist sun-component">
		<div class="sun-faqs-page-container ">
			<form>
				<fieldset>
					<legend class="suntrust-accessible-text">Frequently Asked Questions</legend>
					<div class="sun-faqs-component-list">
						<div data-sly-test="${properties.faqheading}" data-sly-unwrap><h2 class="sun-faqs-page-header">${properties.faqheading @ context='html'}</h2></div>
						<div class="sun-faqs-page-details">
							<div class="sun-faqs-page-list sun-faqs-page-list-alt">
								<div data-sly-test="${mbeanObj.mBean && properties.faqpaths}" data-sly-unwrap>
									<div data-sly-list.faqs="${mbeanObj.mBean}"data-sly-unwrap>
										<div data-sly-test="${faqsList.index == 0}" data-sly-list.itemsList="${faqs.items}" data-sly-unwrap>
											<div data-sly-test="${itemsList.faqanswer!='' || itemsList.faqquestion!=''}" data-sly-unwrap>                                                
                                                <div data-sun-class="faqs-page-list-item" class="sun-faqs-page-list-item">
													<a data-anchor="${itemsList.faqanchorname}" class="sun-faqs-page-list-item-header" data-sun-class="faqs-page-list-item-header" href="javascript:void(0);">${itemsList.faqquestion @ context='html'}</a>
													<div class="sun-faqs-page-list-item-detail" data-sun-class="faqs-page-list-item-detail">
														${itemsList.faqanswer @ context='html'}
													</div>
												</div>												
											</div>
										</div>
									</div>
								</div>                                
							</div>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>