<script src="/etc/designs/dotcom/main/js/jquery-ui.min.js"></script>
<script src="/etc/designs/dotcom/main/js/mapquest.js"></script>
<link type="text/css" rel="stylesheet" href="/etc/designs/dotcom/main/css/mapquest.css"/>
<script src="/etc/designs/dotcom/main/js/advisor_map.js"></script>

<sly data-sly-use.locationObj="com.suntrust.dotcom.components.LocationAddressMultiComponent">
	<sly data-sly-test="${!locationObj.mBean && (wcmmode.edit || wcmmode.design)}">Configure Map Component</sly>
</sly>

<div class="location_map_input clearfix ${pageProperties['cq:template'] == '/apps/dotcom/templates/peopleprofiletemplate'? 'peoplepage':'locationpage'}">
    <div class="location_map_input_div pull-left ${isProfilePage ? '':'marginTop15'}" id="source"> 
        <div>
			<label for="MyLocationText" class="suntrust-accessible-text">Source Field</label>
        	<input data-cat="locations" class="typeahead suntrust-input" type="text" id="MyLocationText" name="myLocationText" value="" placeholder="${'enter_current_address' @ i18n}" data-source="" data-charcount="3" autocomplete="on"/>
        	<!--  button class="suntrust-input-location-button suntrust-input-location-button-map" type="button"></button-->
        	<button class="input_search_reset_map clearCross" style="display:none;"><span>Reset</span></button>
        	<button class="suntrust-input-location-button-advisor" type="button"></button>
        	
        </div>
    </div> 
    <sly data-sly-test.isProfilePage="${pageProperties['cq:template'] == '/apps/dotcom/templates/peopleprofiletemplate'}"> 
        <button class="suntrust-get-directions-route-switch pull-left"></button>
        <div class="location_map_input_div pull-left" id="destination">
			<div data-sly-test="${locationObj.mBean}">
					<sly data-sly-list.itemsObj1="${locationObj.mBean}">
                      <sly data-sly-test="${itemsObj1.items.size == 1}">
						 <sly data-sly-list.itemsList="${itemsObj1.items}">
                            	<sly data-sly-test.concatenated="${'{0} {1}, {2} {3}' @ format=[itemsList.address, itemsList.city,itemsList.state,itemsList.zipCode]}">
									<label for="people_map_select" class="suntrust-accessible-text">Destination Field</label>
									<input type="text" readonly id="people_map_select" name="" class="people_select_destination" value="${concatenated}"></input>
								</sly>
						</sly>
                	  </sly>
                	  <sly data-sly-test="${itemsObj1.items.size > 1}">
                        	<label for="people_map_select" class="suntrust-accessible-text">Destination Field</label>
							<select id="people_map_select" name="" class="suntrust-select people_select_destination">
  						  		<option value="">${'select_destination' @ i18n}</option>
						  			<sly data-sly-list.itemsList="${itemsObj1.items}">
  											<sly data-sly-test.concatenated="${'{0} {1}, {2} {3}' @ format=[itemsList.address, itemsList.city,itemsList.state,itemsList.zipCode]}">
  												<option class="getDirectionLink lo-data-persist" value="${concatenated}">${concatenated}</option>
  											</sly>
  									 </sly>
 							</select>
					  </sly>
                  </sly>
			</div>
        </div>
    </sly>
    <div class="pull-left location_map_reverse_trip ${isProfilePage ? 'hide':'hidden-xs'}">
        <a href="javascript:void(0);">Reverse Trip</a>
    </div>
    <div class="pull-right marginTop15">
		<input type="submit" class="${pageProperties['cq:template'] == '/apps/dotcom/templates/peopleprofiletemplate'? 'people':'location'} suntrust-secondary-button submit-button" value="Get Directions">
	</div>
</div>


<div class="people_location_destination">
	<input id="hfResultSet" name="hfResultSet" type="hidden" value="${locationObj.hiddenMapData}" />
	<div class="people_location_map">
		<div class="mapWrapper">
			<div id="AdvisorLocationsMap" style="height: 500px;width:500px;" class="map">
			</div>
		</div>
		<div class="people_location_map_direction">


		</div>
	</div>
</div>
<div id="RouteNarration"></div> 