<sly data-sly-use.genericUtilLD="${'com.suntrust.dotcom.utils.GenericUtil'  @linkURL=currentPage.parent.path}"/>
<sly
	data-sly-use.locDirComp="com.suntrust.dotcom.components.LocationDirectoryComponent" />


			<div class="atm_branch_city_list">
				<h1 class="atm_branch_title">
					<!-- <span>${currentPage.title}</span> Branches -->
					<span>${currentPage.title}</span> ${currentPage.parent.title}
				</h1>
				<div class="suntrust-browse-directory-header">
					<div class="atm_branch_top_navigation">
						<a href="${genericUtilLD.modifyURL}">State</a> > City
					</div>
					<ul id="suntrust-directory-horizontal-menu"
						class="suntrust-directory-horizontal-menu">

						<sly data-sly-list.keyName="${locDirComp.alpabetsMap}">
						<li class="suntrust-directory-horizontal-menu-item"><a
							href="#suntrust-branch-directory-${locDirComp.alpabetsMap[keyName]}">${keyName}</a>
						</li>
						</sly>
					</ul>
				</div>

				<div class="suntrust-directory-list-container">
					<dl class="suntrust-directory-list">
						<sly data-sly-list.keyName="${locDirComp.childPageMapCollection}">
						<div class="list-section">
							<dt class="suntrust-directory-list-term">
								<span id="suntrust-branch-directory-${keyName}"></span> <span>${keyName}</span>
							</dt>
							<sly
								data-sly-list.keyValue="${locDirComp.childPageMapCollection[keyName]}">
							
							<sly data-sly-use.genericUtilLD="${'com.suntrust.dotcom.utils.GenericUtil'  @linkURL=keyValue.path}"/>
							
							<dd class="suntrust-directory-list-item">
								<a href="${genericUtilLD.modifyURL}"> ${keyValue.title} </a>
							</dd>
							</sly>
						</div>
						</sly>
					</dl>
				</div>
			</div>

