
<sly
	data-sly-use.locDirComp="com.suntrust.dotcom.components.LocationDirectoryComponent" />



<div class="atm_branch_state_list">
	<h1 class="atm_branch_title">Browse By ${locDirComp.styleFrom}</h1>
	<div class="suntrust-directory-list-container clearfix">
		<dl class="suntrust-directory-list">
			<sly data-sly-list.keyName="${locDirComp.childPageMapCollection}">
			<div class="list-section">
				<dt class="suntrust-directory-list-term">
					<span id="suntrust-branch-directory-${keyName}"></span> <span>${keyName}</span>
				</dt>
				<sly
					data-sly-list.keyValue="${locDirComp.childPageMapCollection[keyName]}">

				<sly data-sly-use.genericUtilLD="${'com.suntrust.dotcom.utils.GenericUtil'  @linkURL=keyValue.path}"/>
				
				<dd class="suntrust-directory-list-item">
					<a href="${genericUtilLD.modifyURL}"> ${keyValue.title} </a>
				</dd>
				</sly>
			</div>
			</sly>

		</dl>
	</div>
</div>



