<div data-sly-use.beanObj="com.suntrust.dotcom.components.ContactUsFormComponent" data-sly-unwrap>
	<sly data-sly-test="${wcmmode.edit || wcmmode.design}" >Configure Contact Us Form Component</sly>
</div>

			<div class="contactUsForm_container">
               <div class="contactUsForm_MessageInfo success" style="display:none;">${properties.successmessage @context='html'}</div>
               <div class="contactUsForm_MessageInfo failure" style="display:none;">${properties.errormessage @context='html'}</div>
							<div class="contactUsForm_div">
								<p>${properties.formheader}</p>
								<div class="contactUs_Form">
									<div class="contactUs_errorMessage"></div>
									<form action="/dotcom/studentlending" method="post" id="contactusform">
										<div class="contactUsForm_FieldDiv clearfix" data-mandatory="${properties.emailmandatory ? properties.emailmandatory : 'false'}">
											<div class="contactUsForm_Label col-lg-2 col-md-3 col-sm-4 row" >
												<label for="contact_email">${properties.emaillabel @context='html'}</label> 
											</div>
											<div class="contactUsForm_Field col-lg-10 col-md-9 col-sm-8">
												<input type="text" class="contact_email" id="contact_email" name="contact_email"/>
											</div>
										</div>
										<div class="contactUsForm_FieldDiv clearfix" data-mandatory="${properties.firstnamemandatory ? properties.firstnamemandatory : 'false'}">
											<div class="contactUsForm_Label col-lg-2 col-md-3 col-sm-4 row">
												<label for="contact_fname">${properties.firstnamelabel @context='html'}</label> 
											</div>
											<div class="contactUsForm_Field col-lg-10 col-md-9 col-sm-8">
												<input type="text" class="contact_fname" id="contact_fname" name="contact_fname"/>
											</div>
										</div>
										<div class="contactUsForm_FieldDiv clearfix" data-mandatory="${properties.lastnamemandatory ? properties.lastnamemandatory : 'false'}">
											<div class="contactUsForm_Label col-lg-2 col-md-3 col-sm-4 row">
												<label for="contact_lname">${properties.lastnamelabel @context='html'}</label> 
											</div>
											<div class="contactUsForm_Field col-lg-10 col-md-9 col-sm-8">
												<input type="text" class="contact_lname" id="contact_lname" name="contact_lname"/>
											</div>
										</div>
										<div class="contactUsForm_FieldDiv clearfix" data-mandatory="${properties.homeaddmandatory ? properties.homeaddmandatory : 'false'}">
											<div class="contactUsForm_Label col-lg-2 col-md-3 col-sm-4 row">
												<label for="contact_homeAddress">${properties.homeaddlabel @context='html'}</label>
											</div>
											<div class="contactUsForm_Field col-lg-10 col-md-9 col-sm-8">
												<input type="text" id="contact_homeAddress" name="contact_homeAddress"/>
											</div>
										</div>
										<div class="contactUsForm_FieldDiv clearfix" data-mandatory="${properties.homeadd2mandatory ? properties.homeadd2mandatory : 'false'}">
											<div class="contactUsForm_Label col-lg-2 col-md-3 col-sm-4 row">
												<label for="contact_homeAddress2">${properties.homeadd2label @context='html'}</label>
											</div>
											<div class="contactUsForm_Field col-lg-10 col-md-9 col-sm-8">
												<input type="text" id="contact_homeAddress2" name="contact_homeAddress2"/>
											</div>
										</div>
										<div class="contactUsForm_FieldDiv contactUsForm_FieldMultipleDiv clearfix">
                                        	<div data-mandatory="${properties.citymandatory ? properties.citymandatory : 'false'}">
                                                <div class="contactUsForm_Label col-lg-2 col-md-3 col-sm-4 row">
                                                    <label for="contact_city">${properties.citylabel @context='html'}</label>
                                                </div>
                                                <div class="contactUsForm_Field col-lg-5 col-md-4 col-sm-8">
                                                    <input type="text" id="contact_city" name="contact_city"/>
                                                </div>
                                            </div>
                                            <div class="stateHolder" data-mandatory="${properties.statemandatory ? properties.statemandatory : 'false'}">
                                                <div class="contactUsForm_Label contactUsForm_SecondLabel col-lg-1 col-md-1 col-sm-4">
                                                    <label for="contact_state">${properties.statelabel @context='html'}</label>
                                                </div>
                                                <div class="contactUsForm_Field contactUsForm_SecondField col-lg-4 col-md-4 col-sm-8">
                                                    <select id="contact_state" name="contact_state">
                                    				</select>
                                                </div>
                                            </div>
										</div>
										<div class="contactUsForm_FieldDiv contactUsForm_FieldMultipleDiv clearfix">
                                        	<div data-mandatory="${properties.zipmandatory ? properties.zipmandatory : 'false'}">
                                                <div class="contactUsForm_Label col-lg-2 col-md-3 col-sm-4 row">
                                                    <label for="contact_zipCode">${properties.ziplabel @context='html'}</label>
                                                </div>
                                                <div class="contactUsForm_Field col-lg-5 col-md-4 col-sm-8">
                                                    <input type="text" class="cep" id="contact_zipCode" name="contact_zipCode"/>
                                                </div>
                                            </div>
											<div class="phoneHolder" data-mandatory="${properties.phonemandatory ? properties.phonemandatory : 'false'}">
                                                <div class="contactUsForm_Label contactUsForm_SecondLabel col-lg-1 col-md-1 col-sm-4">
                                                    <label for="phone_us" class="phoneLabel">${properties.phonelabel @context='html'}</label>
                                                </div>
                                                <div class="contactUsForm_Field contactUsForm_SecondField col-lg-4 col-md-4 col-sm-8">
                                                    <input type="text" class="phone_us" id="phone_us" name="phone_us" placeholder="(___)___-____" />
                                                </div>
                                            </div>
										</div>
										<div class="contactUsForm_FieldDiv clearfix" data-mandatory="${properties.loanmandatory ? properties.loanmandatory : 'false'}">
											<div class="contactUsForm_Label contactUsForm_MultipleLabel col-lg-2 col-md-3 col-sm-4 row">
												<label for="contact_loginID">${properties.loanlabel @context='html'}</label>
											</div>
											<div class="contactUsForm_Field col-lg-10 col-md-9 col-sm-8">
												<input type="text" id="contact_loginID" name="contact_loginID"/>
											</div>
										</div>
										<div class="contactUsForm_FieldDiv clearfix"  data-mandatory="${properties.questionmandatory ? properties.questionmandatory : 'false'}">
											<div class="contactUsForm_Label col-lg-2 col-md-3 col-sm-4 row">
												<label for="contactUs_typeQuestion">${properties.questionlabel @context='html'}</label> 
											</div>
											<div class="contactUsForm_Field col-lg-5 col-md-9 col-sm-8">
												<select class="contactUs_typeQuestion" id="contactUs_typeQuestion" name="contactUs_typeQuestion">
													<option value="Select">Select</option>
													<div data-sly-list.items="${beanObj.questionList}" data-sly-unwrap>
														<option value="${items}">${items}</option>
													</div>
												</select>
											</div>
										</div>
										<div class="contactUsForm_FieldDiv clearfix"  data-mandatory="${properties.reasonmandatory ? properties.reasonmandatory : 'false'}">
											<div class="contactUsForm_Label col-lg-2 col-md-3 col-sm-4 row">
												<label for="contactUs_reasonForContact" class="reasonForContact">${properties.reasonlabel @context='html'}</label> 
											</div>
											<div class="contactUsForm_Field col-lg-10 col-md-9 col-sm-8">
												<textarea class="contactUs_reasonForContact" id="contactUs_reasonForContact" name="contactUs_reasonForContact"></textarea>
											</div>
										</div>
										<div class="contactUsForm_FieldDiv clearfix indicateRow">
											<div class="contactUsForm_Label col-lg-2 col-md-3 col-sm-4 row hidden-xs">
												&nbsp;
											</div>
											<div class="contactUsForm_Field col-lg-10 col-md-9 col-sm-8">
												${properties.notefield @context='html'}
											</div>
										</div>
										<div class="contactUsForm_FieldDiv clearfix submitHolder">
											<div class="contactUsForm_Label col-lg-2 col-md-3 col-sm-4 row hidden-xs">
												&nbsp;
											</div>
											<div class="contactUsForm_Field col-lg-10 col-md-9 col-sm-8">
												<input type="button" value="${properties.submitcta @context='html'}" class="suntrust-orange-button contactUs_submit" />
											</div>
										</div>
                                        <input type="hidden" id="thankyouurl" name="thankyouurl" value="${properties.thankyouurl @context='uri'}"/>
										<input type="hidden" id="errormsg" name="errormsg" value="${properties.errormsg @context='html'}"/>
                                        <div data-sly-list.mapitems="${beanObj.questionMailMap}" data-sly-unwrap>
                                        <input type="hidden" name="${mapitems}" value="${beanObj.questionMailMap[mapitems] @context='html'}" />
                                        </div>
									</form>
					</div>
				</div>
			</div>


