<div data-sly-use.mbeanObj="${'com.suntrust.dotcom.components.MonthlyCalculatorComponent'}" data-sly-unwrap>
    <div data-sly-test="${(wcmmode.edit || wcmmode.design)}">Configure Monthly Budgeting Calculator Component</div>
</div>
<div class="calculator_div MonthlyCalc">
    <div data-sly-test="${properties.monthlyexpenseheader}" data-sly-unwrap>
        <div class="lightBlueCalculatorTitle">${properties.monthlyexpenseheader @context='html'}</div>
    </div>
	<div data-sly-test="${properties.monthlyexpensetotal || mbeanObj.beanListMonthlyExpense}" data-sly-unwrap>
			<div class="tableCalculator_padding">
				<table class="savings_contribution">
					<thead aria-hidden="true" class="table_header_ADA suntrust-accessible-text">
						<tr>
							<th scope="col">Monthly Expenses Descriptions</th>
							<th scope="col" colspan="2">Monthly Expenses Values</th>
						</tr>
					</thead>
				<div data-sly-test="${mbeanObj.beanListMonthlyExpense}" data-sly-unwrap>
					<div data-sly-list.items="${mbeanObj.beanListMonthlyExpense}" data-sly-unwrap>
						<tr>
							<td>
								<label for="monthlyexpense${itemsList.index}">${items.monthlyexpensefield @context='html'}</label>
							</td>
							<td>$</td>
							<td>
								<input type="text" id="monthlyexpense${itemsList.index}" />
							</td>
						</tr>
					</div>
				</div>
					<div data-sly-test="${properties.monthlyexpensetotal}" data-sly-unwrap>
						 <tr class="totalPrevHolder"><td></td></tr>
				<tr class="totalHolder">
							<td>
								<label for="expensetotal">${properties.monthlyexpensetotal @context='html'}</label>
							</td>
							<td>$</td>
							<td>
								<input type="text" id="expensetotal" class="monthlyExpense" disabled />
							</td>
						</tr>
					</div>
				</table>
			</div>
	</div>
	<div data-sly-test="${properties.monthlyincomeheader}" data-sly-unwrap>
        <div class="lightBlueCalculatorTitle">${properties.monthlyincomeheader @context='html'}</div>
    </div>
	<div data-sly-test="${properties.monthlyincometotal || mbeanObj.beanListMonthlyIncome}" data-sly-unwrap>
    <div class="tableCalculator_padding">
        <table class="savings_contribution">
			<thead aria-hidden="true" class="table_header_ADA suntrust-accessible-text">
				<tr>
					<th scope="col">Monthly Income Descriptions</th>
					<th scope="col" colspan="2">Monthly Income Values</th>
				</tr>
			</thead>
		<div data-sly-test="${mbeanObj.beanListMonthlyIncome}" data-sly-unwrap>
            <div data-sly-list.items="${mbeanObj.beanListMonthlyIncome}" data-sly-unwrap>
               <tr>
                    <td>
                        <label for="monthlyincome${itemsList.index}">${items.monthlyincomefield @context='html'}</label>
                    </td>
                    <td>$</td>
                    <td>
                        <input type="text" id="monthlyincome${itemsList.index}" />
                    </td>
                </tr>
            </div>
		</div>
            <div data-sly-test="${properties.monthlyincometotal}" data-sly-unwrap>
				 <tr class="totalPrevHolder"><td></td></tr>
				<tr class="totalHolder">
					<td>
						<label for="incometotal">${properties.monthlyincometotal @context='html'}</label>
					</td>
					<td>$</td>
					<td>
						<input type="text" id="incometotal" class="monthlyIncome" disabled />
					</td>
                </tr>
            </div>
        </table>
    </div>
	</div>	
	<div data-sly-test="${properties.netmonthlyheader}" data-sly-unwrap>
        <div class="darkBlueCalculatorTitle">${properties.netmonthlyheader @context='html'}</div>
    </div>
	<div data-sly-test="${properties.netmonthlyincome || properties.netmonthlyexpense}" data-sly-unwrap>
		<div class="tableCalculator_padding">
			<table>
				<thead aria-hidden="true" class="table_header_ADA suntrust-accessible-text">
					<tr>
						<th scope="col">Net Monthly Income Descriptions</th>
						<th scope="col" colspan="2">Net Monthly Income Values</th>
					</tr>
				</thead>
				<tr>
					<td>
						<label for="netmonthlyincome" >${properties.netmonthlyincome @context='html'}</label>
					</td>
					<td>$</td>
					<td>
						<input type="text" id="netmonthlyincome" class="monthlyIncomeSubTotal" disabled />
					</td>
				</tr>
				
				<div data-sly-test="${properties.netmonthlyexpense}" data-sly-unwrap>
					<tr>
						<td>
							<label for="netmonthlyexpense">${properties.netmonthlyexpense @context='html'}</label>
						</td>
						<td>$</td>
						<td>
							<input type="text" id="netmonthlyexpense" class="monthlyExpenseSubTotal" disabled />
						</td>
					</tr>
				</div>
			</table>
		</div>
	</div>
	<div data-sly-test="${properties.netamount}" data-sly-unwrap>
		<div class="financialGapDiv clearfix">
				<div class="tableCalculator_padding">
					<table>
						<thead aria-hidden="true" class="table_header_ADA suntrust-accessible-text">
							<tr>
								<th scope="col">Net Monthly Income</th>
								<th scope="col" colspan="2">Net Monthly Income Values</th>
							</tr>
						</thead>
						<tr>
							<td>
								<label for="nettotal" class="totalfinancialLabel">${properties.netamount @context='html'}</label>
							</td>
							<td>$</td>
							<td>
								<input type="text" id="nettotal" class="netMonthlyIncome" disabled />
							</td>
						</tr>
						<tr>
								<td></td>
								<td></td>
								<td class="reset">
									<a href="javascript:void(0);" class="resetMonCalVal">Reset Values</a>
								</td>
						</tr>
					</table>
				</div> 
				<div class="financialGap_message clearfix"></div>
		</div>
    </div>    
</div>