<link type="text/css" rel="stylesheet" href="/etc/designs/dotcom/main/css/newAccountHeader.css"/>
<div data-sly-test="${!properties.fileReference && (wcmmode.edit || wcmmode.design)}" >Configure New Account Header Component</div>
<div data-sly-unwrap data-sly-use.imageURL="${'com.suntrust.dotcom.utils.GenericUtil' @linkURL=properties.logoURL,urlParams=properties.logoParams, anchorTag=properties.logoAnchor}"></div>
<div id="skip-nav" class="skip-nav hidden-sm hidden-xs">
       <a class="skip-nav-link" title="SunTrust Home" href="/"  tabindex="1">Home</a>
       <a class="skip-nav-link" title="Skip to main content" href="#main-content"  tabindex="2">Skip to main content</a>
       <a class="skip-nav-link" title="Skip to footer" href="#container-footer"  tabindex="3">Skip to footer</a>
</div>
<header class="sun-header container-header" role="banner" id="container-header">
	<div class="col-lg-12 sun-main-header-content ${properties.backgroundcolor}">
		<div class="sun-main-header-holder">
			<div class="sun-container">
				<div class="sun-header-logo-toggle-container ${properties.logoalignment}">
					<sly data-sly-test="${imageURL.modifyURL != ''}">
						<a class="sun-header-logo-link" href="${imageURL.modifyURL @context='uri'}" rel="home" target="${properties.logotarget}">
							<img class="sun-header-logo-image" src="${properties.fileReference}" alt="${properties.alttext}"/>
						</a> 
					</sly>
					<sly data-sly-test="${imageURL.modifyURL == ''}">
						<img class="sun-header-logo-image" src="${properties.fileReference}" alt="${properties.alttext}"/>
					</sly>
					<span class="sun-search-and-mobile-menu-container-toggle"></span>
				</div>
			</div>
			<div class="${properties.showsearch? 'sun-container sun-search-and-mobile-menu-container show-search':'sun-container sun-search-and-mobile-menu-container hide-search'}">
				<form id="search-box-form" method="GET" action="/content/suntrust/dotcom/us/en/search.html#all_results" class="sun-header-search-form" role="search">
					<a href="javascript:void(0);" id="adv_search">
						<span class="sun-header-search-icon" data-sun-toggle-overlay-target="sun-header-search-form"></span>
					</a>
					<div class="sun-header-search-field sun-hidden">
						<label class="sun-header-search-label" for="sun-header-search-input">Search</label>
						<input name="searchTerm" tabindex="-1" type="search" id="sun-header-search-input" class="sun-header-search-input" placeholder="Search" onfocus="this.placeholder=''" onblur="this.placeholder='Search'"  />
						<button type="reset" class="sun-header-search-cancel-button">
							<span class="sun-button-text">Clear</span>
						</button>
					</div>
				</form>
                </div>
		</div>
	</div>
</header>
<div class="sun-toggle-overlay"></div>
