<footer>
	<div data-sly-use.mbeanObj="com.suntrust.dotcom.components.FooterComponent" data-sly-unwrap>
		<div class="suntrust-footer-site-links-list-item" data-sly-test="${!mbeanObj.mBean && !properties.text && (wcmmode.edit || wcmmode.design)}" >Configure Footer Dialog</div>
	</div>
	
	<div class="container-fluid suntrust-footer-container"  id="container-footer">
		<!-- <div data-sly-test="${!properties.iItems && (wcmmode.edit || wcmmode.design)}" data-sly-unwrap>Enter Footer Navigation Links</div> -->
		<div class="row">
			<div class="col-xs-12 col-lg-12">
				<div class="component-footer">
					<div data-sly-test="${mbeanObj.mBean && properties.iItems}" data-sly-unwrap>
						<div class="suntrust-footer-site-links" data-sly-list.items="${mbeanObj.mBean}">
							<ul class="suntrust-footer-site-links-list" data-sly-test="${itemsList.index == 0}" data-sly-list.itemsList="${items.items}">
								<li class="suntrust-footer-site-links-list-item"><a class="suntrust-footer-site-links-list-link" href="${itemsList.linkURL}" target="${itemsList.target}">${itemsList.title @ context='html'}</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-xs-12 col-lg-12 suntrust-footer-disclaimers-sec" tabindex="-1">
						<!-- <div data-sly-resource="${'div' @ resourceType='/libs/dam/cfm/components/contentfragment'}"></div>-->
						<!-- /* Access to disclaimer property defined in dialog.xml */ -->
						<!-- <p data-sly-test="${!properties.text && (wcmmode.edit || wcmmode.design)}" data-sly-unwrap>Enter Desclaimer Text</p> -->
						<p data-sly-test="${properties.text}" data-sly-unwrap><div class="rteSection">${properties.text @ context='html'}</div></p>
						<div class="clearfix"></div>
						<!-- <div data-sly-test="${!properties.uItems && (wcmmode.edit || wcmmode.design)}" data-sly-unwrap>Enter Social Media Links</div> -->
						<div data-sly-test="${mbeanObj.mBean && properties.uItems}" data-sly-unwrap>
							<div class="suntrust-footer-socIconSec" data-sly-list.items="${mbeanObj.mBean}">
								<div class="iconsGrp" data-sly-test="${(properties.iItems && itemsList.index == 1) || (!properties.iItems && itemsList.index == 0)}" data-sly-list.itemsList="${items.items}">
									<a title="${itemsList.title}" href="${itemsList.linkURL}" target="${itemsList.target}"><img src="${itemsList.icon}" border="0" alt="${itemsList.title}"></a>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<!-- /.row -->
	</div>
</footer>