/*
 * ADOBE CONFIDENTIAL
 *
 * Copyright 2016 Adobe Systems Incorporated
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 */

.inbox-status-complete {
  color: #a5d273;
  padding-right: 5px;
  vertical-align: middle;
}

.inbox-status-active {
  color: #87beff;
  padding-right: 5px;
  vertical-align: middle;
}

.inbox-status-terminated {
  color: #fa7d73;
  padding-right: 5px;
  vertical-align: middle;
}

.inbox-status-failed {
  color: #fa7d73;
  padding-right: 5px;
  vertical-align: middle;
}

.inbox-item-priority--normal,
.inbox-item-priority--low,
.inbox-item-priority--high {
  padding-right: .33rem;
}

.current-assignee,
.project-cell{
  display:table;
}

.cq-inbox-info--read-only {
  background-color: #f0f0f0;
}

.current-assignee span,
.project-cell span {
  display: table-cell;
  vertical-align: middle;
  padding-left: .33rem;
}

.payload-title-cell {
  width:15%;
}

.payload-title {
  max-width: 15rem;
  display:inline-block;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}


.inbox-description-cell {
  width:15%
}

.inbox-description {
  max-width: 15rem;
  display:inline-block;
  overflow:hidden;
  text-overflow:ellipsis;
  max-height: 5.1rem;
}

.itemDetails.collapsed {
  border: 0;
  display: none;
}

#taskReAssignDialog .coral-Dialog-wrapper {
  width: 0;
}

.coral-Table-row.itemDetails.expanded td.infocolumn {
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;

  padding-bottom: 1rem;
  background-color: white;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}


.coral-Table-row.itemDetails.expanded td {
  text-align: left;
  border-top: 0;
  padding: 0.1rem;
}

.infowrapper {
  height: 10rem;
}

.inbox-item-priority-title {
  padding-left: 0.2rem;
}

.infotable {
  border: 1px solid #aaa;
  width: 48%;
  float: left;
  height: 100%;
  margin-right: 2%;
}

table.itemdetailsinfo {
  border-collapse: collapse;
  width: 100%;
}

table.itemdetailsinfo {
  table-layout: fixed;
}

table .project-info img {
  vertical-align: middle;
  max-width: 34px;
  max-height: 34px;

}

table .info-link .payload-title,
table .project-info .payload-title {
  margin-left: 0.4rem;
}

.itemdetailsinfo {
  margin: 0.3rem;
}


.itemdetailsinfo table,
.itemdetailsinfo th,
.itemdetailsinfo td {
  /*border: 1px solid black;*/
  text-overflow: ellipsis;
  overflow: hidden;
}

.itemdetailsinfo .name {
  font-weight: bold;
}

.inbox-item-user-icon {
  border-radius: 50%;
  border: 1px solid #555;
}

.start-time {
  white-space: nowrap;
}

@media only screen and (max-width: 1244px) {
  .item-status,
  .priority-title {
    display:none;
  }

  .inbox-item-priority--normal,
  .inbox-item-priority--low,
  .inbox-item-priority--high {
    padding-left: 35%;
  }

  .inbox-status-active {
    padding-left: 25%;
  }

  .inbox-item-priority {
    padding-left: 0;
    padding-right: 0;
  }

  .payload-title {
    max-width: 12rem;
  }

  .inbox-description {
    max-width: 10rem;
  }
}

@media only screen and (max-width: 1000px) {
  .current-assignee img,
  .project-cell img{
    display:none;
  }

  .inbox-description-cell {
    width:0;
  }
}

/*
 * Override white-space and overflow properties in order to disable truncation
 * of view settings action element text.
 */
[data-foundation-collection-actionbar-target=".cq-workflow-inbox-list"] .coral-BasicList-item-content {
  white-space: normal;
  overflow: visible;
}
