<sly data-sly-use.ctaObj="com.suntrust.dotcom.components.DecisionTreeSlideComponent"></sly>
<sly data-sly-use.stepObj="${'com.suntrust.dotcom.components.DecisionTreeComponent' @pagePath=resourcePage.Path,parentPagePath=resourcePage.Parent.Path}"></sly>
<sly data-sly-use.genericUtil="${'com.suntrust.dotcom.utils.GenericUtil'  @linkURL=properties.optOutUrl,urlParams=properties.optouturlparam,anchorTag=properties.optouttag}" ></sly>

<div data-sly-test="${wcmmode.edit || wcmmode.design}" data-sly-unwrap>Please configure Slide Component.
<section class="component-decisiontree ${properties.fontTheme=='dark' ? 'suntrust-dfs-dark-theme' : ''}">
	<div id="DecisionTreeComponent" class="suntrust-dfs-carousel" data-id="" data-request="" style="background-color:grey">
		<div data-sly-test.isRTE="${properties.slidebody || properties.glymphimg}" data-sly-unwrap></div>
		<div class="suntrust-carousel-slide" id="DecisionTreeSlide">	
			<!-- Slide Content Start-->
			<div class="suntrust-carousel-slide-connect ${properties.textalignment} ${properties.glymphalignment}" data-isrte="${isRTE ? 'true' : 'false'}">
				<div class="suntrust-carousel-heading-container">
					<div data-sly-test="${properties.glymphimg}" data-sly-unwrap>
						<img class="suntrust-carousel-slide-icon" src="${properties.glymphimg @context='uri'}" alt="${properties.glymphalttext @context='html'}"/>
					</div>
					<h2 class="suntrust-carousel-heading ${properties.headingwidth}">
					<p class="${properties.titlewidth}">${properties.slidetitle @context='html'}</p>
					${properties.slideheading @context='html'}
					</h2>
				</div>
				<div class="suntrust-carousel-slide-details">
				<div data-sly-test="${isRTE}" data-sly-unwrap>
					${properties.slidebody @context='html'}
				</div>
				</div>
				<!-- Slide Cta Button Start-->
				<div data-sly-test="${ctaObj.noOfItems > 0}" data-sly-unwrap>
				<ul class="suntrust-carousel-cta-list with-${ctaObj.noOfItems}-ctas">
					<div data-sly-list.ctaItems="${ctaObj.ctaList}" data-sly-unwrap>
					<div data-sly-test.ctaIcon="${ctaItems.ctaicon}" data-sly-unwrap>
					<div data-sly-test.helptxt="${ctaItems.ctahelptext}" data-sly-unwrap>
						<li class=" ">
						<a title="${ctaItems.ctatext @context='html'}" class="sun-decisiontree-cta  " href="${ctaItems.relativeCtaURL @context='uri'}" data-direction="" target="${ctaItems.ctatarget @context='html'}">
							<img class="" src="${ctaItems.ctaicon @context='uri'}" alt="">							
						</a>
						<span class="sun-decisiontree-cta-help-text ${ctaItems.helptextposition}">${ctaItems.ctahelptext}</span>
						</li>
					</div>
					<div data-sly-test="${!helptxt}" data-sly-unwrap>
						<li class="suntrust-carousel-cta-arrow">
						<a title="${ctaItems.ctatext @context='html'}" class="${ctaItems.ctaAjaxUrl=='ExternalUrl' ? '' : 'sun-decisiontree-slide-link'} sun-decisiontree-cta" href="${ctaItems.relativeCtaURL @context='uri'}" data-direction="" data-ajaxurl="${ctaItems.ctaAjaxUrl @context='uri'}" data-pageajaxurl="${ctaItems.ctaPageAjaxUrl @context='uri'}" target="${ctaItems.ctatarget @context='html'}">
						<img class="suntrust-carousel-cta-icon" src="${ctaItems.ctaicon @context='uri'}" alt=""/>
						<span class="suntrust-carousel-cta-icon-caption">${ctaItems.ctatext @context='html'}</span></a>
					</li>	
					</div>
					</div>
					<div data-sly-test="${!ctaIcon}" data-sly-unwrap>
						<li class="">
						<a title="${ctaItems.ctatext @context='html'}" class="${ctaItems.ctaAjaxUrl=='ExternalUrl' ? '' : 'sun-decisiontree-slide-link'} sun-decisiontree-cta" href="${ctaItems.relativeCtaURL @context='uri'}" data-direction="Next"  data-ajaxurl="${ctaItems.ctaAjaxUrl @context='uri'}" data-pageajaxurl="${ctaItems.ctaPageAjaxUrl @context='uri'}" target="${ctaItems.ctatarget @context='html'}">
						<span class="suntrust-dfs-blue-cta-button suntrust-dfs-medium-cta-button">${ctaItems.ctatext @context='html'}</span></a>
						</li>
					</div>
					</div>
				</ul>
				<input type="hidden" id="environemnt" value="${ctaObj.runMode}"/>
				</div>
				<div data-sly-test="${properties.showOptOutCta=='true'}" data-sly-unwrap>
					<p class="suntrust-no-thanks ${properties.optOutFontTheme=='dark' ? 'suntrust-dfs-dark-theme' : ''}"><a class="suntrust-link-no-thanks" href="${genericUtil.modifyURL @context='uri'}" target="${properties.optouttarget @context='html'}">${properties.optouttext @context='html'}</a></p>
				</div>
				
			</div> <!--info-->
		</div>
	</div>
</section>

</div>
<sly data-sly-test="${!wcmmode.edit && !wcmmode.design}">
<section class="component-decisiontree ${properties.fontTheme=='dark' ? 'suntrust-dfs-dark-theme' : ''}">
	<div id="DecisionTreeComponent" class="suntrust-dfs-carousel" data-id="" data-request="" style="background-color:grey">
	<div data-sly-test.isRTE="${properties.slidebody || properties.glymphimg}" data-sly-unwrap></div>
		<div class="suntrust-carousel-slide" id="DecisionTreeSlide">	
			<div data-sly-test="${stepObj.showNavButton && properties.isendslide=='false'}" data-sly-unwrap>
			<a title="Previous" href="#" data-ajaxurl="" data-direction="Previous" class="sun-product-carousel-prev-arrow sun-decisiontree-slide-link" data-sun-class="product-carousel-prev-arrow"></a>  
			</div>
			<!-- Slide Content Start-->
			<div class="suntrust-carousel-slide-connect ${properties.textalignment} ${properties.glymphalignment}" data-isrte="${isRTE ? 'true' : 'false'}">
				<div class="suntrust-carousel-heading-container">
					<div data-sly-test="${properties.glymphimg}" data-sly-unwrap>
						<img class="suntrust-carousel-slide-icon" src="${properties.glymphimg @context='uri'}" alt="${properties.glymphalttext @context='html'}"/>
					</div>
					<h2 class="suntrust-carousel-heading ${properties.headingwidth}">
					<p class="${properties.titlewidth}">${properties.slidetitle @context='html'}</p>
					${properties.slideheading @context='html'}
					</h2>
				</div>
				<div class="suntrust-carousel-slide-details">
				<div data-sly-test="${isRTE}" data-sly-unwrap>
					${properties.slidebody @context='html'}
				</div>
				</div>
				<!-- Slide Cta Button Start-->
				<div data-sly-test="${ctaObj.noOfItems > 0}" data-sly-unwrap>
				<ul class="suntrust-carousel-cta-list with-${ctaObj.noOfItems}-ctas">
					<div data-sly-list.ctaItems="${ctaObj.ctaList}" data-sly-unwrap>
					<div data-sly-test.ctaIcon="${ctaItems.ctaicon}" data-sly-unwrap>
					<div data-sly-test.helptxt="${ctaItems.ctahelptext}" data-sly-unwrap>
						<li class=" ">
							<a title="${ctaItems.ctatext @context='html'}" class="sun-decisiontree-cta  " href="${ctaItems.relativeCtaURL @context='uri'}" data-direction="" target="${ctaItems.ctatarget @context='html'}">
								<img class="" src="${ctaItems.ctaicon @context='uri'}" alt="">
								<span class="analytics-placeholder" style="display: none">${ctaItems.ctahelptext}</span>
							</a>
							<span class="sun-decisiontree-cta-help-text ${ctaItems.helptextposition}">${ctaItems.ctahelptext}</span>
						</li>
					</div>
					<div data-sly-test="${!helptxt}" data-sly-unwrap>
					<li class="suntrust-carousel-cta-arrow">
						<a title="${ctaItems.ctatext @context='html'}" class="${ctaItems.ctaAjaxUrl=='ExternalUrl' ? '' : 'sun-decisiontree-slide-link'} sun-decisiontree-cta" href="${ctaItems.relativeCtaURL @context='uri'}" data-direction="" data-ajaxurl="${ctaItems.ctaAjaxUrl @context='uri'}" data-pageajaxurl="${ctaItems.ctaPageAjaxUrl @context='uri'}" target="${ctaItems.ctatarget @context='html'}">
						<img class="suntrust-carousel-cta-icon" src="${ctaItems.ctaicon @context='uri'}" alt=""/>
						<span class="suntrust-carousel-cta-icon-caption analytics-placeholder">${ctaItems.ctatext @context='html'}</span></a>
					</li>	
					</div>
					</div>
					<div data-sly-test="${!ctaIcon}" data-sly-unwrap>
						<li class="">
						<a title="${ctaItems.ctatext @context='html'}" class="${ctaItems.ctaAjaxUrl=='ExternalUrl' ? '' : 'sun-decisiontree-slide-link'} sun-decisiontree-cta" href="${ctaItems.relativeCtaURL @context='uri'}" data-direction=""  data-ajaxurl="${ctaItems.ctaAjaxUrl @context='uri'}" data-pageajaxurl="${ctaItems.ctaPageAjaxUrl @context='uri'}" target="${ctaItems.ctatarget @context='html'}">
						<span class="suntrust-dfs-blue-cta-button suntrust-dfs-medium-cta-button analytics-placeholder">${ctaItems.ctatext @context='html'}</span></a>
						</li>
					</div>
					</div>
				</ul>
				</div>
				<div data-sly-test="${properties.showOptOutCta=='true'}" data-sly-unwrap>
<p class="suntrust-no-thanks ${properties.optOutFontTheme=='dark' ? 'suntrust-dfs-dark-theme' : ''}"><a class="suntrust-link-no-thanks" href="${genericUtil.modifyURL @context='uri'}" target="${properties.optouttarget @context='html'}">${properties.optouttext @context='html'}</a></p>
				</div>
				
			</div> <!--info-->
			<div data-sly-test="${stepObj.showNavButton && properties.isendslide=='false'}" data-sly-unwrap>
			<a title="Next" href="#" data-ajaxurl="" data-direction="Next" class="sun-product-carousel-next-arrow sun-decisiontree-slide-link" data-sun-class="product-carousel-next-arrow"></a>  
			</div>
		<!--populating tab list-->
			<div data-sly-test="${properties.isendslide!='true'}" data-sly-unwrap>
				<ul class="suntrust-product-position-list-alt ${stepObj.stepColor} ${stepObj.hideStepsDesktop} ${stepObj.hideStepsMobile}">
				<!--for slide component-->
				<div data-sly-list.stepItems="${stepObj.stepListforSlides}" data-sly-unwrap>
					<li class="${stepItems.stepSelected}">
						<a href="${stepItems.firstSlideURL @context='uri'}" data-ajaxurl="${stepItems.firstSlideAjaxURL @context='uri'}" data-pageajaxurl="${stepItems.firstSlidePageAjaxURL @context='uri'}" data-direction="Steps" class="sun-decisiontree-slide-link sun-decisiontree-navigation-item">
							<span class="suntrust-step-indicator"></span>
							<p class="suntrust-step-caption">${stepItems.steptitle @context='html'}</p>
						</a>
					</li>
				</div>
				</ul>
			</div>
			<sly data-sly-test.deskImg="${properties.normalslidebgimg ? properties.normalslidebgimg : stepObj.desktopImage}"></sly>
			<sly data-sly-test.retinaImg="${properties.retinaslidebgimg ? properties.retinaslidebgimg : stepObj.retinaImage}"></sly>
			<sly data-sly-test.mobImg="${properties.mobileimg ? properties.mobileimg : stepObj.mobileImage}"></sly>
			
			<input type="hidden" id="desktopImage" value="${deskImg}"/>
			<input type="hidden" id="retinaImage" value="${retinaImg}"/>
			<input type="hidden" id="mobileImage" value="${mobImg}"/>
			<input type="hidden" id="font-theme" value="${properties.fontTheme=='dark' ? 'suntrust-dfs-dark-theme' : ''}"/>
			<input type="hidden" id="stepColor" value="${stepObj.stepColor}"/>
			<input type="hidden" id="isPageCarousel" value="${stepObj.pageCarousel}"/>
			<input type="hidden" data-navigationHistory="" id="navigationHistory" value="${resourcePage.Name}"/>							
			<input type="hidden" id="currentSlide" value="${resourcePage.Name}"/>
			<input type="hidden" id="currentSlidePath" value="${ctaObj.currentSlideUrl}"/>
			<input type="hidden" id="currentSlideAjaxUrl" value="${ctaObj.currentSlideAjaxUrl}"/>
			<input type="hidden" id="currentSlidePageAjaxUrl" value="${ctaObj.currentSlidePageAjaxUrl}"/>
			<input type="hidden" id="environemnt" value="${ctaObj.runMode}"/>
			</div>	
	</div>
</section>
</sly>

<!-- 

THIS PIECE OF ANALYTICS CODE IS MOVED TO ENSIGTHEN. Ensighen custom Tag name is STcom_AEM_SlideQuestInfo .
THIS SECTION OF CODE SHOULD NOT BE DELETED AND SHOULD BE ALWAYS COMMENTED.
THIS CODE IS FOR REFERENCE PURPOSE ONLY.

<script>
				
"use strict";
					
var suntrustpageElement = $('#suntrust-page');

//DFS Analytics Tracking

	//Tab click event					
	suntrustpageElement.on('click', '.sun-decisiontree-navigation-item', function (event) {
		try
		{
			var dfsSlideQuesInfoCompElement = $(this).closest("#DecisionTreeComponent");  
			if(dfsSlideQuesInfoCompElement.length)
			{
				var clickedTabText = $(this).find(".suntrust-step-caption").text(); 		 
				clickedTabText = clickedTabText.replace(/[^A-Z]+/ig, "");
				var eVar45Text = 'STcom|NewAccountStart|' + clickedTabText;
				passSlideQuesInfoValuesToAnalyticEngine(eVar45Text);
			}
		}	
		catch(err)
		{
			console.log("Exception caught in custom analytics tag decisionTreeComp while capturing tab clicked event: " + err.message);
		}
	});
											
											
	//cta click event
	suntrustpageElement.on('click', '.sun-decisiontree-cta', function (event) {
		try
		{
			var dfsSlideQuesInfoCompElement = $(this).closest("#DecisionTreeComponent");  
			if(dfsSlideQuesInfoCompElement.length)
			{
				var ctaText = $(this).find(".analytics-placeholder").text(); 		 
				var activeTabText = $("#DecisionTreeComponent .sun-active .suntrust-step-caption").text();		 
				ctaText = ctaText.replace(/[^A-Z0-9]+/ig, "");
				activeTabText = activeTabText.replace(/[^A-Z]+/ig, "");		 
				var eVar45Text = 'STcom|NewAccountStart|' + activeTabText + '|' +  ctaText;		 
				passSlideQuesInfoValuesToAnalyticEngine(eVar45Text);
			}
		}
		catch(err)
		{
			console.log("Exception caught in custom analytics tag decisionTreeComp while capturing cta clicked event: " + err.message);
		}
	  
	});
	
	//Next Arrow
	suntrustpageElement.on('click','[data-direction="Next"]',function(){
		var activeTabText = $("#DecisionTreeComponent .sun-active .suntrust-step-caption").text();          
		activeTabText = activeTabText.replace(/[^A-Z]+/ig, "");              
		var eVar45Text = 'STcom|NewAccountStart|' + activeTabText;        
		passSlideQuesInfoValuesToAnalyticEngine(eVar45Text);                     
		console.log("on click of right arrow "+activeTabText); 
    });
	suntrustpageElement.on('click','[data-direction="Previous"]',function(){
		var activeTabText = $("#DecisionTreeComponent .sun-active .suntrust-step-caption").text();          
		activeTabText = activeTabText.replace(/[^A-Z]+/ig, "");              
		var eVar45Text = 'STcom|NewAccountStart|' + activeTabText;        
		passSlideQuesInfoValuesToAnalyticEngine(eVar45Text);                     
		console.log("on click of left arrow "+activeTabText); 
    });
	
	function passSlideQuesInfoValuesToAnalyticEngine(eVar45Text) 
	{
		try
		{
			 console.log("eVar45Text : " + eVar45Text);
			 s.linkTrackVars='eVar45,events'; 
			 s.linkTrackEvents='event23'; 
			 s.eVar45=eVar45Text; 
			 s.events='event23'; 
			 s.tl(this,'o',eVar45Text);
		}
		catch(err)
		{
			console.log("Exception caught in custom analytics tag decisionTreeComp while passing catured values to analytics engine: " + err.message);
		}
	}


</script> -->