﻿﻿.locationdetails{}
.container_locationdetails{
	margin:50px auto;
}
.suntrust-input-location-button, .suntrust-input-location-button-advisor {
    overflow: visible;
}
.suntrust-input-location-button, .suntrust-input-location-button-advisor {
    position: absolute;
    top: 8px;
    right: 27%;
    width: 40px;
    height: 40px;
    outline: none;
    background: none;
    border: none;
}
.suntrust-input-location-button:before, .suntrust-input-location-button-advisor:before {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -12px;
    margin-left: -10px;
    cursor: pointer;
}
.suntrust-input-location-button::before, .suntrust-input-location-button-advisor::before {
    font-family: sun-icons-UXd1Fq6;
    display: inline-block;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    content: "";
    color: rgb(64, 147, 215);
    font-size: 20px;
    line-height: 20px;
}
.search_result_heading {
	max-width: 1170px;
    margin: 30px auto;
}
.search_result_heading h2 {
	color: #fff;
}
.location_addr,
.location_phone,
.location_fax {
	margin-bottom: 15px;
}
.location_addr h4, 
.location_services h4,
.location_branch_hours h4,
.location_drive_thru_hours h4,
.location_teller_connect_hours h4,
.location_special_hours h4,
.location_additional_atm_branch h4,
.location_share h4,
.location_addr p,
.location_phone p,
.location_fax p ,
.location_special_hours p ,
.location_additional_atm_branch p ,
.location_contact_details p ,
.location_fax_details h5,
.location_phone_details h5,
.location_contact_details h5{
	margin: 0;
}
.location_phone_icon,
.location_fax_icon,
.location_contact_icon {
	float: left;
	width: 35px;
	height: 35px;
}
.location_phone_icon img,
.location_fax_icon img,
.location_contact_details img,
.location_contact_icon img {
	/*background-color: #fff;*/
	width: 100%;
    height: 100%;
}
.location_phone_details,
.location_fax_details,
.location_contact_details {
	float: left;
	margin-left: 5px;
}
.location_services,
.location_branch_hours,
.location_drive_thru_hours,
.location_teller_connect_hours,
.location_special_hours,
.location_additional_atm_branch {
	margin-top: 30px;
}
.location_services ul {
	width: 50%;
	float: left;
	padding-left: 20px;
}
.location_branch_hours table tr td:nth-child(2),
.location_drive_thru_hours table tr td:nth-child(2),
.location_teller_connect_hours table tr td:nth-child(2) {
	margin-left: 30px;
	display: inline-block;
}
.location_branch_hours tr.active,
.location_drive_thru_hours tr.active,
.location_teller_connect_hours tr.active  {
	color: #c94c06;
}
.location_map {
	position: relative;
	height: 450px;
}
.location_map img {
	background-color:#000;
	width: 100%;
	height: 100%;
}
.location_map_direction {
	position: absolute;
    top: 0;
    width: 300px;
    margin: 10px 0 0 50px;
}
.location_map_direction .suntrust-input-location-button, .location_map_direction .suntrust-input-location-button-advisor {
	right: 0;
    top: 5px;
}
.location_map_direction .submit-button {
	width: 100%;
    margin-top: 5px;
    padding: 12px 0;
    border: none !important;
}
.location_map_details {
	margin: 30px 0;
}
.location_map_details_individual {
	border-bottom: 1px solid #e5e5e5;
    padding: 30px 0;
}
.location_map_details .location_map_details_individual:last-child {
	border-bottom: 0;
}
.location_map_details_individual_img,
.location_map_details_individual_details,
.location_map_details_individual_location {
	display: inline-block;
    vertical-align: top;
}
.location_map_details_individual_img {
	width: 100px;
    height: 100px;
}
.location_map_details_individual_img img {
	background-color: #000;
	width: 100%;
    height: 100%;
}
.location_map_details_individual_details {
	margin-left: 15px;
    width: 45%;
}
.location_map_details_individual_location {
	margin-left: 30px;
}
.location_open_new_account {
	position: relative;
}
.location_open_new_account_btn {
	margin: 30px 0;
}
.location_open_new_account_btn:before {
	position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    content: '';
	z-index: -1;
}
.location_open_new_account_btn .suntrust-promo-cta-button {
	color: #fff;
    background-color: #C94C06;
	padding: 15px 30px;
	margin: 0;
    width: auto;
    height: auto;
}
.location_open_new_account_btn .suntrust-promo-cta-button:hover,
.location_open_new_account_btn .suntrust-promo-cta-button:focus {
	outline: none;
    background-color: #963F04;
    text-decoration: none;
}
.location_social_media {
	//margin-top: 10px;
}
.location_social_media img {
	display: inline-block;
    max-height: 25px;
    margin-right: 10px;
	margin-top: 10px;
}
.location_promo {
	margin-bottom: 30px;
}
.location_promo_individual {
	margin-top: 30px;
	width: 100%;
	height: 250px;
}
.location_promo_individual img {
	background-color: #000;
	width: 100%;
	height: 100%;
}

.location_branch_hours_xs p {
	margin: 0;
	color: red;
}
.location_map_details_individual_show_all {
	padding-top: 30px;
}
.location_map_details_individual_show_all .suntrust-secondary-button {
	display: block;
    text-align: center;
    border-radius: 5px;
}
.branch_location_visible_xs_promo .location_promo_individual {
    margin-top: 0px;
    padding-top: 30px;
}
.branch_location_visible_xs_promo .location_promo_individual:first-child {
    border-top: 1px solid #e5e5e5;
}
.suntrust-heroHeadline {
                margin-bottom: 30px;
}
.location_map_direction .submit-button {
                border: 0;
}
.location_additional_atm_branch .location_seperator{
	font-size: 40px;
}
.location_additional_atm_branch .location_details {
	vertical-align: text-top;
}

.rowcontainerresp .jumbotron{
   background: none;
}
.clearCross{
    position: absolute;
    right: 30px;
    top: 50%;
    cursor: pointer;
    height: 40px;
    padding: 10px;
    margin-top: -4px;
    background: 0;
    right: 25px !important;
}
button.clearCross:before {
    font-family: "sun-icons-UXd1Fq6";
    display: inline-block;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    content: "";
    color: #aaa;
    font-size: 17px;
    line-height: 21px;
}
button.clearCross span {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    top: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.location_addr h4, 
.location_services h4,
.location_branch_hours h4,
.location_drive_thru_hours h4,
.location_teller_connect_hours h4,
.location_special_hours h4,
.location_additional_atm_branch h4,
.location_share h4 {
	font-size: 15px;
	font-weight: bold;
	line-height: 20px;
	color: #333;
}

@media screen and (max-width: 1024px)
{
	.search_result_heading h2 {
		margin-left: 30px;
	}
}
@media (max-width: 768px)
{
	.location_map_details_individual_details {
		width: 30%;
	}
}
@media (max-width: 480px) {
	.location_map_details_individual_img, 
	.location_map_details_individual_details, 
	.location_map_details_individual_location {
		display: block;
	}
	.location_map_details_individual_details {
		width: 100%;
	}
	.location_map_details_individual_details,
	.location_map_details_individual_location {
		margin-left: 0;
	}
	.location_map_details_individual_img,
	.location_map_details_individual_details {
		margin-bottom: 15px;
	}
	.location_open_new_account_btn:before {
		display: none;
	}
	.location_open_new_account_btn .suntrust-promo-cta-button {
		width: 100%;
	}
}
@media (max-width: 400px) {
	.search_result_heading h2 {
		margin-left: 15px;
	}
	.location_services ul {
		float: none;
		width: 100%;
	}	
	.location_services ul:not(:last-child) {
		margin: 0;
	}
	.location_map_details {
		border-top: 1px solid #e5e5e5;
	}
}
@media (max-width: 800px) {
	.container_locationdetails{
		margin:30px auto;
	}
}
@media (max-width: 767px) {
	.location_additional_atm_branch .location_seperator{
		display: none;
	}
	.location_additional_atm_branch .location_details {
		display: block;
	}
	.container_locationdetails .cta_alignCenter {
		margin: 0 auto;
		display: table;
		width: 100%;
		text-align: center;
	}
}