.contactus .tmpcontent{
	padding: 15px 0px 0px 0px !important;
	/*text-align: center;*/
    background: none !important;
	min-height: 150px;
}

.tmpcontent .suntrust-small-icons{
	max-width: 33px;
	float: left;
    margin-right: 10px;
    clear: both;
} 
/* Support css starts */
.suntrust-support p{
	font-weight: bold;
	font-size: 22px;
	text-align: left;
	margin-bottom: 20px;
	color: #333333;
}
.suntrust-support .suntrust-supportCall .suntrust-supportNumber,.suntrust-support .suntrust-supportMail .suntrust-supportEmail{
	font-weight: bold;
	font-size: 28px;
	vertical-align: middle;
	margin-left: 10px;
}
.suntrust-support .suntrust-supportCall,.suntrust-support .suntrust-supportMail{
	text-align: left;
}
.suntrust-support .suntrust-supportMail{
	margin-top: 15px;
}

/* Support css ends */

/* Contact us css starts */

.suntrust-contactUs p{
	margin-bottom: 18px;
}
/*.suntrust-contactUs .suntrust-supportCall{
	text-align: left;
	margin-bottom: 10px;
	clear: both;
    padding-bottom: 10px;
}*/

.suntrust-contactUs .suntrust-supportCall .suntrust-supportNumber{
	font-weight: normal;
	font-size: 18px;
	position: relative;
    top: 0px;
	clear: both;
}
.suntrust-contactUs .suntrust-supportCall a.suntrust-supportNumber {
	cursor: pointer;
}
.suntrust-contactUs .suntrust-supportCall .suntrust-supportService{
	font-weight: normal;
	font-size: 15px;
	color: #333;
	vertical-align: middle;
	margin-top: 3px;
	width: 80%;
	display: inline-block;
}
.suntrust-contactUs .suntrust-supportMail,.suntrust-contactUs .suntrust-supportLiveChat{
	text-align: left;
	margin-bottom: 25px;
}
.suntrust-contactUs .suntrust-supporthelpCenter{
	text-align: left;
}
.suntrust-contactUs .suntrust-supportMail a, .suntrust-contactUs .suntrust-supportLiveChat a, .suntrust-contactUs .suntrust-supporthelpCenter a ,
.suntrust-contactUs .suntrust-supportCall a, .suntrust-contactUsCallCenter .suntrust-supportCall a, .suntrust-support .suntrust-supportCall a , .suntrust-support .suntrust-supportMail a{
	color: #003b71;
}
.suntrust-contactUs .suntrust-supportMail a:hover, .suntrust-contactUs .suntrust-supportLiveChat a:hover, .suntrust-contactUs .suntrust-supporthelpCenter a:hover, 
.suntrust-contactUs.suntrust-supportCall a:hover, .suntrust-contactUsCallCenter .suntrust-supportCall a:hover, .suntrust-support .suntrust-supportCall a:hover, .suntrust-support .suntrust-supportMail a:hover,
.suntrust-contactUs .suntrust-supportMail a:focus, .suntrust-contactUs .suntrust-supportLiveChat a:focus, .suntrust-contactUs .suntrust-supporthelpCenter a:focus, 
.suntrust-contactUs.suntrust-supportCall a:focus, .suntrust-contactUsCallCenter .suntrust-supportCall a:focus, .suntrust-support .suntrust-supportCall a:focus, .suntrust-support .suntrust-supportMail a:focus {
	color: #C94C06 !important;
}

.suntrust-contactUs .suntrust-supportCall a:hover,.suntrust-contactUs .suntrust-supportCall a:focus,
.suntrust-contactUs .suntrust-supportMail a:hover,.suntrust-contactUs .suntrust-supportMail a:focus,
.suntrust-contactUs .suntrust-supportLiveChat a:hover,.suntrust-contactUs .suntrust-supportLiveChat a:focus,
.suntrust-contactUs .suntrust-supporthelpCenter a:hover,.suntrust-contactUs .suntrust-supporthelpCenter a:focus,
.suntrust-contactUsCallCenter .suntrust-supportCall a:hover,.suntrust-contactUsCallCenter .suntrust-supportCall a:focus,
.suntrust-support .suntrust-supportCall a:hover,.suntrust-support .suntrust-supportCall a:focus,
.suntrust-support .suntrust-supportMail a:hover,.suntrust-support .suntrust-supportMail a:focus{
                color: #C94C06 !important;
}


.suntrust-contactUs .suntrust-supportMail .suntrust-supportEmail,.suntrust-contactUs .suntrust-supportLiveChat .suntrust-supportChat,
.suntrust-contactUs .suntrust-supporthelpCenter .suntrust-supportHelpcenter{
	font-weight: bold;
	font-size: 28px;
	vertical-align: middle;
	clear: both;
    position: relative;
    top: 7px;
}
/* Contact us css ends */

/* New Styles Created on 15-Jun Starts here */
.suntrust-contactUs .suntrust-supportCall{
	text-align: left;
	display:block;
	overflow:hidden;
	margin-bottom: 20px;
}
.suntrust-ContactHeadTxt span {
    font-size: 18px;
    color: #333;
    vertical-align: middle;
    font-weight: bold;
}
.suntrust-ContactHeadTxt img{
	margin-right:10px;
}
.suntrust-ContactHeadTxt{
	text-align: left;
	margin-bottom: 20px;
}
.contactUsLstIconSec{
	display:inline-block;
	float:left;
	margin-right:10px;
}
.contactUsLstcontSec{
	width:85%;
	display:inline-block;
	float:left;
}
.contactUsLstcontSec span.suntrust-supportNumber{
	font-weight: bold;
	font-size: 28px;
	line-height:34px;
	vertical-align: middle;
	color:#333;
}
.contactUsLstcontSec a.suntrust-supportNumber{
	font-weight: bold;
	font-size: 18px;
	line-height:22px;
	vertical-align: middle;
	color:#003b71;
}
.contactUsLstcontSec .suntrust-supportService{
	font-weight: normal;
	font-size: 18px;
	/* margin-top:5px; */
	vertical-align: middle;
	display: inline-block;
	color: #333;
}
.contactUsLstcontSec .suntrust-option{
	font-weight: bold;
	font-size: 15px;
	vertical-align: middle;
}
.suntrust-contactUs .suntrust-supportcallPara{
	padding-top:0px;
	width: 100%;
}	
.suntrust-contactUs .suntrust-supportcallPara p{
	font-weight: normal;
	font-size: 15px;
	text-align: left;
	margin-bottom:0;
}
.suntrust-supportEmail:focus, .suntrust-supportEmail:hover, .suntrust-supportChat:hover, .suntrust-supportChat:focus, .suntrust-supportHelpcenter:hover, .suntrust-supportHelpcenter:focus, a.suntrust-supportNumber:hover, a.suntrust-supportNumber:focus{
	color:#C94C06;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/* New Styles Created on 15-Jun Ends here */

/* Contact us call center css starts */
.suntrust-contactUsCallCenter{
	padding-top: 40px;
}
.suntrust-contactUsCallCenter .suntrust-callcenterPara span{
	font-weight: bold;
	font-size: 22px;
	color: #333333;
	vertical-align: middle;
	position: relative;
    top: 5px;
}
.suntrust-contactUsCallCenter .suntrust-callcenterPara{
	text-align: left;
	margin-bottom: 26px;
}
.suntrust-contactUsCallCenter .suntrust-supportCall{
	text-align: left;
    margin-bottom: 18px;
}

.suntrust-contactUsCallCenter .suntrust-supportCall .suntrust-supportNumber {
    font-weight: bold;
    font-size: 28px;
    vertical-align: middle;
}
.suntrust-contactUsCallCenter .suntrust-supportCall .suntrust-supportService {
    font-weight: normal;
    font-size: 18px;
    vertical-align: middle;
    width: 335px;
    display: inline-block;
}
.suntrust-contactUsCallCenter .suntrust-supportCall .suntrust-option{
	font-weight: bold;
	font-size: 18px;
	vertical-align: middle;
}
.suntrust-contactUsCallCenter .suntrust-supportcallPara p{
	font-weight: normal;
	font-size: 18px;
	text-align: left;
	width: 335px;
	margin-bottom: 0px;
}
/* Contact us call center css starts */

/* Mail us css starts */

.suntrust-mail{
	padding-top: 40px;
}
.suntrust-mail .suntrust-mailPara span{
	font-weight: bold;
	font-size: 18px;
	color: #333333;
	vertical-align: middle;
	position: relative;
}
.suntrust-mail .suntrust-mailPara{
	text-align: left;
	margin-bottom: 15px;
    overflow: hidden;
}
.suntrust-mailQuestions p:first-child{
	font-weight: bold;
	font-size: 15px;
	color: #333333;
	text-align: left;
	margin-bottom: 0px;
}
.suntrust-mailQuestions p:last-child{
	font-weight: normal;
	font-size: 15px;
	color: #333333;
	text-align: left;
}
.suntrust-mail .suntrust-mailAddress{
	border-left: 2px solid #333;
    margin-top: 10px;
}
.suntrust-mail .suntrust-mailWithout{
    margin-top: 10px;
}
.suntrust-mail .suntrust-mailAddress p,.suntrust-mail .suntrust-mailWithout p{
	font-size: 15px;
	text-align: left;
	padding: 0px 0px 0px 10px;
	margin-bottom: 0px;
}

/* Mail us css ends */

/* Transfer instructions css starts */

.suntrust-transferInstructions{
	padding-top: 40px;
}
.suntrust-transferInstructions .suntrust-transferPara span{
	font-weight: bold;
    font-size: 18px;
    color: #333;
    vertical-align: middle;
    display: inline-block;
    float: left;
	margin-top: 2px;
    width: 260px;
}
.suntrust-transferInstructions .suntrust-transferPara img{
	float: left;
}
.suntrust-transferInstructions .suntrust-transferPara{
	text-align: left;
	margin-bottom: 0;
    overflow: hidden;
    margin-top: 10px;
}
.suntrust-transferInstructions .suntrust-instructions{
	text-align: left;
	margin-bottom: 20px;
}
.suntrust-transferInstructions .suntrust-instructions p{
	padding: 5px;
	font-weight: normal;
	font-size: 15px;
	color: #333333;
}

.suntrust-transferInstructions .suntrust-fontNormal{
	font-weight: normal !important;
}
.suntrust-transferInstructions .suntrust-instructions .suntrust-instructionBgnormal span{
	font-weight: bold;
}
.suntrust-transferInstructions .suntrust-instructionsItems{
	text-align: left;
}
.suntrust-transferInstructions .suntrust-instructionsItems .suntrust-instructionsItemsParaText{
	font-weight: normal;
	font-size: 22px;
	color: #333333;
}
.suntrust-transferInstructions .suntrust-instructionsItems .suntrust-instructionsItemsParaDetails{
	font-weight: normal;
	font-size: 22px;
	color: #333333;
	margin-bottom: 0px;
}
.suntrust-transferInstructions .suntrust-instructionsItems .suntrust-instructionsItemsParaText span,
.suntrust-transferInstructions .suntrust-instructionsItems .suntrust-instructionsItemsParaDetails span{
	font-weight: bold;
}
/* Transfer instructions css starts */

/* Quick tips css starts */
.suntrust-quickTips{
	padding-top: 40px;
}
.suntrust-quickTips .suntrust-quickPara span{
	font-weight: bold;
    font-size: 22px;
    color: #333333;
    vertical-align: middle;
    margin-left: 10px;
    display: inline-block;
    float: left;
    margin-top: 10px;
}
.suntrust-quickTips .suntrust-quickPara{
	text-align: left;
	margin-bottom: 20px;
	overflow: hidden;
}
.suntrust-quickTips .suntrust-quickContentHolder p{
	font-weight: normal;
    font-size: 18px;
    text-align: left;
    width: 335px;
    margin-bottom: 0px;
	clear: both;
	margin-top: 15px;
}
.suntrust-quickTips .suntrust-quickContentHolder a{
	font-size: 18px;
    font-weight: bold;
    clear: both;
    text-align: left;
    padding: 0px;
    margin: 10px 0px 0px 0px;
    display: block;
}
.suntrust-quickTips .suntrust-quickPara img{
	float: left;
}
/* Quick tips css ends */

/* Did you know CSS starts */
.suntrust-didYouknow{
	padding-top: 40px;
}
.suntrust-didYouknow .suntrust-didyouPara span{
	font-weight: bold;
    font-size: 22px;
    color: #333333;
    vertical-align: middle;
    margin-left: 10px;
    display: inline-block;
    float: left;
    margin-top: 10px;
}
.suntrust-didYouknow .suntrust-didyouPara{
	text-align: left;
	margin-bottom: 20px;
	overflow: hidden;
}
.suntrust-didYouknow .suntrust-didyouknowHolder p{
	font-weight: normal;
    font-size: 18px;
    text-align: left;
    width: 335px;
    margin-bottom: 0px;
	clear: both;
	margin-top: 15px;
}
.suntrust-didYouknow .suntrust-didyouknowHolder a{
	font-size: 18px;
    font-weight: bold;
    clear: both;
    text-align: left;
    padding: 0px;
    margin: 10px 0px 0px 0px;
    display: block;
}
.suntrust-didYouknow .suntrust-didyouPara img{
	float: left;
}
/* Did you know CSS starts */

.suntrust-transferInstructions .suntrust-instructions .suntrust-instructionBgwhite{
	padding: 7px 5px 5px 12px;
	background: #ffffff;
	font-weight: normal;
	font-size: 18px;
	line-height: 18px;
	color: #333333;
}
.suntrust-transferInstructions .suntrust-instructions .suntrust-instructionBgnormal{
	font-weight: bold;
	font-size: 18px;
	line-height: 18px;
	color: #333333;
	padding: 7px 5px 5px 12px;
}
.suntrust-transferInstructions .suntrust-fontNormal{
	font-weight: normal !important;
}
.suntrust-transferInstructions .suntrust-instructions .suntrust-instructionBgnormal span{
	font-weight: bold;
}
/* this is for removing the dot from the li */
.contactus .suntrust-contactUs li.sun-contact-options-list-chat-support-li{
  list-style-type: none;
}
a.sun-contact-options-list-chat-support-link {
	font-size:20px;
	font-weight: bold;
    vertical-align: middle;
    cursor:pointer;
}
.suntrust-section3B .contactUs_accordion a.sun-contact-options-list-chat-support-link{
	font-size:18px;
	font-weight: normal;
}
.suntrust-section3B .contactUs_accordion a.sun-contact-options-list-chat-support-link img{
	height:25px;
}
.visuallyhidden{display:none;}
/* Media queries for Contact us section starts */

@media (max-width: 600px){
	/* Contact us css starts */
	.suntrust-contactUs .suntrust-supportCall .suntrust-supportService{
		width: auto;
	}
	/* Contact us css ends */
	
	/* Contact us call center css starts */
	.suntrust-contactUsCallCenter .suntrust-supportcallPara p{
		width: auto;
	}
	.suntrust-contactUsCallCenter .suntrust-supportCall .suntrust-supportService{
		width: auto;
	}
	/* Contact us call center css ends */
	
	/* Mail us css starts */
	.suntrust-mailQuestions p:first-child{
		word-break: break-all;
	}
	/* Mail us css ends */
	
	/*Quick tips*/
	.suntrust-quickTips .suntrust-quickContentHolder p{
		width:auto;
	}
	/*Quick tips*/
	/*Did you know */
	.suntrust-didYouknow .suntrust-didyouknowHolder p{
		width: auto;
	}
	/*Did you know */
	.suntrust-transferInstructions .suntrust-transferPara span{
		width: 215px;
	}
	/* New added in 15th june */
	.contactUsLstcontSec {
		width: 80%;
		display: inline-block;
		float: left;
	}
	/* New added in 15th june */
}
@media only screen and (max-width: 740px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
	/* Contact us call center css starts */
	.suntrust-contactUsCallCenter .suntrust-supportcallPara p{
		width: auto;
	}
	.suntrust-contactUs .suntrust-supportCall .suntrust-supportService{
		width: auto;
	}
	/* Contact us call center css ends */
	
	/* Contact us call center css starts */
	.suntrust-contactUsCallCenter .suntrust-supportCall .suntrust-supportService{
		width: auto;
	}
	/* Contact us call center css ends */
	
	/* Transfer instructions css starts */
	.suntrust-transferInstructions .suntrust-transferPara{
		overflow: hidden;
	}
	.suntrust-transferInstructions .suntrust-transferPara img{
		float: left;
	}
	.suntrust-transferInstructions .suntrust-transferPara span{
		float: left;
		margin-top: 10px;
		margin-left: 10px;
    	width: auto;
	}
	/* Transfer instructions css ends */
	/*Quick tips*/
	.suntrust-quickTips .suntrust-quickContentHolder p{
		width:auto;
	}
	/*Quick tips*/
	/*Did you know */
	.suntrust-didYouknow .suntrust-didyouknowHolder p{
		width: auto;
	}
	/*Did you know */
	/* New added css june 15th media */
	.suntrust-contactUs .suntrust-supportCall .suntrust-supportService {
		width: auto;
		display: block;
	}
	/* New added css june 15th media */
}

@media only screen and (min-width : 768px) and (max-width : 1024px){
	.suntrust-support .suntrust-supportCall .suntrust-supportNumber, .suntrust-support .suntrust-supportMail .suntrust-supportEmail{
		font-size: 22px;
	}
	.suntrust-contactUs .suntrust-supportCall .suntrust-supportService{
		width: auto;
	}
	.suntrust-contactUs .suntrust-supportMail .suntrust-supportEmail, .suntrust-contactUs .suntrust-supportLiveChat .suntrust-supportChat, .suntrust-contactUs .suntrust-supporthelpCenter .suntrust-supportHelpcenter{
		font-size: 22px;
	}
	.suntrust-contactUsCallCenter .suntrust-supportCall .suntrust-supportNumber{
		font-size: 22px;
	}
	.suntrust-contactUsCallCenter .suntrust-supportCall .suntrust-supportService{
		width: auto;
	}
	.suntrust-contactUsCallCenter .suntrust-supportcallPara p{
		width: auto;
	}
	.suntrust-mailQuestions p:first-child{
		word-break: break-all;
	}
	.suntrust-transferInstructions .suntrust-instructions{
		clear: both;
	}
	.suntrust-transferInstructions .suntrust-transferPara{
		overflow: hidden;
    	width: auto;
	}
	/*Quick tips*/
	.suntrust-quickTips .suntrust-quickContentHolder p{
		width:auto;
	}
	/*Quick tips*/
	/*Did you know */
	.suntrust-didYouknow .suntrust-didyouknowHolder p{
		width: auto;
	}
	/*Did you know */
	.suntrust-transferInstructions .suntrust-transferPara span{
		width: 78%;
	}
/* New added css 15th june */
	.contactUsLstcontSec {
		width: 74%;
		display: inline-block;
		float: left;
	}
	.suntrust-contactUs .suntrust-supportMail .suntrust-supportEmail, .suntrust-contactUs .suntrust-supportLiveChat .suntrust-supportChat, .suntrust-contactUs .suntrust-supporthelpCenter .suntrust-supportHelpcenter{
		font-size: 22px;
	}
	.suntrust-support .suntrust-supportCall .suntrust-supportNumber, .suntrust-support .suntrust-supportMail .suntrust-supportEmail{
		font-size: 22px;
	}
	.suntrust-contactUs .suntrust-supportCall .suntrust-supportService{
		width: auto;
	}
	.suntrust-contactUs .suntrust-supporthelpCenter a {
		overflow: hidden;
	}
	.suntrust-contactUs .suntrust-supporthelpCenter a span:first-child{
		float: left;
	}
	.suntrust-contactUs .suntrust-supporthelpCenter a span.suntrust-supportHelpcenter{
		display: inline-block;
		margin-top: 8px;
	}
	/* New added css 15th june */
}

/* Media queries for Contact us section ends */ 
