.contactUsForm_container [type="number"],.contactUsForm_container textarea {
    display: block;
    width: 100%;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px;
    -moz-background-clip: padding;
    border-radius: 3px;
    background-clip: padding-box;
    border: 1px solid #cfcfcf;
    padding: 10px 0 10px 10px;
    color: #333;
}
.contactUsForm_container input[type='text']::placeholder {
	letter-spacing: 2px;
}
.contactUsForm_container input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}
.contactUsForm_container input:focus::-moz-placeholder { color:transparent; } 
.contactUsForm_div {
	
}
.contactUsForm_div > p {
	margin: 25px 0 20px;
}
.contactUs_Form {
	
}
.contactUsForm_FieldDiv {
	
}
.contactUsForm_FieldDiv .sun-select-container {
	width: 100%;
}
.contactUsForm_FieldDiv .sun-select-container span {
	height: 36px;
}
.contactUs_Form .contactUsForm_FieldDiv:not(:last-child) {
	margin-bottom: 15px;
}
.contactUsForm_Label {
	padding: 0;
}
.contactUsForm_Label.contactUsForm_MultipleLabel label {
	margin: 2px 0 0;
	display: block;
}
.contactUsForm_Label.contactUsForm_MultipleLabel label span {
	color: #333;
	font-weight: 400;
	display: block;
    margin-top: 2px;
}
.contactUsForm_Label label {
	font-weight: 400;
	margin: 10px 0 0;
}
.contactUsForm_Label span, span.required,
.contactUsForm_Label.contactUsForm_MultipleLabel label span span {
	color: #cc0000;
	font-weight: 700;
}
.contactUsForm_MessageInfo.failure, .contactUsForm_MessageInfo{	
	font-weight: 700;
}
.contactUsForm_Label.contactUsForm_MultipleLabel label span span {
	display: inline-block;
}
.contactUsForm_Label, .contactUsForm_Field input {
	height: 38px;
}
.contactUsForm_Field input {
	padding: 10px;
	font: 15px;
}
.contactUsForm_Field input.contactUs_submit {
	padding: 10px;
	font-size: 16px;
}
.contactUsForm_Field textarea {
	resize: none;
	height: 100px;
}
select option {
	padding: 10px;
}

.suntrust-orange-button {
    -webkit-transition: all .15s ease-in;
    -moz-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    -ms-transition: all .15s ease-in;
    transition: all .15s ease-in;
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px;
    -moz-background-clip: padding;
    border-radius: 3px;
    background-clip: padding-box;
    padding: 10px 30px !important;
    font-size: 16px;
    line-height: 18px;
    cursor: pointer;
    outline: none;
    background-image: none;
    display: inline-block;
	background-color: #c94c06;
    color: #fff;
	border: 0;
}
.suntrust-orange-button:hover, .suntrust-orange-button:focus {
    background-color: #D66112;
    color: #fff;
    background-image: -moz-linear-gradient(-90deg, #D66112, #963F04);
    background-image: -webkit-linear-gradient(-90deg, #D66112, #963F04);
    background-image: -o-linear-gradient(-90deg, #D66112, #963F04);
    background-image: linear-gradient(180deg, #D66112, #963F04);
	outline: none;
    text-decoration: none;
}
.contactUs_errorMessage {
	color: #cc0000;
	margin: 0 0 20px 0;
}
input.error, textarea.error, .sun-select-container.error {
	border: 1px solid #cc0000;
}
.contactUsForm_div label.error {
	color: #cc0000;
}
input:focus, textarea:focus {
	outline: none;
}

.contactUs_Form .contactUsForm_FieldDiv.submitHolder :not(:last-child) {
	margin-bottom: 30px;
}
@media (min-width: 1200px) {
	.contactUsForm_container {
		margin: 0 auto;
		padding: 0 10px 0 0;
	}
	.contactUsForm_container .col-lg-5 {
    	padding-right: 10px;
     }
}
@media(max-width:1024px) {
	.contactUsForm_Field .sun-select-container {
		margin: 0;
	}
	.contactUsForm_container {
		width: 100%;
		padding: 0 15px;
	}
}
@media ( min-width : 991px) and (max-width: 1023px) {
	.contactUsForm_FieldMultipleDiv  .contactUsForm_SecondLabel, 
	.contactUsForm_FieldMultipleDiv  .contactUsForm_SecondField {
		margin-top: 0;
	}
}
@media(max-width:990px) {
	.contactUsForm_FieldMultipleDiv > .contactUsForm_SecondLabel {
		margin-right: -30px;
		padding-left: 0;
	}
	.contactUsForm_FieldMultipleDiv  .contactUsForm_SecondLabel, 
	.contactUsForm_FieldMultipleDiv .contactUsForm_SecondField {
		margin-top: 15px;
	}
}
@media(max-width:767px) {
	.contactUsForm_FieldDiv .contactUsForm_Field {
		padding: 10px 0 0;
		margin: 0;
	}
	.contactUsForm_Label {
		height: 25px;
	}
	.contactUsForm_Label.contactUsForm_MultipleLabel label,
	.contactUsForm_Label.contactUsForm_MultipleLabel label span{
		display: inline-block;
	}
	.contactUsForm_container {
        padding: 0 10px;
    }
}

@media (min-width : 768px) and (max-width: 799px) {
    .contactUsForm_Label label.reasonForContact {
    	padding-right: 5px;
    }
}

@media(min-width:767px) {
.contactUs_Form .contactUsForm_FieldDiv.indicateRow:not(:last-child) {
	margin-bottom: 0;
}
}
@media (min-width : 991px) and (max-width: 1299px) {
    .stateHolder .contactUsForm_Label, .phoneHolder .contactUsForm_Label {
    	width: 10.5%;
    }
    .stateHolder .contactUsForm_Field, .phoneHolder .contactUsForm_Field {
    	width: 31%;
    }

}
@media(min-width:990px) {
.contactUsForm_Label label.phoneLabel {
	margin-top: 0;
}
}