body{

}
/*Contact us Accordion*/
.rowContainer-TopRightRailBorder .suntrust-section3B {
	border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
}
.rowContainer-RemoveTop-Border .suntrust-section3B {
	//border-left: 1px solid #e5e5e5;
}
.contactUs_accordion {
    margin: 30px 0;
}
.contactUs_accordion .suntrust-accordion-container {
	padding: 0;
}
.contactUs_accordion .suntrust-accordion-container div div > li {
	list-style: none;
}
.contactUs_accordion .suntrust-accordion-trigger-desktop {
	padding: 15px;
    line-height: 20px;
    background: transparent;
}
.contactUs_accordion .suntrust-accordion-trigger-desktop h2 {
	font-size: 24px;
	margin-left: 0px;
    font-family: 'suntrustbold';
}
.suntrust-section3B .contactUs_accordion .suntrust-accordion-trigger-desktop h2 {
	font-size: 20px;
	margin-left: 0px;
    font-family: 'suntrustbold';
} 
.contactUs_accordion .suntrust-accordion-trigger{
	color: #003b71;
}
.contactUs_accordion .suntrust-accordion-trigger:focus, .contactUs_accordion .suntrust-accordion-trigger:hover{
	color: #C94C06;
    outline: 0;
}
.contactUs_accordion .suntrust-accordion-trigger-desktop:before {
    width: 12px;
    height: 2px;
    left: -3px;
}
.contactUs_accordion .suntrust-accordion-trigger-desktop:after {
    width: 2px;
    height: 12px;
    margin-top: -6px;
    left: 2px;
}
.accordian-border .contactUs_accordion ul.suntrust-accordion-container div div > li:not(:last-child) {
	border-bottom: 1px solid #cfcfcf;
}
.contactUs_accordion ul.suntrust-accordion-container li li {
	border-bottom: 0px;
}
.contactUs_accordion .suntrust-faqs-list {
	margin: 0 0 0 40px;
    padding: 0 0 15px;
}
.contactUs_accordion .suntrust-faqs-list .contactUs_content_data:not(:last-child) {
    padding-bottom: 10px;
}
.contactUs_accordion .contactUs_content_data p {
    margin: 0;
}
.contactUs_accordion .contactUs_content_data > a {
    font-size: 18px;
}
.contactUs_accordion .contactUs_content_data_wires p:not(:last-child), 
.contactUs_accordion .contactUs_content_data ul {
    margin-bottom: 15px;
}
.contactUs_accordion .contactUs_content_data ul {
    padding: 0;
}
.contactUs_accordion .contactUs_content_data .suntrust-img-text-container ul, .contactUs_accordion .contactUs_content_data .suntrust-img-text-container ol {
	padding: 0 0 0 18px;
}
.contactUs_accordion .contactUs_content_data ul li {
	list-style-type: disc;
    list-style-position: inside;
}
.contactUs_accordion .contactUs_content_data .suntrust-img-text-container ul li, .contactUs_accordion .contactUs_content_data .suntrust-img-text-container ol li {
	list-style-position: outside;
}
.contactUs_accordion .contactUs_content_data .suntrust-img-text-container ul li ul, .contactUs_accordion .contactUs_content_data .suntrust-img-text-container ol li  ul,
.contactUs_accordion .contactUs_content_data .suntrust-img-text-container ul li ol, .contactUs_accordion .contactUs_content_data .suntrust-img-text-container ol li  ol{
	padding-top: 10px;
	margin-bottom: 0;
}
.contactUs_accordion .imagetext{
    margin: 0px;
    padding: 0px;
}
.contactUs_accordion a.invocaTelLink {
	font-size: 18px;
}
@media screen and (-ms-high-contrast: active) , ( -ms-high-contrast :
	none) {
   .contactUs_accordion .suntrust-accordion-trigger-desktop::after{
      margin-top: -5px;
   }
}
@media screen and (-ms-high-contrast:active), all and (-ms-high-contrast:none){
.contactUs_accordion .suntrust-accordion-trigger::before {
    margin-top: 0px !important;
}
}
