.toAvoid{

}
.suntrust-dfs-carousel {
    position: relative;
    text-align: center;
    background-size: cover;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center top;
    height: auto;
    min-height: 250px;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 35px 0 35px 0;
    /*background-image: url(../img/Onboarding_Background1.jpg);*/
}
.suntrust-dfs-carousel .suntrust-carousel-slide {
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 30px;
	color: #ffffff;
	margin: 0 auto 30px auto;
	min-height: 270px;
}
.suntrust-dfs-carousel .suntrust-carousel-slide-connect {
    display: inline-block;
    max-width: 650px;
    margin: 0 auto;
    text-align: left;
    padding-left: 100px;
    position: relative;
}

.suntrust-dfs-carousel .suntrust-carousel-heading-container {
    margin: 0 auto 20px;
}
.suntrust-dfs-carousel .suntrust-carousel-heading-container .suntrust-carousel-heading {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 50px;
    line-height: 52px;
    font-weight: 100;
    position: relative;
    max-width: 700px;
    margin: 0;
}
.suntrust-dfs-dark-theme .suntrust-dfs-carousel .suntrust-carousel-heading-container .suntrust-carousel-heading, p.suntrust-dfs-dark-theme a.suntrust-link-no-thanks {
    color: #333 !important;
}
p.suntrust-dfs-dark-theme a.suntrust-link-no-thanks:hover, p.suntrust-dfs-dark-theme a.suntrust-link-no-thanks:focus {
    color: #333 !important;
}

.suntrust-dfs-dark-theme  .suntrust-carousel-slide-details p,
.suntrust-dfs-dark-theme .suntrust-carousel-slide-details a,
.suntrust-dfs-dark-theme .sun-decisiontree-cta-help-text a,
.suntrust-dfs-dark-theme .suntrust-carousel-cta-icon-caption  {
    color: #333;
}
.suntrust-carousel-slide-details a, .sun-decisiontree-cta-help-text a {
    color: #fff;
    text-decoration: underline;
}
.suntrust-carousel-cta-list {
    list-style: none;
    margin: 0;
    padding: 0 0 0 0;
    font-size: 0;
}
.suntrust-carousel-cta-list>li {
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    line-height: 0;
    margin-bottom: 10px;
    margin-right: 15px;
    text-align: left;
}
.sun-decisiontree-cta, .suntrust-carousel-cta-icon-caption {
    display: inline-block;
}
.suntrust-carousel-cta-button {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px;
    -moz-background-clip: padding;
    border-radius: 3px;
    background-clip: padding-box;
    color: #fff;
    font: 18px/24px "suntrustregular","Trebuchet MS",sans-serif;
    background: #0075c9;
    -webkit-transition: background .15s ease-in;
    -moz-transition: background .15s ease-in;
    -o-transition: background .15s ease-in;
    -ms-transition: background .15s ease-in;
    transition: background .15s ease-in;
    width: 240px;
    padding: 16px 10px;
    font-size: 24px;
    line-height: 24px;
}
.suntrust-carousel-cta-list li a:focus .suntrust-carousel-cta-button,.suntrust-carousel-cta-list li a:hover .suntrust-carousel-cta-button {
    background-color: #c94c06;
    outline: none;
}
.sun-product-carousel-next-arrow, .sun-product-carousel-prev-arrow {
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-border-radius: 0 3px 3px 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0 3px 3px 0;
    -moz-background-clip: padding;
    border-radius: 0 3px 3px 0;
    background-clip: padding-box;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -30px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    color: #fff;
}
.sun-product-carousel-next-arrow {
    left: auto;
    right: 0;
    -webkit-border-radius: 3px 0 0 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px 0 0 3px;
    -moz-background-clip: padding;
    border-radius: 3px 0 0 3px;
    background-clip: padding-box;
}
.sun-product-carousel-next-arrow:before{
    padding-right: 20px;
}
.sun-product-carousel-prev-arrow:before{
    padding-left: 20px;
}
.suntrust-dfs-carousel .sun-product-carousel-next-arrow, .suntrust-dfs-carousel .sun-product-carousel-prev-arrow {
    display: block;
}
#DecisionTreeComponent a.sun-product-carousel-next-arrow:focus, #DecisionTreeComponent a.sun-product-carousel-prev-arrow:focus, #DecisionTreeComponent a.sun-product-carousel-next-arrow:hover, #DecisionTreeComponent a.sun-product-carousel-prev-arrow:hover {
    color: #c94c06;
}
.suntrust-product-position-list-alt {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
    text-align: center;
    z-index: 100;
}
.suntrust-product-position-list-alt li {
    display: inline-block;
    margin: 0;
    width: 115px;
    cursor: pointer;
	padding-right: 5px;
}
.suntrust-product-position-list-alt li.sun-active {
    background-color: transparent;
}
.sun-decisiontree-navigation-item {
    display: block;
}
.suntrust-product-position-list-alt li .suntrust-step-indicator {
    /*background-color: rgba(255,255,255,.2);*/
	background-color: #fff;
	opacity: 0.5;
    display: block;
    height: 7px;
}
.suntrust-product-position-list-alt li.sun-active .suntrust-step-indicator {
    background-color: #ffa400;
    color: #fff;
	opacity: 1;
}
.suntrust-product-position-list-alt li:hover .suntrust-step-indicator {
    background-color: #ffa400;
	opacity: 1;
}
.suntrust-product-position-list-alt li a:focus .suntrust-step-indicator {
    background-color: #ffa400;
    outline: hidden;
    color: #fff;
	opacity: 1;
}
.suntrust-product-position-list-alt li .suntrust-step-caption {
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: rgba(255,255,255,.6);
    margin-top: 10px;
    margin-bottom: 0;
    text-align: left;
    font-size: 16px;
    font-weight: normal;
}
.suntrust-product-position-list-alt li.sun-active .suntrust-step-caption {
    color: #fff;
}
.suntrust-product-position-list-alt li.sun-active .suntrust-step-caption, 
.suntrust-product-position-list-alt li .suntrust-step-caption {
	text-align:center;
}
.suntrust-product-position-list-alt li:hover .suntrust-step-caption,
.suntrust-product-position-list-alt li a:focus .suntrust-step-caption {
    color: #fff;
}
.suntrust-carousel-cta-list li {
    margin-bottom: 10px;
    margin-right: 15px;
}
.suntrust-dfs-carousel .suntrust-carousel-slide-connect .suntrust-carousel-slide-icon {
    position: absolute;
    left: 0;
    top: 0;
}
.suntrust-carousel-slide-connect.image-right .suntrust-carousel-slide-icon {
    right: 0;
    left: auto;
}
.suntrust-carousel-cta-icon, .suntrust-carousel-slide-icon {
    width: 88px;
    height: 88px;
    display: block;
}
.suntrust-carousel-cta-icon {
    margin: 0 auto 10px;
}
.sun-decisiontree-cta, .suntrust-carousel-cta-icon-caption {
    display: inline-block;
}
.suntrust-carousel-cta-icon-caption {
    width: 131px;
    color: #fff;
    position: relative;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
}
li a:focus .suntrust-carousel-cta-icon-caption {
    color:	#c94c06;
    cursor: pointer;
    outline: hidden;
}
.sun-decisiontree-cta:hover .suntrust-carousel-cta-icon-caption {
    color: #c94c06;
}
.suntrust-carousel-slide-details p {
    margin: 10px 0;
    font-size: 16px;
	font-weight: normal;
}

/*Form*/
.suntrust-carousel-locator-form {
    max-width: 350px;
    text-align: left;
}
.suntrust-carousel-locator-form .suntrust-label {
    color: #fff;
    text-align: left;
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 15px;
    font-style: italic;
	font-weight: normal;
}
.suntrust-carousel-locator-form .suntrust-input {
    width: 100%;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 18px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 45px;
    margin-bottom: 10px;
}
.suntrust-carousel-locator-form .suntrust-carousel-cta-button {
    width: 100%;
	border: 0;
}
.suntrust-carousel-locator-form-fieldset.sun-field {
    margin-bottom: 25px;
}
.suntrust-carousel-locator-form .suntrust-carousel-cta-button:focus {
    background-color: #014465;
}
.suntrust-carousel-cta-button:hover {
    background: #014465;
}
/***End***/

/***DFS Alignment***/

.suntrust-carousel-slide .text-align-center {
    text-align: center;
}
.suntrust-carousel-slide .text-align-right {
    text-align: right;
}
.suntrust-carousel-slide-connect.image-right {
    padding: 0 100px 0 0;
}

.sun-decisiontree-cta-help-text {
    font-size: 15px;
    margin-top: 5px;
    text-align: center;
    display: block;
    line-height: 1.2;
    max-width: 240px;
    width: 100%;
}
.sun-decisiontree-cta-help-text a:focus,
.sun-decisiontree-cta-help-text a:hover,
.suntrust-carousel-slide-details a:focus,
.suntrust-carousel-slide-details a:hover {
	color: #fff;
	text-decoration: none;
}
.sun-decisiontree-cta-help-text-right, .sun-decisiontree-cta-help-text-left {
    padding-top: 5px;
    display: inline-block;
    width: auto;
    vertical-align: top;
}
.sun-decisiontree-cta-help-text-right {
    margin-left: 15px;
}
.sun-decisiontree-cta-help-text-left {
    margin-right: 15px;
}

.suntrust-carousel-slide-details {
    /*max-width: 450px;*/
}

/*CTA Button Variation*/
.suntrust-dfs-blue-cta-button {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px;
    -moz-background-clip: padding;
    border-radius: 3px;
    background-clip: padding-box;
    color: #fff;
    font-family: "suntrustregular","FS Albert",sans-serif;
    -webkit-transition: background .15s ease-in;
    -moz-transition: background .15s ease-in;
    -o-transition: background .15s ease-in;
    -ms-transition: background .15s ease-in;
    transition: background .15s ease-in;
}

.suntrust-dfs-blue-cta-button {
	background: #0075c9;
}
.suntrust-carousel-cta-list li a:focus .suntrust-dfs-blue-cta-button,
.suntrust-carousel-cta-list li a:hover .suntrust-dfs-blue-cta-button {
	background: #014465;
}
.suntrust-dfs-medium-cta-button {
	width: 240px;
    padding: 16px 10px;
    font-size: 16px;
    line-height: 20px;
}
/*End*/

.suntrust-dfs-carousel .suntrust-carousel-heading-container .heading-width-800 {
	max-width: 800px;
}
.suntrust-dfs-carousel .suntrust-carousel-heading-container .heading-width-900 {
	max-width: 900px;
}
.suntrust-dfs-carousel .suntrust-carousel-heading-container .heading-width-1000 {
	max-width: 1000px;
}
.suntrust-dfs-carousel .suntrust-carousel-heading-container .heading-width-1100 {
	max-width: 1100px;
}
.suntrust-dfs-carousel .suntrust-carousel-heading-container .heading-width-1200 {
	max-width: 1200px;
}

/* added to opt out text */
.suntrust-link-no-thanks:hover, .suntrust-link-no-thanks:focus {
   color: #fff;
   font-size: 16px;
}

.suntrust-link-no-thanks {
    color: #fff;
    font-size: 16px;
    text-decoration: underline;
}
.suntrust-no-thanks {
    top: 10px;
    position: relative;
    text-align: center;
	margin: 0 auto;
}
.hideinDesktop {
	display:none;
}
/*Slide title variation*/
.suntrust-carousel-slide-title-28 {
    font-size: 28px;
}
.suntrust-carousel-slide-title-32 {
    font-size: 32px;
}
.suntrust-carousel-slide-title {
    font-size: 30px;
}
/*End*/

@media (max-width: 767px){
    .suntrust-carousel-slide-title, .suntrust-carousel-slide-title-28,.suntrust-carousel-slide-title-32 {
        font-size: 23px;
        line-height: 30px;
    }
    .hideinMobile{
		display:none!important;
	}
	.hideinDesktop {
        display: block;
    }
	.sun-product-carousel-next-arrow:before{
		padding-right: 5px;
		font-size: 30px;
	}
	.sun-product-carousel-prev-arrow:before{
		padding-left: 5px;
		font-size: 30px;
	}
}

@media (max-width: 700px){
	.suntrust-carousel-cta-list>li {
		margin-right: 5px;
	}
	.suntrust-carousel-cta-icon-caption {
		width: 125px;
	}
}
@media (max-width: 600px){
	.suntrust-dfs-carousel {
		padding: 60px 0 20px 0;
		min-height: 420px;
	}
	.suntrust-dfs-carousel .suntrust-carousel-slide {
		padding: 0 50px;
	}
	.suntrust-dfs-carousel .suntrust-carousel-heading-container .suntrust-carousel-heading {
		font-size: 30px;
		line-height: 40px;
		margin: 0;
	}
	.suntrust-dfs-carousel .suntrust-carousel-cta-list li {
		margin-right: 0;
		text-align: center;
	}
	.suntrust-carousel-cta-list>li {
		display: block;
		margin: 0 0 10px 0;
	}
	
	.suntrust-product-position-list-alt {
		display: table;
		width: 100%;
		border-spacing: 2px;
		border-collapse: separate;
		bottom: auto;
		top: 0;
	}
	.suntrust-product-position-list-alt li {
		width: 20%;
		padding: 0;
		text-align: center;		
		background-color: rgba(255,255,255,.2);		
		margin: 0 2px 2px 0;
		min-height: 46px;
		display: table-cell;
		vertical-align: middle;
	}
	.suntrust-product-position-list-alt li:nth-child(3){
		margin-right: 0;
	}
	.suntrust-product-position-list-alt li.sun-active {
		background-color: #ffa400;
	}
	.suntrust-product-position-list-alt li a {
		padding: 5px 0;
		/*vertical-align: middle;		
		display: table-cell;*/
	}
	.suntrust-product-position-list-alt li .suntrust-step-indicator {
		display: none;
	}
	.suntrust-product-position-list-alt li .suntrust-step-caption {
		text-align: center;
		margin-top: 0;
		line-height: 16px;
		color: #fff;
	}
	.suntrust-dfs-carousel .suntrust-carousel-slide-connect {
		padding-left: 0;
	}
	.suntrust-carousel-slide-connect.image-right {
		padding: 0 0 0 0;
	}
	.suntrust-dfs-carousel .suntrust-carousel-slide-connect .suntrust-carousel-slide-icon {
		display: none;
	}
	.sun-product-carousel-next-arrow, .sun-product-carousel-prev-arrow {
		width: 40px;
	}
	.suntrust-carousel-slide-connect .sun-decisiontree-cta{
		text-align: center;
	}
	.sun-decisiontree-cta-help-text {
		max-width: 100%;
	}
	.sun-decisiontree-cta-help-text-right, .sun-decisiontree-cta-help-text-left {
		padding-top: 0;
		display: block;
		width: 100%;
	}
	.sun-decisiontree-cta-help-text-right {
		margin: 5px 0 0 0;
	}
	.sun-decisiontree-cta-help-text-left {
		margin: 0 0 5px 0;
	}
	.suntrust-carousel-cta-list .suntrust-carousel-cta-arrow {
		position: relative;
		padding: 0 50px 0 54px;
		min-height: 44px;
		min-width: 225px;
		margin: 0 auto 10px auto;
	}
	.suntrust-product-carousel .suntrust-carousel-cta-list li {
		margin-right: 0;
		text-align: center;
	}
	.suntrust-carousel-cta-list li.suntrust-carousel-cta-arrow {
		margin-right: auto;
	}
	.suntrust-carousel-cta-icon {
		margin: 0 10px 0 0;
		display: inline-block;
		vertical-align: middle;
	}
	.suntrust-carousel-cta-list .suntrust-carousel-cta-arrow .suntrust-carousel-cta-icon {
		position: absolute;
		left: 0;
		right: 0;
	}
	.suntrust-carousel-cta-icon-caption {
		display: inline-block;
		width: auto;
		margin: 0;
		text-align: left;
		padding-top: 15px;
	}
	.suntrust-carousel-cta-icon, .suntrust-carousel-slide-icon {
		width: 44px;
		height: 44px;
	}
	.suntrust-dfs-blue-step-item.suntrust-product-position-list-alt li{
		background-color: #0075c9;
		opacity: 1;
	}
	.suntrust-dfs-blue-step-item.suntrust-product-position-list-alt li.sun-active{
		background-color: #014465;
		opacity: 1;
	}
	.suntrust-dfs-blue-step-item.suntrust-product-position-list-alt li:hover {
		background-color: #014465;
		opacity: 1;
	}
	.suntrust-dfs-blue-step-item.suntrust-product-position-list-alt li a:focus {
		background-color: #014465;
		opacity: 1;
	}
}
@media (max-width: 350px){
	.sun-decisiontree-cta,.suntrust-dfs-medium-cta-button{
    	width: 100%;
	}
}