.error_container {
	padding: 40px 0;
}
.error_content{
	font-size: 18px;
	color: #333;
}
.error_content:not(:last-child) {
	margin-bottom: 20px;	
}
.error_content p {
	margin: 0;	
	line-height: 24px;
}
.error_content ul {
	padding: 0 0 0 18px;
}
.error_content li {
	font-size: 18px;
	padding-top: 10px;
	line-height: 25px;
}
.error_content li a {
	color: #005ea6;
}
.error_content li a:hover, 
.error_content li a:focus {
	color: #c94c06;
}
/* Footer Links Start */
.suntrust-footer-social-links-container {
	max-width: 1170px;
	margin:20px auto;
	padding-bottom: 20px;
	border-bottom: 1px solid #e5e5e5;
}
.suntrust-footer-social-links {
	width: 900px;
	margin: 0 auto;
}
.suntrust-footer-social-links-content {

}
.suntrust-footer-social-links-content p {
	font-weight: 700;
}
.suntrust-footer-social-links-content > a {
	display: block;
	line-height: 25px;
}
.suntrust-footer-social-links-content > div.clearfix:not(:last-child) {
	margin-bottom: 15px;
}
.suntrust-footer-social-links-content .suntrust-footer-social-links-img,
.suntrust-footer-social-links-content a.suntrust-footer-social-links-title {
	float: left;
}
.suntrust-footer-social-links-content .suntrust-footer-social-links-img {
	width: 25px;
    height: 25px;
}
.suntrust-footer-social-links-content .suntrust-footer-social-links-img img {
	width: 100%;
    height: 100%;
}
.suntrust-footer-social-links-content .suntrust-footer-social-links-img img[src=""] {
    background-color: #aaa;
}
.suntrust-footer-social-links-content a.suntrust-footer-social-links-title {
	margin-left: 15px;
    margin-top: 3px;
}
/* Footer Links End */

@media (max-width: 900px) {
	.suntrust-footer-social-links {
		width: 100%;
	}
}
@media (max-width: 767px) {
	.error_container {
		padding: 0 15px 40px;
	}
	.suntrust-footer-social-links-content {
		margin-top: 20px;
	}
}

/* Suntrust side down css start */
.no-padding {
	padding: 0;
}
.no-margin {
	margin: 0 !important;
}
.suntrust-logo {
	width: 205px;
	margin: 0 auto;
}
.no-padding div.suntrust-image-container>div{
	width: 205px;
    margin: 0 auto;
}
.suntrust-logo img {
	width: 100%;
}
.site_down_container {
	text-align: center;
	margin: 85px 0;
}
.site_down_container p.site_down_unavailable {
	font-size: 30px;
	margin-bottom: 20px;
	line-height: 25px;
}
.site_down_container p:not(.site_down_unavailable) {
	margin-bottom: 0;
	font-size: 20px;
}
.component-footer.clearfix {
	background-color: #f5f5f5;
}
@media (max-width: 600px) {
	.suntrust-logo .suntrust-header-logo-link {
		width: 100%;
		height: auto;
	}
	.suntrust-logo .suntrust-header-logo-link .suntrust-header-logo-img {
		height: auto;
		width: 100%;
		position: relative;
		margin-left: 0;
		left: 0;
	}
	.site_down_container {
		padding: 0 15px;
	}
}
/* Suntrust side down css end */