/*
Reference links
https://www.suntrust.com/facts-about-banking/faqs

*/
a {
    text-decoration: none;
    color: #003b71;
}
.row-container-wrapper {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 30px;
}
.component-featuredtab .component-bodytext h1, .component-bodytext h2, .component-bodytext h3 {
    font-size: 30px;
    line-height: 32px;
    margin: 0 0 20px 0;
}
.sun-body-component, .sun-content-item-detail {
    margin-bottom: 30px;
    margin-top: 30px;
    padding-right: 0;
    padding-left: 0;
}
.suntrust-accessible-text {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    top: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.sun-faqs-page-container .sun-faqs-page-header {
    margin-bottom: 40px;
}
.sun-faqs-page-header {
    color: #666666;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 50px;
}
.sun-faqs-page-details {
	margin-top: 40px;
    margin-bottom: 40px;
}
.sun-faqs-page-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.sun-faqs-page-list-item {
    margin-bottom: 20px;
    border-bottom: 1px solid #cfcfcf;
}
.sun-faqs-page-list-item-header {
    vertical-align: top;
    position: relative;
    padding-left: 25px;
    color: #003b71;
    cursor: pointer;
    margin-bottom: 20px;
    display: block;
}
.sun-faqs-page-list-item-header.sun-active {
    vertical-align: top;
    position: relative;
    padding-left: 25px;
}
.sun-faqs-page-list-item-header:after {
    font-family: "sun-icons-UXd1Fq6";
    display: inline-block;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    content: "";
    color: #d8d8d7;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -6px;
    font-size: 12px;
    line-height: 12px;
	width: 12px;
    text-align: center;
}
.sun-faqs-page-list-item-header.sun-active:after {
    font-family: sun-icons-UXd1Fq6;
    content: "";
    color: rgb(216, 216, 215);
    margin-top: -4px;
}
.sun-faqs-page-list-item-detail {
    display: none;
}
.sun-faqs-page-list-item-detail.sun-active {
    display: block;
}
.sun-faqs-page-list-item-detail {
    margin-left: 50px;
}
.clearfix {
    zoom: 1;
}
.clearfix:before, .clearfix:after {
    content: "&nbsp;";
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.sun-faqs-page-list-item-detail p,
.sun-faqs-page-list-item-detail > ul {
	margin-bottom: 20px;
}
.sun-faqs-page-list-item-detail > ul {
	padding-left: 18px;
}

.suntrust-section3A .component-faqsummarylist {
	padding: 0 15px;
}

.SingleColumn .component-faqsummarylist {
	padding: 0 30px;
}
.sun-faqs-page-list-item-detail li {
    list-style-type: inherit;
}
.suntrust-faqs-list {
	padding-left: 80px;
}
@media screen and (max-width: 768px) {
	.suntrust-faqs-list {
		padding-left: 40px;
	}
	.accordion ul.faq{
        padding: 0 15px;
    }
    .SingleColumn .col-lg-12 .accordion ul.faq{
        padding: 0;
    }
	.accordion .contactUs_accordion ul.faq {
        padding: 0;
    }
}