.calculator_div {
	
}
.calculator_div {
	padding-right: 30px;
	margin: 40px 0;
}
.calculator_div .tableCalculator_padding {
	padding: 10px 20px;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
}
.calculator_div table {
	padding: 10px;
	width: 100%;
}
.calculator_div table td {
	padding: 10px;
	width: 70%;
}
.calculator_div table td p {
	display: inline-block;
}
.calculator_div table td:nth-child(2) {
	width: 30px;
	text-align: center;
}
.calculator_div table td:last-child {
	width: 200px;
	padding-left: 0;
}
.calculator_div table input {
	height: 38px;
	padding: 10px;
}
.calculator_div table.savings_contribution tr:last-child {
	border-top: 1px solid #cfcfcf;
}
.calculator_div table.savings_contribution tr:last-child td:first-child,
.calculator_div table.savings_contribution tr:last-child td:last-child input,
.financialGapDiv table tr:last-child td:first-child,
.financialGapDiv table tr:last-child td:last-child input {
	font-weight: 700;
}
.lightBlueCalculatorTitle {
	text-align: center;
	color: #fff;
	background-color: #0075C9;
	padding: 10px;
    font-size: 16px;
}
.darkBlueCalculatorTitle {
	text-align: center;
	color: #fff;
	background-color: #003b71;
	padding: 12px;
    font-size: 16px;
}
.financialGapDiv {
	position: relative;
}
.financialGapDiv .tableCalculator_padding {
	border: 3px solid #0075C9;
    padding-bottom: 20px;
}
.financialGapDiv table td a.resetCalVal,.financialGapDiv table td a.resetMonCalVal  {
	text-decoration: underline;
}
.financialGap_message {
	padding: 0 0 0 10px;
}
.financialGap_message > div {
	width: 57%;
	float: left;
    margin-top: -40px;
}
.financialGap_message .financialGap_positive {
	color: #028477;
}
.financialGap_message .financialGap_negative {
	color: #C94C06;
}

.calculator_div  input:focus {
	outline: none;
}
.calculator_div table tr.totalPrevHolder  td {
	padding-bottom: 0;
}
.calculator_div table tr.totalHolder  td {
	padding-top: 20px;
}
.calculator_div table tr.totalHolder  td label, .calculator_div table label.totalfinancialLabel, .calculator_div table input.totalFinancialGap {
	font-weight: bold;
}
.calculator_div table label {
	font-weight: normal;
	margin-bottom: 0;
}

.calculator_div table input[type="text"][disabled] {
   color: #666;
   font-weight: bold;
    -webkit-text-fill-color: #666; 
   -webkit-opacity: 1; 
	background-color: #EBEBE4;
}
.calculator_div table td.reset {
    padding: 0 0 10px 0;
}
/* school type changes start */

.school_button {
    padding-right: 30px;
}
.school_button .school_annual_exp:first-child {
	margin-left: 0;
}
.school_button .school_annual_exp {
	height: auto;
    width: 22%;
    line-height: 18px;
	margin-left: 3.5%;
    height: 74px !important;

}
.school_button .school_annual_exp span {
	display: block;
}
.school_button button.active {
    outline: none;
    text-decoration: none;
    background-color: #003B71;
    border: 1px solid #003B71;
    color: #fff;
}

@media (max-width: 1024px) {
	.school_button .school_annual_exp {
		margin-left: 3.2%;
	}
}
@media (max-width: 900px) {
   .school_button {
    	padding: 0 15px;
	} 
}
@media (min-width: 768px) and (max-width: 900px) {
   .school_button .school_annual_exp {
	width: 46%;
	}
	.school_button .school_annual_exp:nth-child(odd) {
		margin-left: 0;
	}
}
@media (max-width: 600px) {
	.school_button .school_annual_exp:nth-child(odd) {
		margin-left: 0;
	}
	.school_button .school_annual_exp {
		margin-left: 6%;
		width: 46%;
	}
}
/* school type changes end */
@media(max-width:767px) {
	.financialGap_message > div {
		width: 100%;
		float: none;
		margin-top: 0px;
		padding-top: 10px;
	}
	.calculator_div table {
		width: 100%;
	}
	.financialGap_message {
		padding: 0;
		margin: 0 10px;
	}
	.calculator_div .tableCalculator_padding {
		padding: 10px;
	}
}
@media(max-width:568px) {
	.calculator_div table td:last-child {
		width: 35%;
	}
}
@media(max-width:800px) {
	.calculator_div {
		padding-right: 0;
		margin: 40px 15px;
	}
}