body {
}
/* New global header section starts */
.HeaderNavContainer{
	max-width:1170px;
	margin:0 auto;
} 
.HeaderNavContainer nav{
	min-height: 50px;
}
.suntrust-selected{
	background: #457497;
}
.suntrust-globalNav .suntrust-header-logo-link {
	margin: 0 auto;
    position: absolute;
    top: 20px;
}
.suntrust-globalNav .suntrust-header-logo-link .suntrust-header-logo-img, .suntrust-header-logo-img{
    height: 48px;
}

.suntrust-globalNav .suntrust-promo-cta-button{
    color: #fff !important;
    background-color: #c94c06;
    width: auto;
    padding: 7px 15px;
    margin: 10px 30px 10px 0;
    font-size: 16px;
    font-family: "suntrustregular";
    height: 34px;
}
.suntrust-globalNav .suntrust-promo-cta-button:hover, .suntrust-globalNav .suntrust-promo-cta-button:focus {
    outline: none;
    background-color: #963F04 !important;
    text-decoration: none;
}
.navbar-inverse .navbar-nav>li>a.suntrust-navtext {
	color: #003b71;
	margin-right: 10px;
}
.navbar-inverse .navbar-nav>li>a.suntrust-navtext:hover,
.navbar-inverse .navbar-nav>li>a.suntrust-navtext:focus {
color: #C94C06;
}

.suntrust-globalNav .suntrust-navtext.suntrust-anchorOrange{
	color: #c94c06 !important;	
}
.suntrust-globalNav .suntrust-user-icon-button .suntrust-header-icon-button-text {
    margin-right: 10px;
    margin-top: 18px;
    line-height: 15px;
	text-transform: none;
	font-size: 16px;
}
.suntrust-globalNav .suntrust-user-icon {
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    border: 2px solid #d3d3d3;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    text-align: center;
	margin: 7px 8px 0 0;
}
.suntrust-globalNav .suntrust-subMenu{
	/*margin-top: 10px;*/
	position: relative;
}
.suntrust-globalNav .suntrust-subMenu:before {
	width: 3000px;
    border-top: 2px solid #efeff0;
    top: 0;
    position: absolute;
    content: "";
    left: -1000px;
}
.suntrust-globalNav .suntrust-subMenu:after {
	width: 3000px;
    border-bottom: 2px solid #efeff0;
    bottom: 0;
    position: absolute;
    content: "";
    left: -1000px;
}
/* For navigation header */
.suntrust-header-alt {
	display: block;
    width: 100%;
    background-color: #fff;
	padding: 20px 30px 0px 30px;
	border: none;
}
.suntrust-subMenu>li{
    margin: 0 auto;
    text-align: center;
	height: 40px;
	padding: 10px 0px 10px 0px;
    cursor: pointer;
}
.suntrust-subMenu>li:hover a.suntrust-subMenuanchor,.suntrust-subMenu>li:focus a.suntrust-subMenuanchor{
	color: #c94c06;
}
.navbar-inverse  .suntrust-subMenu>li>.suntrust-subMenuanchor{
	color: #333;
    font-size: 15px;
	background: none !important;
	padding: 0px;
}
.navbar-inverse .suntrust-subMenu>li>.suntrust-subMenuanchor:hover, .navbar-inverse .suntrust-subMenu>li>.suntrust-subMenuanchor:focus {
	color: #c94c06;
}

.suntrust-subMenu>li>.suntrust-subMenuanchor:hover,.suntrust-subMenu>li>.suntrust-subMenuanchor:focus{
	color: #333;
}

.suntrust-subMenu>li>.suntrust-subMenuanchor.last{
padding-right:0px;
}
.suntrust-subMenu>li.active a.suntrust-subMenuanchor{
	border-bottom: 5px solid #e35225;
	padding-bottom: 3px;
}

ul.pull-right li, span.suntrust-header-icon-button-sign-on {
	/*font-weight: bold;
	font-size: 18px;*/
}

ul.suntrust-subMenu {
	/*font-size: 16px;*/
}

div.suntrust-overlayItem h4 {
	font-size: 17px;                    
    margin-bottom: 5px;
}

/* For navigation header */

/* For overlayed items */
.suntrust-overlayContent{
	position: fixed;
	padding:0px;
	z-index: 1;
	left:0;
	width: 100%;
	margin-top: 4px;
}
.suntrust-subMenuList.active .suntrust-overlayContent{
	margin-top: -3px;
}
.clearBoth{
	clear: both;
}
.suntrust-overlayItem{
	background: #003b71;
	border-radius: 1px;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2)
}
.suntrust-overlayItem .suntrust-firstSectionOverlay,.suntrust-overlayItem .suntrust-secondSectionOverlay{
    overflow: hidden;
}
.suntrust-overlayItem .suntrust-secondSectionOverlay{
	margin-bottom: 10px;
}
.suntrust-overlayContent .suntrust-overlayItem .activeState{
	padding: 5px 0px;
    background: #e35225;
    position: absolute;    
	min-width: 105px;
    display: inline-block;
    left: 0px;
	top: 0px;
}
.suntrust-overlayItem .suntrust-headingText,.suntrust-overlayItem ul li a{
	color: #fff;
}
.suntrust-overlayItem .suntrust-headingText{
    font-weight: bold;
	font-size: 16px;
	text-align: left;
	padding: 5px;
	margin-left: -20px;
}
.suntrust-overlayItem .suntrust-headingText:hover,.suntrust-overlayItem .suntrust-headingText:focus{
	text-decoration: underline;
}
/*ADA*/
.suntrust-overlayItem .suntrust-headingText.active{
	text-decoration: underline;
}
/*ADA*/
.suntrust-overlayItem .suntrust-headingText a{
	color: #fff;
	text-decoration: none;
	display: block;
}
.suntrust-overlayItem .suntrust-headingText a:hover {
	color: #fff;
	text-decoration: none;
}
.suntrust-overlayItem ul li {
	list-style-type: none;
}
.suntrust-overlayContent .suntrust-overlayItem{
	padding: 10px 15px 20px 15px;
}
.suntrust-column-width{
	width: 250px !important;
	padding-right: 30px;
	margin-bottom: -30px;
}
.suntrust-emptydiv{
	max-width: 1000px;
	margin: 0 auto;
}
.suntrust-topArrow{
	width: 0; 
	height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 7px solid #003b71;
    display: inline-block;
    margin-bottom: 10px;
    position: absolute;
    top: 28px;
    z-index: 11;
	text-align: center;
    margin-left: -6px;
    left: 50%;
}
.suntrust-topArrow-active{
    width: 0;
    height: 0px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 7px solid #003b71;
    display: inline-block;
    margin-bottom: 10px;
    position: absolute;
    top: 28px;
    z-index: 11;
	text-align: center;
    margin-left: -6px;
    left: 50%;
}
.suntrust-overlayItem ul li{
	padding-bottom: 0px;
	margin-left: -25px;
	padding-top: 0;
}
.suntrust-overlayItem ul li:hover,.suntrust-overlayItem ul li:focus{
	text-decoration: underline;
}
.suntrust-overlayItem ul li a:hover,.suntrust-overlayItem ul li a:focus{
	text-decoration: underline;
}
/*ADA*/
.suntrust-overlayItem ul li.listactive{
	text-decoration: underline;
	outline:0;
}
/*ADA*/
.suntrust-overlayItem ul{
	margin: 10px 0px 30px 10px;
    padding: 0px;
	text-align: left;
}
.suntrust-overlayItem ul li a{
	padding-top: 3px;
	display: inline-block;
	padding-bottom: 5px;
	font-size: 14px;
}
/* For overlayed items */

/* For active list item */
.suntrust-activeList .suntrust-activlistHolder{
	background: #003b71;
	overflow: hidden;
	padding: 20px 0px 20px 50px
}
.suntrust-activeList .suntrust-activlistHolder .suntrust-headingactiveList{
	color: #fff;
}
.suntrust-activeList{
	margin-top: 40px;
    padding: 0px;
    margin-bottom: -44px;
}
/* For active list item */

/* On hover level ipad,mobile view css starts */
.suntrust-levelHolder{
	width: 320px;
    background: #003b71;
    height: 100%;
    position: fixed;
    z-index: 99999;
    top: 0px;
	left: -320px;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: width .4s ease;
    -moz-transition: width .4s ease;
    -o-transition: width .4s ease;
    -ms-transition: width .4s ease;
    transition: width .4s ease;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: auto;
    -ms-overflow-style: scroll;
}
.suntrust-levelBodysection {
    height: 100%;
    position: relative;
}
.suntrust-levelHolder .suntrust-levelHeader{
	min-height: 70px;
	border-bottom: 1px solid #777777;
	padding: 15px;
}
.suntrust-levelHeader a.pull-left.suntrust-onclose img{
	width: auto;
}
.suntrust-levelHeader a.pull-left img{
	width: 176px;
}
.suntrust-levelHolder .suntrust-levelHeader .suntrust-onclose{
    margin-top: 10px;
    margin-right: 20px;
}
.suntrust-levelHolder .suntrust-levelHeader .suntrust-levelNaviagtions{
	clear: both;
    display: inline-block;
    margin: 25px 0px 0px 0px;
	width: 100%;
}
.suntrust-levelHolder .suntrust-levelHeader .suntrust-levelNaviagtions .suntrust-firstLevel a{
	color: #ffffff;
	width: 135px;
    display: inline-block;
}

.suntrust-levelHolder .suntrust-levelHeader .suntrust-levelNaviagtions .suntrust-secondLevel a{
	color: #ffffff;
	width: 135px;
    display: inline-block;
}
.suntrust-levelHolder .suntrust-levelHeader .suntrust-levelNaviagtions .suntrust-firstLevel{
	margin-bottom: 20px;
}
.suntrust-levelHolder .suntrust-levelHeader .suntrust-levelNaviagtions p a img{
	margin-right: 10px;
}
.suntrust-levelHolder .suntrust-levelHeader .suntrust-levelNaviagtions p a span{
	display: inline-block;
	width: 100px;
    vertical-align: middle;
}
.suntrust-levelHolder .suntrust-levelHeader .suntrust-levelNaviagtions .suntrust-thirdLevel .suntrust-promo-cta-button{
	width: 200px;
}

.suntrust-levelHolder .suntrust-levelBodysection .suntrust-headingStub{
	text-align: center;
	color: #ffffff;
	background: #686868;
	padding: 5px;
	border-bottom: 1px solid #777777;
	margin-bottom: 0px;
	text-transform: uppercase !important;
}

.suntrust-levelHolder .suntrust-levelBodysection .suntrust-levelBodyItems{
	list-style-type: none;
	padding: 0px;
	line-height: 15px;
	margin-bottom: 0px;        
}
.suntrust-levelHolder .suntrust-levelBodysection .suntrust-levelBodyItems li{
	border-bottom: 1px solid #777777;	
}
/*   unit testing fixes
.suntrust-levelHolder .suntrust-levelBodysection .suntrust-levelBodyItems li:last-child{
	border: none;
}
*/
.suntrust-levelHolder .suntrust-levelBodysection .suntrust-levelBodyItems li a,
.suntrust-levelHolder .suntrust-levelBodysection .suntrust-levelBodyItems li.suntrust-viewBack a{
	color: #ffffff;
	padding: 15px 15px;
	display: block;
}
.suntrust-levelHolder .suntrust-levelBodysection .suntrust-levelBodyItems li a{
	padding-right: 35px;
}
.suntrust-levelHolder .suntrust-levelBodysection .suntrust-levelBodyItems li a:hover,
.suntrust-levelHolder .suntrust-levelBodysection .suntrust-levelBodyItems li a:focus{
	background: #457497;
	color: #ffffff;
    padding: 15px 15px;
    display: block;
}

.suntrust-levelHolder .suntrust-levelBodysection .suntrust-levelBodyItems li.selected a{
	background: #457497;
}

.suntrust-levelHolder .suntrust-levelBodysection .suntrust-levelBodyItems li a:visited{
	background: #457497;
}
.suntrust-levelHolder .suntrust-levelBodysection .suntrust-levelBodyItems li .suntrust-rightArrow{
	float: right;
	color: #ffffff;
	font-size: 25px;
	padding:15px;
	margin-top:-45px;
	background:rgba(255,255,255,0);
	z-index:99;
	cursor: pointer;  
}
.suntrust-levelHolder .suntrust-levelBodysection .suntrust-levelBodyItems.suntrust-levelTwo .suntrust-viewBack .suntrust-leftArrow,
.suntrust-levelHolder .suntrust-levelBodysection .suntrust-levelBodyItems.suntrust-levelThree .suntrust-viewBack .suntrust-leftArrow,
.suntrust-levelHolder .suntrust-levelBodysection .suntrust-levelBodyItems.suntrust-levelFour .suntrust-viewBack .suntrust-leftArrow { 
	float: left;
	color: #ffffff;
	font-size: 25px;
	margin-right: 10px;
	margin-bottom: 15px;
}
.suntrust-levelHolder .suntrust-levelBodysection .suntrust-levelBodyItems.suntrust-levelFour .suntrust-viewBack .suntrust-leftArrow{ 
	}
.suntrust-levelHolder .suntrust-levelFooter{
	height: auto;
    border-top: 5px solid #777;
    padding-bottom: 60px;
}
.suntrust-levelHolder .suntrust-levelFooter .suntrust-levelFooterItems{
	list-style-type: none;
	padding: 0px;
	line-height: 15px;
}
.suntrust-levelHolder .suntrust-levelFooter .suntrust-levelFooterItems li{
	border-bottom: 1px solid #777777;	
}
.suntrust-levelHolder .suntrust-levelFooter .suntrust-levelFooterItems li a{
	color: #ffffff;
	padding: 15px 15px;
    display: block;
}
.suntrust-levelHolder .suntrust-levelFooter .suntrust-levelFooterItems li a:hover,
.suntrust-levelHolder .suntrust-levelFooter .suntrust-levelFooterItems li a:focus{
	background: #457497;
	color: #ffffff;
    padding: 15px 15px;
    display: block;
}
/* On hover level ipad,mobile view css ends */

/* New global header section ends */

.suntrust-newHeaderHolder{
	/*background: linear-gradient(to right, #fff, #fff, #fff, #fff 35%, #ededef 65%, #ededef, #ededef, #ededef);*/
	background: #ffffff;
	background: -moz-linear-gradient(left, #ffffff 35%,#ededef 65%, #efefef 100%);
	background: -webkit-linear-gradient(left, #ffffff 35%,#ededef 60%,#efefef 100%);
	background: linear-gradient(to right, #ffffff 35%,#ededef 65%,#efefef 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=1 );
	overflow: hidden;
	height: 37px;
	/*margin-bottom: 5px;*/
}
.suntrust-newheader span{
	font-size: 15px;
	margin-right: 20px;
	color: #000;
}
.suntrust-newheader span:last-child{
	margin-right: 15px !important;
}
.suntrust-newheader a:hover,.suntrust-newheader a:focus {
    text-decoration: underline;
	color: #000;
}
.suntrust-newheader{
	margin: 10px auto; 
	max-width: 1170px;
}
.suntrust-header-icon-button-text.suntrust-menu-icon-text.hidden-lg {display:none!important;}
.suntrust-global-nav-element .suntrust-nav-search [type="search"]{
	padding-right: 27px;
	vertical-align: baseline!important;
}
.suntrust-global-nav-element .suntrust-nav-location [type="search"]{
	padding-right: 54px;
	vertical-align: baseline!important;
}
.selectedDivHeader {
	display: block !important;
}
/* Global Navigation media queries */
@media only screen and (max-device-width : 1280px) and (orientation: landscape){
	.suntrust-subMenu{
		display: none;
	}
	.navbar-header .suntrust-header-icon-button-container{ 
		display: block !important;
	}
	.suntrust-header-alt{
		border-bottom: 2px solid #efeff0;
	}
	.suntrust-globalNav .suntrust-navtext.suntrust-anchorOrange{
		display: none;
	}
	.suntrust-globalNav .suntrust-navtext {
		color: #003b71 !important;
		margin-right: 5px;
		font-weight: 900;
		font-size: 16px;
	}
	.suntrust-levelHolder .suntrust-levelHeader .suntrust-levelNaviagtions .suntrust-thirdLevel,
	.suntrust-levelHolder .suntrust-levelHeader .suntrust-levelNaviagtions .suntrust-firstLevel,
	.suntrust-levelHolder .suntrust-levelHeader .suntrust-levelNaviagtions .suntrust-secondLevel{
		display: none;
	}
	
	.suntrust-activeList{
		display: none;
	}
	.suntrust-header-icon-button-container.hidden-lg .suntrust-menu-icon-text{
		display: none !important;
	}
	.suntrust-globalNav .suntrust-header-logo-link {
		left: 5%;
	}
	.suntrust-newheader,.HeaderNavContainer{
		max-width: 100%;
	}
}
@media only screen and (max-width : 1170px){
	.suntrust-levelHolder .suntrust-levelHeader .suntrust-levelNaviagtions .suntrust-thirdLevel .suntrust-promo-cta-button {
		min-width: 100%;
		margin: 15px 0;
	}
	.suntrust-globalNav .suntrust-user-icon {
		margin: 7px 0 0 0;
	}
	.suntrust-globalNav .suntrust-header-logo-link .suntrust-header-logo-img {
		margin-left: 15px;
	}
	.suntrust-globalNav .suntrust-header-logo-link {
		margin: 0 auto;
		position: absolute;
		top: 22px;
		left: 50px;
	}
}
@media only screen and (min-width : 1170px){
	.suntrust-levelHolder{
		display: none;
	}
	.suntrust-subMenu>li{
		padding: 10px 12px;
	}
    .suntrust-subMenu>li:first-child{
		padding: 10px 12px 10px 0px;
	}
    .suntrust-subMenu>li:last-child{
		padding: 10px 0px 10px 12px;
	}
}
@media only screen and (min-width : 1171px) and (max-width : 1200px){
	.suntrust-subMenu>li {
		padding: 10px;
	}
    .suntrust-subMenu>li:first-child{
		padding: 10px 10px 10px 0px;
	}
    .suntrust-subMenu>li:last-child{
		padding: 10px 0px 10px 10px;
	}
}
@media only screen and (min-width : 925px) and (max-width : 1170px) {
	.suntrust-subMenu{
		display: none;
	}
	.navbar-header .suntrust-header-icon-button-container{ 
		display: block;
	}
	.suntrust-header-icon-button-container .suntrust-menu-icon-text, .suntrust-header-icon-button-container .suntrust-search-icon-text {
		color: #0d365a;
		text-transform: uppercase;
		display: block;
		margin-top: 0px;
		font-size: 12px;
		margin-left: -5px;
	}
	.suntrust-header-alt{
		border-bottom: 2px solid #efeff0;
	}
	.suntrust-globalNav .suntrust-navtext.suntrust-anchorOrange{
		display: none;
	}
	.suntrust-globalNav .suntrust-navtext {
		color: #003b71 !important;
		margin-right: 5px;
		font-weight: 900;
		font-size: 15px;
	}
	.suntrust-globalNav .suntrust-promo-cta-button {
		margin-right: 5px;
	}
	.suntrust-levelHolder .suntrust-levelHeader .suntrust-levelNaviagtions .suntrust-thirdLevel,
	.suntrust-levelHolder .suntrust-levelHeader .suntrust-levelNaviagtions .suntrust-firstLevel,
	.suntrust-levelHolder .suntrust-levelHeader .suntrust-levelNaviagtions .suntrust-secondLevel{
		display: none;
	}
	.suntrust-activeList{
		display: none;
	}
	.jumbotron{
		padding: 0px;
	}
}
@media only screen and (min-width : 815px) and (max-width : 924px) {
	.suntrust-globalNav .suntrust-navtext.suntrust-anchorOrange{
		color: #c94c06 !important;
		max-width: 200px;
	}
	.suntrust-header-alt{
		border-bottom: 2px solid #efeff0;
	}
	.suntrust-globalNav .suntrust-user-icon-button .suntrust-header-icon-button-text{
		/*margin-top: 10px;*/
	}
	.suntrust-header-icon-button-container .suntrust-menu-icon-text, .suntrust-header-icon-button-container .suntrust-search-icon-text {
		color: #0d365a;
		text-transform: uppercase;
		display: block;
		margin-top: 0px;
		font-size: 12px;
		margin-left: -5px;
	}
	.suntrust-globalNav .suntrust-navtext {
		margin-right: 5px;
	}
	.suntrust-globalNav .suntrust-navtext.suntrust-anchorOrange {
		margin-right: 5px;
	}
	.suntrust-levelHolder .suntrust-levelHeader .suntrust-levelNaviagtions .suntrust-thirdLevel,
	.suntrust-levelHolder .suntrust-levelHeader .suntrust-levelNaviagtions .suntrust-firstLevel,
	.suntrust-levelHolder .suntrust-levelHeader .suntrust-levelNaviagtions .suntrust-secondLevel{
		display: none;
	}
	.suntrust-activeList{
		display: none;
	}
	.jumbotron{
		padding: 0px;
	}
}
@media only screen and (min-width : 641px) and (max-width : 814px) {
	.suntrust-header-icon-button-container .suntrust-menu-icon-text, .suntrust-header-icon-button-container .suntrust-search-icon-text {
		color: #0d365a;
		text-transform: uppercase;
		display: block;
		margin-top: 0px;
		font-size: 12px;
		margin-left: -5px;
	}
	.suntrust-globalNav .suntrust-header-logo-link {
		top: 32px;
	}
	.suntrust-globalNav .suntrust-header-logo-link .suntrust-header-logo-img {
		height: 35px;
		margin-left: 15px;
		width: 175px;
	}
	.suntrust-globalNav .suntrust-navtext.suntrust-anchorOrange{
		display: none;
	}
	.suntrust-globalNav .suntrust-navtext {
		margin-right: 5px;
	}
	.suntrust-header-alt{
		border-bottom: 2px solid #efeff0;
		padding: 0 15px 0px 15px;
	}
	.suntrust-subMenu{
		display: none;
	}
	.suntrust-globalNav .nav>li{
		display: inline-block !important;
	}
	.suntrust-levelHolder .suntrust-levelHeader .suntrust-levelNaviagtions .suntrust-firstLevel,
	.suntrust-levelHolder .suntrust-levelHeader .suntrust-levelNaviagtions .suntrust-secondLevel{
		display: none;
	}
	.suntrust-levelHolder .suntrust-levelHeader .suntrust-levelNaviagtions .suntrust-thirdLevel .suntrust-promo-cta-button {
		display: none;
	}
	.suntrust-levelHolder .suntrust-levelHeader .suntrust-levelNaviagtions .suntrust-thirdLevel{
	    margin-bottom: -10px;
		margin-top: -10px
	}
	.suntrust-activeList{
		display: none;
	}
	.jumbotron{
		padding: 0px;
	}
}

@media (max-width: 767px){
	.suntrust-globalNav .nav.navbar-nav{
		margin-top: -5px !important;
		margin-bottom: 0px;
	}
	.HeaderNavContainer .container-fluid { 
		padding: 0 15px !important;
	}
	.suntrust-globalNav .suntrust-user-icon-button .suntrust-header-icon-button-text {
		margin-top: 26px;
	}
	.suntrust-globalNav .suntrust-user-icon {
		margin-top: 15px;
	}
}
@media only screen and (min-width : 320px) and (max-width : 640px){
	.suntrust-newHeaderHolder{
		display: none;
	}
	.suntrust-header-icon-button-container .suntrust-menu-icon-text, .suntrust-header-icon-button-container .suntrust-search-icon-text {
		color: #0d365a;
		text-transform: uppercase;
		display: block;
		margin-top: 0px;
		font-size: 12px;
		margin-left: -5px;
	}
	.suntrust-globalNav .suntrust-header-logo-link .suntrust-header-logo-img {
		height: 35px;
		margin-left: 15px;
		width: 175px;
	}
	.suntrust-globalNav .suntrust-promo-cta-button{
		display: none;
	}
	.suntrust-globalNav  .suntrust-thirdLevel .suntrust-promo-cta-button {
		display: block;
	}
	.suntrust-globalNav .suntrust-navtext.suntrust-anchorOrange{
		display: none;
	}
	.suntrust-globalNav .nav.navbar-nav.suntrust-subMenu{
		display: none;
	}
	.suntrust-globalNav .nav.navbar-nav .suntrust-header-icon-button-container{
		display: none;
    }
	.suntrust-globalNav .suntrust-header-logo-link {
		left: 12%;
		position: relative;
		top: 0px;
	}
	.suntrust-header-alt{
		border-bottom: 2px solid #efeff0;
	    padding: 20px 30px 0px 15px;
	}
	.suntrust-activeList{
		display: none;
	}
}

@media only screen and (min-width : 320px) and (max-width : 640px) and (orientation: landscape){
	.suntrust-globalNav .suntrust-header-logo-link {
		left: 30%;
		position: absolute;
		top: 20px;
	}
	.suntrust-globalNav .suntrust-header-logo-link .suntrust-header-logo-img {
		margin-left: -10px;
	}
    .suntrust-levelHolder .suntrust-levelHeader .suntrust-levelNaviagtions .suntrust-thirdLevel,
	.suntrust-levelHolder .suntrust-levelHeader .suntrust-levelNaviagtions .suntrust-firstLevel,
	.suntrust-levelHolder .suntrust-levelHeader .suntrust-levelNaviagtions .suntrust-secondLevel{
		display: block !important;
	}        
}

@media only screen and (min-width : 1171px) {
	.navbar-header .suntrust-header-icon-button-container{ 
		display: none;
	}
}

@media only screen and (min-width : 768px)and (max-width:1024px) {
	.suntrust-header-alt {
		display: block;
		width: 100%;
		background-color: #fff;
		padding: 0 15px 0px 15px;
	}
}

@media only screen and (min-width : 1171px)and (max-width:1199px) {
.suntrust-overlayItem {
	display: table;
	width: 100%;
}

.suntrust-column-width {
	display: table-cell;
}
}

@media only screen and (min-device-width: 800px) and (max-device-width: 1280px){
	/*.suntrust-header-icon-button-container.hidden-lg .suntrust-menu-icon-text, 
	.suntrust-header-icon-button-container.hidden-lg .suntrust-search-icon-text {
		color: #0d365a;
		text-transform: uppercase;
		display: block;
		margin-top: 0px;
		font-size: 12px;
		margin-left: -5px;
		display: block !important;
	}*/
	.suntrust-header-alt{
		border-bottom: 2px solid #efeff0;
	}
	.suntrust-globalNav .suntrust-navtext.suntrust-anchorOrange{
		display: none;
	}
	.suntrust-globalNav .suntrust-navtext {
		color: #003b71 !important;
		margin-right: 5px;
		font-weight: 900;
		font-size: 15px;
	}
	.suntrust-levelHolder .suntrust-levelHeader .suntrust-levelNaviagtions .suntrust-thirdLevel,
	.suntrust-levelHolder .suntrust-levelHeader .suntrust-levelNaviagtions .suntrust-firstLevel,
	.suntrust-levelHolder .suntrust-levelHeader .suntrust-levelNaviagtions .suntrust-secondLevel{
		display: none;
	}
	.suntrust-activeList{
		display: none;
	}
	.jumbotron{
		padding: 0px;
	}
}
@media only screen and (min-width : 1025px) {
	.suntrust-header-alt {
		padding: 0px 10px 0px;
	}
}

@media only screen and (max-width : 600px) {
	body {
		padding-top: 70px;
	}
}

@media only screen and (min-width : 601px) and (max-width: 1170px) {
	body {
		padding-top: 90px;
	}
}
.noMarginRt{
	margin-right:0 !important;
}
@media only screen and (max-width : 1170px) {
	.suntrust-header-alt{
		border-bottom: 2px solid #efeff0 !important;
	}
}
/*Skip Navigation Start
***************************************************************/
    .skip-nav
    {
        position: absolute;
        left: -9999px;
        top: 0;
        -webkit-box-shadow: inset 0 -3px 15px rgba(0, 0, 0, .06);
        -moz-box-shadow: inset 0 -3px 15px rgba(0, 0, 0, .06);
        box-shadow: inset 0 -3px 15px rgba(0, 0, 0, .06);
        color: inset 0 -3px 15px rgba(0, 0, 0, .06);
        background: #c94c06;
        z-index: 10000;
    }
    .skip-nav.sun-active {
        left: 0;
    }
    .skip-nav a 
    {
        font-size: 13px;
        display: block;
        line-height: 32px;
        height: 32px;
        padding: 0 15px;
        color: #fff;
        border-bottom: 1px solid #f89912;
    } 
    .skip-nav a:hover,
    .skip-nav a:focus{
        text-decoration: underline;
    }
/*Skip Navigation End
***************************************************************/