body {
}
/*******New Window*******/
.suntrust-modal-window {
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
	width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.suntrust-modal-close,.suntrust-modal-close:focus,.suntrust-modal-close:hover {
	position: absolute;
    color: #ee6e15;
    padding: 10px;
    cursor: pointer;
    width: 30px;
    top: 0;
    right: 10px;
}
.suntrust-nav-search {
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    width: 500px;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #fff;
    z-index: 1200;
	display:none;
	color: #333;
	padding: 15px 10px 20px 10px;
}
.suntrust-nav-location {
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    width: 500px;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #fff;
    z-index: 1200;
	display:none;
	color: #333;
	padding: 15px 15px 30px 10px;
}
.suntrust-search-form-field {
    width: 55%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    display: inline-block;
}
.suntrust-nav-search-input,.suntrust-nav-location-input {
    width: 100%;
    padding: 8px 30px 8px 8px;
    margin-right: 5px;
    color: #757575;
    display: inline-block !important;
    height: 42px;
}
.suntrust-nav-location-input {
    padding-right:55px;
}
.suntrust-nav-location .suntrust-input-location-button {
    top: 3px;
    right: 0;
}
.suntrust-modal-window-header .header-title{
    margin-top: 20px;
    font-size: 36px;
	font-weight: 500;
    line-height: 1.1;
}
.suntrust-form-div {
    margin:15px auto 10px;
    text-align:center;
}
.suntrust-form-div .suntrust-orange-button{
    margin-left:5px;
}
.suntrust-form-div .sun-header-search-cancel-button {
    display: none;
    position: absolute;
    float: right;
    cursor: pointer;
    height: 40px;
    padding: 10px;
	top: -2px;
    right: 0;

}
.suntrust-form-div .sun-header-search-cancel-button.sun-active {
    display: block;
    background: none;
}
.suntrust-nav-location .suntrust-form-div .sun-header-search-cancel-button {
    margin-right:25px;
}
@media screen and (max-width: 767px){
	.suntrust-search-form-field {
		width: 100%;		
		margin: 0px auto 0 auto;
	}
	.suntrust-nav-search-input, .suntrust-nav-location-input {
		width: 100%;
		margin-bottom:5px;
	}
	.suntrust-nav-location .suntrust-input-location-button {
		top: 3px;
		right: 0;
	}
	.suntrust-modal-window .suntrust-orange-button {
		width:100%;
		text-align:center;
    	margin: 0 auto;
	}
	.suntrust-nav-search ,.suntrust-nav-location {width:95%;}
	.suntrust-nav-location .suntrust-search-form-field {width:100%;}
}
@media screen and (max-width: 1170px){
	.suntrust-modal-window {
	 	z-index: 999999;
    }
}
@-moz-document url-prefix() { 
  .suntrust-nav-search-input, .suntrust-nav-location-input {
     padding: 11px 30px 11px 8px;
  }
}