/*Image Text container CSS start*/
.suntrust-image-container .img-responsive {
	max-width: 100%;
	height: auto;
	margin-bottom: 15px;
}
.suntrust-img-text-container h2{
	font-size: 30px;
    line-height: 32px;
    margin: 0 0 10px 0;
}
.suntrust-image-container {
	margin-top: 10px;
}
.suntrust-text-container {
	margin-top: 10px;
}
.suntrust-img-text-container h4{
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 10px;
    margin-top: 0px;
    color: #333;
}
.suntrust-img-text-container p{
	margin: 0 0 20px; 
}

.suntrust-img-text-container strong.highlight {
    font-size: 20px;
    line-height: 22px;
}

.suntrust-img-text-container ul li {
    margin-bottom: 10px;
	list-style-type: disc;
}

.suntrust-img-text-container ol li {
    margin-bottom: 10px;
	list-style-type: decimal;
}
.suntrust-img-text-container ul,
.suntrust-img-text-container ol {
	list-style-position: outside !important;
}

.suntrust-img-text-container ul  li ul, .suntrust-img-text-container ul  li ol, 
.suntrust-img-text-container ol  li ol, .suntrust-img-text-container ol  li ul {
	padding-top: 10px;
	margin-bottom: 0;
}
.suntrust-img-text-container  ul, .suntrust-img-text-container  ol {
	padding: 0 0 0 18px;
    margin-bottom: 20px;
}
.suntrust-img-only-container .suntrust-image-container, .suntrust-img-text-container .suntrust-text-only-container {
	width: 100%;
    float: left;
}

.suntrust-img-text-container h1,
.suntrust-img-text-container  .suntrust-text-only-container h2,
.suntrust-img-text-container  .suntrust-text-only-container h3,
.suntrust-img-text-container  .suntrust-text-only-container h4,
.suntrust-img-text-container h1,
.suntrust-img-text-container h2,
.suntrust-img-text-container h3,
.suntrust-img-text-container h4  {
    margin: 0 0 10px 0 !important;
}

@media screen and (min-width: 480px) {
.suntrust-image-container {
	width: 46%;
    float: left;
}
.suntrust-text-left .suntrust-image-container {
	width: 46%;
    float: left;
	margin-left: 4%;
}
.suntrust-image-container .img-responsive {
	margin-bottom: 0;
}

.suntrust-text-container {
    width: 46%;
    float: left;
    margin-left: 4%;
}
.suntrust-text-left .suntrust-text-container {
	width: 46%;
    float: left;
	margin-left: 0;
}
}
@media ( min-width: 900px){
.imagetext {
    padding: 0 15px 0 0;
}
}
@media ( max-width: 800px){
.container-wrappedMode .imagetext {
    padding: 0 30px;
}
}

/*Image Text container CSS End*/
