.suntrust-articleSection .sun-body-component {
    padding-right: 30px;
}
.suntrust-articleSection .sun-body-component,.suntrust-articleSection .sun-content-item-detail {
    margin-bottom: 30px;
    margin-top: 30px;
    padding-right: 0;
    padding-left: 0;
}
.suntrust-articleSection .suntrust-content-thumbnails {
    list-style: none;
    margin: 0;
    padding: 0;
    zoom: 1;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: 25px auto 0 auto;
    max-width: 1040px;
    padding: 0 30px;
}
.suntrust-articleSection .suntrust-content-thumbnails:before,.suntrust-articleSection .suntrust-content-thumbnails:after {
    content: "&nbsp;";
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.suntrust-articleSection .suntrust-content-thumbnails.suntrust-one-column .suntrust-article-list-item {
    width: 100%;
}
.suntrust-articleSection .suntrust-content-thumbnails>li.suntrust-article-list-item, .suntrust-articleSection .suntrust-content-thumbnails>div.suntrust-article-list-item, 
.suntrust-articleSection .suntrust-content-thumbnails>li .suntrust-article-list-item, .suntrust-articleSection .suntrust-content-thumbnails>div .suntrust-article-list-item {
    display: block;
    float: left;
    padding-bottom: 20px;
}
.suntrust-articleSection .suntrust-content-thumbnails .suntrust-article-list-item {
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 33%;
    margin: 0 auto;
    position: relative;
    padding: 0 10px;
    display: table-cell;
}
.suntrust-articleSection .suntrust-articleSection .suntrust-content-thumbnails>li.suntrust-article-list-item>.suntrust-content-thumbnail, 
.suntrust-articleSection .suntrust-content-thumbnails>div.suntrust-article-list-item>.suntrust-content-thumbnail, 
.suntrust-articleSection .suntrust-content-thumbnails>li .suntrust-article-list-item>.suntrust-content-thumbnail, 
.suntrust-articleSection .suntrust-content-thumbnails>div .suntrust-article-list-item>.suntrust-content-thumbnail {
    display: block;
    outline: none;
}
.suntrust-thumbnail-img-container:hover  + h3.suntrust-article-caption-bottom,.suntrust-thumbnail-img-container:focus  + h3.suntrust-article-caption-bottom{
	color: #ee6e15;
	outline: 0;
}
.suntrust-articleSection .suntrust-content-thumbnails .suntrust-article-caption-bottom:focus,
.suntrust-articleSection .suntrust-content-thumbnails .suntrust-article-caption-bottom:hover{
	color: #ee6e15;
	outline: 0;
}
.suntrust-articleSection .suntrust-content-thumbnails .suntrust-article-list-item .suntrust-content-thumbnail {
    outline: none;
    position: relative;
	display: block;
}
.suntrust-articleSection .suntrust-content-thumbnails .suntrust-article-list-item .suntrust-thumbnail-img-container {
    position: relative;
}
.suntrust-articleSection .suntrust-content-thumbnails .suntrust-article-list-item .suntrust-thumbnail-img-container.suntrust-video::before {
    font-family: sun-icons-UXd1Fq6;
    display: inline-block;
    font-weight: normal;
    font-style: normal;
	content: "";
    text-decoration: inherit;
}
.suntrust-articleSection .suntrust-content-thumbnails .suntrust-article-list-item .suntrust-thumbnail-img-container.suntrust-article:before, 
.suntrust-articleSection .suntrust-content-thumbnails .suntrust-article-list-item .suntrust-thumbnail-img-container.suntrust-calculator:before, 
.suntrust-articleSection .suntrust-content-thumbnails .suntrust-article-list-item .suntrust-thumbnail-img-container.suntrust-video:before, 
.suntrust-articleSection .suntrust-content-thumbnails .suntrust-article-list-item .suntrust-thumbnail-img-container.suntrust-page:before, 
.suntrust-articleSection .suntrust-content-thumbnails .suntrust-article-list-item .suntrust-thumbnail-img-container.suntrust-play:before, 
.suntrust-articleSection .suntrust-content-thumbnails .suntrust-article-list-item .suntrust-thumbnail-img-container.suntrust-slideshow:before, 
.suntrust-articleSection .suntrust-content-thumbnails .suntrust-article-list-item .suntrust-thumbnail-img-container.suntrust-pdf:before {
    position: absolute;
    right: 0;
    left: auto;
    bottom: 0;
    font-size: 20px;
    color: #ffa400;
    background: #fff;
    padding: 7px;
}
.suntrust-articleSection .suntrust-video::before {
    font-family: sun-icons-UXd1Fq6;
    display: inline-block;
    font-weight: normal;
    font-style: normal;
    content: "";
    text-decoration: inherit;
}
.suntrust-articleSection .suntrust-article:before, 
.suntrust-articleSection .suntrust-calculator:before, 
.suntrust-articleSection .suntrust-video:before, 
.suntrust-articleSection .suntrust-pageitem:before {
    position: absolute;
    left: 0;
    font-size: 20px;
    color: #ffa400;
}
.suntrust-articleSection .suntrust-content-thumbnails>li.suntrust-article-list-item>.suntrust-content-thumbnail img, 
.suntrust-articleSection .suntrust-content-thumbnails>div.suntrust-article-list-item>.suntrust-content-thumbnail img, 
.suntrust-articleSection .suntrust-content-thumbnails>li .suntrust-article-list-item>.suntrust-content-thumbnail img, 
.suntrust-articleSection .suntrust-content-thumbnails>div .suntrust-article-list-item>.suntrust-content-thumbnail img {
    width: 100%;
}
.suntrust-articleSection .suntrust-content-thumbnails .suntrust-article-list-item .suntrust-thumbnail-img-container>img {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}
.suntrust-articleSection .suntrust-content-thumbnails .suntrust-article-caption-bottom {
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    padding: 0 10px;
    margin: 10px auto 0 auto;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
    color: #0d365a;
    position: relative;
    display: block;
    height: auto;
    width: 93%;
}
.suntrust-modal.active {
    display: block;
}
.suntrust-modal {
    display: none;
    position: fixed;
    height: 100%;
    z-index: 10001;
    top: 0;
}
.suntrust-modal .suntrust-overlay {
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
.suntrust-modal .suntrust-modal-container {
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    width: 95%;
    height: 90%;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    border: 10px solid #333333;
    z-index: 1200;
}
.suntrust-modal .suntrust-modal-header {
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1500;
    padding: 15px 50px 15px 15px;
    background-color: #f5f5f5;
}
.suntrust-modal .suntrust-modal-header h2 {
    font-size: 28px;
    line-height: 28px;
    display: inline-block;
}
.suntrust-modal .suntrust-modal-container .suntrust-close {
    display: block;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 18px;
    color: #666666;
    padding: 10px 0;
    width: 40px;
    text-align: center;
    cursor: pointer;
    outline: none;
	background: none;
}
.suntrust-modal .suntrust-modal-container .suntrust-close:before {
    font-family: "sun-icons-UXd1Fq6";
    display: inline-block;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    content: "\e00e";
    font-weight: bold;
}
.suntrust-modal .suntrust-modal-inner {
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 65px 25px 25px;
    overflow-y: scroll;
    background-color: #ffffff;
    -webkit-overflow-scrolling: touch;
}
.suntrust-modal .suntrust-modal-container {
    max-height: 90%;
    height: auto;
}
.suntrust-modal-inner.inner-no-padding {
    padding: 59px 0 0;
}
/*Media Quries modal window*/
@media screen and (min-width: 767px){
.suntrust-articleSection .component-dynamicthumbnaillist {
    float: left;
    width: 50%;
    max-width: 320px;
}
.suntrust-articleSection .suntrust-content-thumbnails .suntrust-article-caption-bottom {
    font-size: 15px;
    line-height: 15px;
}
}
@media screen and (max-width: 1400px){
.suntrust-modal.small .suntrust-modal-container {
    width: 95%;
    overflow: scroll;
}
.video-container {
    position: relative;
    padding-bottom: 55%;
    padding-top: 0;
    height: 0;
    overflow: inherit;
}
.suntrust-modal.suntrust-height .suntrust-modal-container {
    width: 95%;
    overflow: scroll;
}
.suntrust-modal-container.suntrust-small-window{
	width: 33% !important;
	overflow: scroll;
}
.suntrust-modal-container.suntrust-medium-window{
	width: 65% !important;
	overflow: scroll;
}
.suntrust-modal .suntrust-small-window .suntrust-modal-inner{
	padding: 110px 25px 25px;
}
}
@media screen and (max-width: 700px){
	.suntrust-modal .suntrust-modal-header h2 {
		font-size: 16px;
		line-height: 18px;
		display: inline-block;
	}
}
@media screen and (max-width: 600px){
	.suntrust-modal.suntrust-height .suntrust-small-window.suntrust-modal-container,
	.suntrust-modal.suntrust-height .suntrust-medium-window.suntrust-modal-container {
		width: 95% !important;
		overflow: scroll;
	}
	.suntrust-modal .suntrust-small-window .suntrust-modal-inner,
	.suntrust-modal .suntrust-medium-window .suntrust-modal-inner{
		padding: 65px 25px 25px !important;
	}
}
@media screen and (max-width: 767){
	.suntrust-modal.suntrust-height .suntrust-small-window.suntrust-modal-container,
	.suntrust-modal.suntrust-height .suntrust-medium-window.suntrust-modal-container {
		width: 95% !important;
		overflow: scroll;
	} 
	.suntrust-modal .suntrust-small-window .suntrust-modal-inner,
	.suntrust-modal .suntrust-medium-window .suntrust-modal-inner{
		padding: 65px 25px 25px !important;
	}
}
@media only screen and (max-width: 740px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
	.suntrust-modal.suntrust-height .suntrust-small-window.suntrust-modal-container,
	.suntrust-modal.suntrust-height .suntrust-medium-window.suntrust-modal-container {
		width: 95% !important;
		overflow: scroll;
	}
	.suntrust-modal .suntrust-small-window .suntrust-modal-inner,
	.suntrust-modal .suntrust-medium-window .suntrust-modal-inner{
		padding: 65px 25px 25px !important;
	}
}
@media only screen and (min-width : 768px)and (max-width:1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
	.suntrust-modal.suntrust-height .suntrust-small-window.suntrust-modal-container,
	.suntrust-modal.suntrust-height .suntrust-medium-window.suntrust-modal-container {
		width: 95% !important;
		overflow: scroll;
	}
	.suntrust-modal .suntrust-small-window .suntrust-modal-inner,
	.suntrust-modal .suntrust-medium-window .suntrust-modal-inner{
		padding: 65px 25px 25px !important;
	}
}
/*Media Quries modal window*/
