body{
	
}
.row-gray-background {
	background-color: #f5f5f5;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}
.HeaderNavContaner {
    max-width: 1170px;
    margin: 0 auto;
}
.newAccount_heading {
    max-width: 1170px;
    margin: 30px auto;
}
.newAccount_heading h2 {
    color: #fff;
}
.newAccount_Col {
	margin-top: 30px;
	//margin: 0 -15px;
}
.newAccount_Col h2 {
	margin-bottom:15px;
}
.suntrust-compare-section-heading {
	position: relative;
}
.suntrust-accounts-comparison-list {
	width: 100%;
    margin-bottom: 10px;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;	
	display: inline-block;
	/*background-color: #d4e1ef;
	overflow: hidden;*/
}
/*.suntrust-accounts-comparison-list:before {
    content: "";
    position: absolute;
    top: 0;
    width: 2000px;
    height: 672px;
    bottom: 0;
    background-color: #d4e1ef;
    left: -2000px;
}*/
li#bbStickyNavBox {
    position: fixed;
    z-index: 1;
    width: auto !important;
    right: 15px;
    //top: 292px;
    overflow: initial;
}
#bbNavHeader {
    background-color: #003b71;
    text-align: center;
    margin-top: 0;
	/*-webkit-box-shadow: 0px 0px 5px 0px #003b71;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	/*-moz-box-shadow: 0px 0px 5px 0px #003b71;  /* Firefox 3.5 - 3.6 */
	/*box-shadow: 0px 0px 5px 0px #003b71;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
#bbNavHeader p {
    color: #fff;
    padding: 15px;
    font-size: 21px;
	margin: 0;
}
#bbNavListContainer {
    background-color: white;
    padding: 10px;
    padding-bottom: 8px;
    border: 1px solid #e5e5e5;
	/*-webkit-box-shadow: 0px 0px 5px 0px #e5e5e5; /*  Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	/*-moz-box-shadow: 0px 0px 5px 0px #e5e5e5;  /* Firefox 3.5 - 3.6 */
	/*box-shadow: 0px 0px 5px 0px #d2d2d2;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
#bbNavList {
    list-style: none;
	padding: 0;
}
#bbNavList li:not(:last-child) {
	border-bottom: 1px solid #e6e7e8;
}
#bbNavList li a {
    color: #003b71;
    padding: 10px 15px;
    font-size: 17px;
	display: inline-block;
	width: 100%;
	cursor: pointer;
}
#bbNavList li a:after {
    text-align: left;
    content: "";
    font-size: 12px;
    font-family: sun-icons-UXd1Fq6;
    font-weight: 700;
    color: #003b71;
    position: relative;
	left: 10px;
}
.suntrust-account-desc div span a:after,
.suntrust-account-desc div span p:after {
	content: ">";
    margin-left: 3px;
    font-weight: bolder;
} 
#bbNavList li a:hover, #bbNavList li a:focus,
#bbNavList li a:hover:after,
#bbNavList li a.active,#bbNavList li a.active:after,
#bbMobileOptionsContainer li a.active,#bbMobileOptionsContainer li a.active:after,
.suntrust-account-desc div span a:hover:after, .suntrust-account-desc div span a:focus:after {
	color: #c94c06;
}
#bbNavList li a.active,
#bbMobileOptionsContainer li a.active {
	font-weight: 700;
}
.suntrust-accounts-comparison-list-item {
    width: 31%;
	padding: 0;
    border: none;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin: 0 1% 15px;
    background-color: #fff;
	overflow: hidden;
}
.suntrust-accounts-comparison-list-item-wrapper {
    border: 1px solid #e5e5e5;
    padding: 10px 20px 90px 20px;
	-webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
	box-sizing: content-box;
}
.suntrust-compare-header-product-set {
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    font-size: 13px;
    line-height: 14px;
    color: #ee6e15;
}
.suntrust-compare-header {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.suntrust-compare-header label {
    color: #003b71;
    font-size: 21px;
    line-height: 24px;
    padding-right: 30px;
    display: inline-block;
}
.suntrust-compare-header-title {
    font-size: 21px;
    line-height: 24px;
}
.suntrust-compare-header label span {
    display: inline-block;
    width: 100%;
    font-size: 15px;
    line-height: 20px;
    color: #666;
}
.suntrust-account-desc {
    color: #333;
    line-height: 20px;
	font-size: 18px;
}
.suntrust-account-desc div span {
    display: inline-block;
	width: 100%;
}
.suntrust-account-desc div span p {
    color: #003b71;
} 
.suntrust-accounts-comparison-list .suntrust-accounts-comparison-list-item .suntrust-compare-item-button-container {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
	//margin-left: 20px;
    //text-align: center;
}
.suntrust-accounts-comparison-list .suntrust-accounts-comparison-list-item .suntrust-promo-cta-button,
.suntrust-accounts-comparison-list .suntrust-accounts-comparison-list-item .suntrust-promo-cta-button-blue,
.suntrust-accounts-comparison-list .suntrust-accounts-comparison-list-item .suntrust-promo-cta-button-white {
    display: inline-block;
    margin: 0 auto;
	max-width: 110px;
	line-height: 18px;
    height: auto;
    padding: 10px;
}
.suntrust-accounts-comparison-list-item.highlighted {
    border: none;
    -webkit-box-shadow: 0px 0px 0px 2px rgba(0,117,201,1);
    -moz-box-shadow: 0px 0px 0px 2px rgba(0,117,201,1);
    box-shadow: 0px 0px 0px 2px rgba(0,117,201,1);
}
.bbMobileGrayBar_title {
	font-weight: bold;
    margin-left: 15px;
    display: inline-block;
	font-size: 15px;
}
#bbMobileGrayBar {
    background-color: #f5f5f5;
    padding: 15px;
    border-bottom: 1px solid #003b71;
	position: relative;
}
#bbCloseBox {
    cursor: pointer;
	display: inline-block;
    float: right;
    margin-top: 20px;
	position: absolute;
    right: 30px;
    top: 15px;
}
#bbCloseBox.bbRotate {
	-webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 25px; 
}
#bbMobileGrayBar span:after {
    font-family: sun-icons-UXd1Fq6;
    display: inline-block;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    content: "";
    font-weight: bold;
    float: right;
    margin-top: -17px;
}
#bbMobileGrayBar span.bbRotate:after {
	margin-right: 15px;
}
#bbMobileOptionsContainer {
    border-bottom: 1px solid #003b71;
    padding: 20px;
    padding-bottom: 5px;
	background-color: #fff;
}
#bbMobileOptionsLeft, #bbMobileOptionsRight {
    display: inline-block;
    width: 50%;
    float: left;
}
#bbMobileOptionsLeft ul, #bbMobileOptionsRight ul {
	padding: 0 0 0 15px;
}
#bbMobileOptionsLeft li, #bbMobileOptionsRight li {
    padding-bottom: 10px;
    list-style: none;
}
#bbMobileOptionsLeft li a:after, #bbMobileOptionsRight li a:after {
    text-align: left;
    content: "";
    font-size: 25px;
    font-family: sun-icons-UXd1Fq6;
    font-weight: 800;
    color: #003b71;
    position: relative;
    left: 10px;
    font-size: 10px;
}
#bbMobileOptionsLeft li a:hover:after, #bbMobileOptionsRight li a:hover:after {
    color: #c94c06;
}
#bbMobileMenu.fixed, .openAccountHeroFixed {
	position: fixed;
    z-index: 1;
    width: 100%;
}
#bbMobileMenu.fixed #bbCloseBox {
    right: 42px;
}
@media (min-width: 1200px){
	li#bbStickyNavBox {
		right: 55px;
	}
}
@media (min-width: 1300px){
	li#bbStickyNavBox {
		right: 95px;
	}
}
@media (min-width: 1400px){
	li#bbStickyNavBox {
		right: 135px;
	}
}
@media (min-width: 1500px){
	li#bbStickyNavBox {
		right: 195px;
	}
}
@media (min-width: 1600px){
	li#bbStickyNavBox {
		right: 225px;
	}
}
@media (max-width: 1050px) and (min-width: 1000px) {
	li#bbStickyNavBox {
		right: 5px;
	}
}
@media (min-width: 768px) {
	.newAccount_Col > .col-lg-9 {
		padding-left: 0;
	}
}
@media screen and (device-width: 768px) { 
	.newAccount_Col {
		margin: 30px;
	}	
}
@media (max-width: 1280px) {
	.HeaderNavContaner > .row {
		margin: 0 15px;
    } 
}
@media (max-width: 1024px) {
	.newAccount_heading {
		padding-left: 30px;
	}
	li#bbStickyNavBox {
		/*width: 238px !important;
		right: 20px;*/
		right: 10px;
		top: 252px;
	}
}
@media (max-width: 1000px) {
	li#bbStickyNavBox {
		top: 260px;
	}
	#bbNavHeader p {
		padding: 15px 12px;
	}
}
@media (max-width: 1040px) {
	#bbNavHeader p {
		font-size: 15px !important;
	}
}
@media (max-width: 1180px) and (min-width: 1041px) {
	#bbNavHeader p {
		font-size: 18px !important;
	}
}
@media (max-width: 780px) and (min-width: 769px) {
	li#bbStickyNavBox{
		right: 0 !important;
	}
}
@media screen and (device-width: 1024px) { 
	li#bbStickyNavBox {
		right: 20px !important;
	}
	#bbNavHeader p {
		font-size: 18px !important;
	}	
}
@media (max-width: 768px) {
	.newAccount_Col > .col-lg-9 {
		width: 100%;
	}
	.suntrust-accounts-comparison-list {
		width: 100%;
	}
	.suntrust-accounts-comparison-list .suntrust-accounts-comparison-list-item {
		width: 48%;
	}
	.newAccount_heading,.newAccount_Col {
		padding-left: 0px;
	}
	.newAccount_Col {
		margin: 30px 0 0;
	}
	.newAccount_heading h2 {
		margin-left: 30px;
	}
	.newAccount_Col .hidden-xs .container-fluid{
         display: none !important;
	}
    li#bbStickyNavBox {
         display: none !important;
    }
    #bbMobileMenu.visible-xs, .newAccount_Col .hidden-xs{
         display: block !important;
    }
}
@media (max-width: 767px) {
    .newAccount_Col .hidden-xs, li#bbStickyNavBox {
         display: none !important;
    }
    #bbMobileMenu.visible-xs {
         display: block !important;
    }
    .HeaderNavContaner > .row {
		margin: 0;
    }
	.newAccount_Col {
		margin: 30px 0 0;
	}
}
@media (max-width: 600px) {
	.newAccount_heading h2 {
		margin-left: 15px;
	}
	.suntrust-accounts-comparison-list .suntrust-accounts-comparison-list-item {
		width: 100%;
		margin-bottom: 15px;
		margin-left: 0;
		margin-right: 0;
	}
	.suntrust-accounts-comparison-list-item-wrapper {
		padding: 10px 20px 30px 20px;
		height: auto;
	}
	.suntrust-accounts-comparison-list .suntrust-accounts-comparison-list-item .suntrust-compare-item-button-container {
		position: relative;
		margin-top: 20px;
		left: auto;
		bottom: auto;
	}
}
@media (max-width:384px) {
	#bbMobileOptionsLeft, #bbMobileOptionsRight {
		width: 50%;
		float: left;
		font-size: 14px;
	}
	.bbMobileGrayBar_title {
		margin-left: 10px;
	}
	#bbMobileOptionsLeft ul, #bbMobileOptionsRight ul {
		padding: 0 0 0 5px;
	}
	#bbMobileOptionsContainer {
		padding: 20px 10px;
	}
}
@media (max-width:320px) {
	#bbMobileOptionsLeft li:last-child, #bbMobileOptionsRight li:last-child {
		padding: 0;
	}
}
@media (max-width:900px) {
	#bbNavList li a {
		font-size: 15px;
		padding: 10px 0;
	}
}