/*Open an Account CSS starts*/
.suntrust-openaccount-container {
	margin: 30px 0 !important;
}

.suntrust-section3B .suntrust-openaccount-container {
	padding: 0 0 0 10px;
	margin: 30px 0 !important;
}
.suntrust-openanaccount-mobile { 
	display: none; 
} 
.suntrust-openaccount-image-container::after {
	text-align:left;
	content:"\e004";
	font-size:25px;
	font-family:"sun-icons-UXd1Fq6";
	font-weight:bolder;
	color:#003b71;
	position:relative;    

}
a.openLink:hover .suntrust-openanaccount-CTA-link ,
a.openLink:focus .suntrust-openanaccount-CTA-link,
a.openLink:hover .suntrust-openaccount-image-container::after,
a.openLink:focus .suntrust-openaccount-image-container::after {
	color: #C94C06;
	outline: none;
	cursor: pointer;
}
.suntrust-openaccount-image-text-aligner:hover ,
.suntrust-openaccount-image-text-aligner:focus {
	color: #C94C06;
	outline: none;
	cursor: pointer;
}
.suntrust-openanaccount-CTA-link {
	width: 85%;        
	font-size: 32px;
	color: #003b71;      
	float: left;
	padding-top:3px;
}
.suntrust-openaccount-title {
	color: #333333;
	font-size: 15px;
	padding-left: 2px;
}
.suntrust-openaccount-containerdiv:hover .suntrust-openaccount-image-text-aligner a:link {
	color: #C94C06;
	cursor: pointer;
} 
.suntrust-openanaccount {
	cursor: pointer;
	position: relative;
	background-size: cover; 
	background-repeat: no-repeat;        
	vertical-align: middle;
	width: 325px;
	padding-right: 30px;
	margin-top: 30px;
	padding-left: 6%;
	display:table-cell;  
	white-space: nowrap;
}
.suntrust-openaccount-image-container {        
	position: absolute;
	height: 25px;
	float: left;
	width: 15%;         
	padding-left: 16.5em;
	padding-top:5px;
	cursor: pointer;
}
.suntrust-openaccount-image-text-aligner {
	padding-top:5px;
	padding-bottom: 30px;
}
.suntrust-openaccount-containerdiv {
	position:relative;
}

@media only screen and (min-width:768px) and (max-width:1024px) {
     .suntrust-openanaccount-mobile { 
        display:none; 
    } 
    .suntrust-openaccount-image-container::after {
        text-align:left;
        font-size:20px;
        font-weight:bolder;
        color:#003b71;
        position:relative;    
    
    }
    .suntrust-openanaccount-CTA-link {
        width: 90%;        
        font-size: 24px;
        color: #003b71;     
        float: left;
    }
    .suntrust-openaccount-title {
        color: #333333;
        font-size: 12px;
        text-align: center;
        padding-top: 5px;        
        position:relative;
        right:20%;
    }      
    .suntrust-openanaccount {
        cursor: pointer;
        position: relative;
        background-size: cover;        
        background-repeat: no-repeat;         
        vertical-align: middle;        
        margin-top: 30px;
        padding-left: 10%;
        margin-right:25px;        
        width:230px;
        display:table-cell;  
        white-space: nowrap;
    }
    .suntrust-openaccount-image-container {         
        position: absolute;
        height: 25px;
        float: left;
        width: 11%;        
        padding-left: 12.5em;
    }   
    .suntrust-openaccount-containerdiv {    
        position:relative;
		width: 212px;
    }
    .suntrust-openaccount-image-text-aligner {
        padding-top: 3px;
    }
}

@media only screen and (max-width:767px) { 
	.suntrust-openaccount-container {
		margin: 30px 0 50px 0;
	}
    .suntrust-openaccount-containerdiv { 
        display:none; 
    }
    .suntrust-openaccount-image-container-mobile::after {
        text-align:left;
        content:"\e004";
        font-size:25px;
        font-family:"sun-icons-UXd1Fq6";
        font-weight:bolder;
        color:#003b71;
        position:relative;    
    
    }
	a.openLink:hover .suntrust-openanaccount-CTA-link-mobile ,
	a.openLink:focus .suntrust-openanaccount-CTA-link-mobile {
		color: #C94C06;
		outline: none;
		cursor: pointer;
	}
    .suntrust-openanaccount-CTA-link-mobile {      
        font-size: 32px;
        color: #003b71;     
        float: left;
    }
    .suntrust-openaccount-title-mobile {
        color: #333333;
        font-size: 15px;
        text-align: center;
		padding-left: 2px;
		padding-right: 65%;
		padding-bottom: 2px;
    }
   .suntrust-openaccount-containerdiv-mobile:hover .suntrust-openaccount-image-text-aligner-mobile a:link {
        color: #C94C06;
    }  
    .suntrust-openanaccount-mobile {
        cursor: pointer;
        position: relative;      
        vertical-align: middle;
        display: block;
		width: 465px;
    }
    .suntrust-openaccount-image-container-mobile {        
        position: absolute;
        height: 25px;
        float: left;
        width: 15%;         
        padding-left: 16.5em;
        padding-top: 1px;
    }
    .suntrust-openaccount-image-text-aligner-mobile {
        padding-top: 5px;
		padding-bottom: 30px;
    }
    .suntrust-openaccount-containerdiv-mobile {
        position:relative;       
    }

}
@media only screen and (min-width:1200px) { 
.suntrust-section3B .suntrust-openaccount-container {
	padding: 0 0 0 10px;
	margin: 40px 0 22px 0 !important;
}
}

/*Open an Account CSS Ends*/