.toAvoidMerge{

}
@media print {
	@page {
         margin: 3cm 2cm 2cm 2cm;
    }
    body{
		padding:0 !important;
        color: #000000;
		line-height:normal;
		font-size: 9pt;
	}
	div:empty {
	   display: none !important;
	   height:0px !important;
	   margin:0px !important;
	   padding:0px !important;
	}
	.suntrust-section3A, .suntrust-section3B, .suntrust-section4A, .suntrust-section4B, .suntrust-section5A, .suntrust-section5B, .suntrust-section6A, .suntrust-section6B, .suntrust-section6C, .RightRail .col-lg-12, .LeftRail .col-lg-12, .PairCol .col-lg-12, .TripleCol .col-lg-12{
		min-height:5px !important;
	}
	.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, 
	.col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, 
	.col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, 
	.col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, 
	.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, 
	.col-xs-7, .col-xs-8, .col-xs-9, .suntrust-imagetextctapromo-container {
		padding:0 !important;
	}
	.header, .suntrust-imagetextcta-ctabutton, .promotionlist, .findus,
	.sun-product-carousel-products a.suntrust-secondary-button, .sun-product-carousel-products a.suntrust-promo-cta-button-blue,
	a.suntrust-promo-cta-button-white, a.suntrust-promo-cta-button, a.suntrust-promo-cta-button-blue,
	.suntrust-heroMain .suntrust-promo-cta-button-blue, .suntrust-heroText .suntrust-promo-cta-button-blue, 
	.suntrust-herotextFeature .suntrust-promo-cta-button-blue, .suntrust-heroMain .suntrust-promo-cta-button-white, 
	.suntrust-heroText .suntrust-promo-cta-button-white, .suntrust-herotextFeature .suntrust-promo-cta-button-white, 
	.suntrust-heroMain .suntrust-promo-cta-button, .suntrust-heroText .suntrust-promo-cta-button, .sun-product-carousel .call2act_signonSec .suntrust-secondary-button, 
	.suntrust-herotextFeature .suntrust-promo-cta-button, .suntrust-hero-signon-desktop-block, img, .sun-product-carousel-slide a.suntrust-promo-cta-button-blue,
	.suntrust-primary-button_CTAs, .suntrust-secondary-button_CTAs, .suntrust-tertiary-button_CTAs,
	.suntrust-secondary-button, .suntrust-promo-cta-button-blue, .heroCarouselIntro + a.suntrust-secondary-button, .sun-product-carousel-slide-wrapper a.suntrust-promo-cta-button-blue, 
	.sun-product-carousel-slide-wrapper a.suntrust-promo-cta-button-orange, .sun-product-carousel-slide-wrapper a.suntrust-promo-cta-button-white,
    .suntrust-global-alert, h2.sun-product-carousel-heading br, p.sun-product-carousel-products-intro br {
		display: none !important;
	}
	.suntrust-heroHeadline_title{
		font-size: 20pt;
		line-height: normal;
		margin-bottom: 0;
    }
	.suntrust-heroHeadlineHolder{
		padding:0 !important;
	}
	.sun-product-carousel-others{
		height:auto;
	}
	.sun-product-carousel-products, .sun-product-carousel-slide-wrapper-others{
		min-height:auto !important;
	}
	.suntrust-heroText .suntrust-floatRight .sun-product-carousel-slide-wrapper-others.suntrust-signon-width, 
	.suntrust-herotextFeature .suntrust-floatRight .sun-product-carousel-slide-wrapper-others.suntrust-signon-width, 
	.suntrust-heroText .suntrust-floatLeft .sun-product-carousel-slide-wrapper-others.suntrust-signon-width, 
	.suntrust-herotextFeature .suntrust-floatLeft .sun-product-carousel-slide-wrapper-others.suntrust-signon-width{
		margin:0px !important;
	}
	h2.sun-product-carousel-heading{
		font-size: 15pt !important;
		margin-bottom:0;
		padding-bottom: 0;
	}
	p.sun-product-carousel-products-intro{
		font-size: 11pt !important;
		margin-bottom:5px;
	}

	.container-wrappedMode,.container-wrappedMode .imagetext{
		padding: 0px !important;
    }
    a[href]:after{
		content: none !important;
	}
	.sectionFtImgTopItmContainer a.sun-checking-accounts-links {
		display:block !important;
		text-decoration: none;
		color: black;
		cursor: default;
		font-size: 9pt !important;
		line-height: normal !important;
	}
	.sectionFtImgTopItmContainer a.sun-checking-accounts-links:hover .sun-checking-accounts-text{
		text-decoration: none;
		color: #000 !important;
		cursor: default;
	}
	ul.suntrust-checking-accounts-feature .sun-checking-accounts-text{
		font-size: 9pt !important;
		font-weight:bold !important;
		margin-top:0px;
		padding:0 !important;
	}
    /* a[href]{
		display: none;
    } */
	span.sun-checking-accounts-links-text{
		display: block !important;
    }
    .sun-product-carousel-slide-wrapper{
		min-height: 0;
		margin: 0 auto;
    }
	.hero {
		border-bottom: 1px solid #000;
	}
	.hero .hero_wrapper .col-lg-8 .sun-product-carousel-products .sun-product-carousel-heading{
		margin-top:25px !important;
		margin-bottom: 20px !important;
		padding-top:0 !important;
		padding-left:0 !important;		
    }
	.hero .sun-product-carousel-products{
		padding-top: 0 !important;
		padding-left: 0 !important;
		margin-top: 0 !important;
		margin-bottom: 20px !important;
	}
    .sun-product-carousel-products-intro.herohideintro{
		display: block !important;
    	margin-top: 10px !important;
    }
    .hero .hero_wrapper .col-lg-8 .sun-product-carousel-products .sun-product-carousel-heading,
	.hero .hero_wrapper .col-lg-8 .sun-product-carousel-products .sun-product-carousel-products-intro{
		text-align: left !important;
		padding-left:0 !important;
    }
    .suntrust-heroHeadline .suntrust-heroHeadlineHolder, 
    .suntrust-heroHeadlineblue .suntrust-heroHeadlineHolder, 
    .suntrust-heroHeadlineorange .suntrust-heroHeadlineHolder{
		padding-left: 0px !important;
    }
	h2.sun-product-carousel-heading{
		line-height: 30px;
	}
	.rowContFullWidthBGborderTop {
		border-top: 0;
	}
	.rowContainer-TopRightRailBorder{
		border-top: 1px solid #000;
		padding-top:20px !important;
	}
	
	.suntrust-img-text-container.suntrust-text-only-container {
		margin-top: 30px;
	}
	.suntrust-img-text-container.suntrust-text-only-container h1,
	.suntrust-img-text-container.suntrust-text-only-container h2,
	.suntrust-img-text-container.suntrust-text-only-container h3{
        font-size: 11pt;
        line-height: 14px;
        color: #000;
        margin-bottom: 20px !important;
	}
    .suntrust-img-text-container.suntrust-text-only-container p,
	.suntrust-img-text-container.suntrust-text-only-container ul,
	.suntrust-img-text-container.suntrust-text-only-container li{
		font-size: 9pt;
        line-height: normal !important;
        color: #000;
	}
	
	/* Steps Component Starts*/
	.suntrust-stepsContainer {
	    page-break-inside: avoid;
    }
	.suntrust-stepsContainer h3 {
		font-size: 13.5pt;
	}
	.suntrust-stepsContainer .suntrust-feature-name {
		font-size: 11pt !important;
		margin-bottom: 10px !important;
		line-height: 12pt !important;
	}
	.suntrust-stepsContainer .suntrust-feature-info p:nth-child(2) {
		font-size: 9pt !important;
	}
	.suntrust-stepsContainer ul>li{
		width: 25%;
        float: left !important;
		padding-right: 15px!important;
	}
    div:empty.suntrust-feature-image-container {
		height: 20px !important;
        display: block !important;
    }
	.suntrust-steps-blue ul li .suntrust-feature-image-container:before{
		border: 1px solid #000;
        border-radius: 50%;
        display: inline-block;
        width: 18px;
		height: 18px;
        text-align: center;
		font-size: 10pt;
	}
    .suntrust-stepsContainer ul li:nth-child(1) .suntrust-feature-image-container:before{
		content: '\0031';        
    }
    .suntrust-stepsContainer ul li:nth-child(2) .suntrust-feature-image-container:before{
		content: '\0032';
    }
    .suntrust-stepsContainer ul li:nth-child(3) .suntrust-feature-image-container:before{
		content: '\0033';
    }
    .suntrust-stepsContainer ul li:nth-child(4) .suntrust-feature-image-container:before{
		content: '\0034';
    }
    .suntrust-stepsContainer ul li:nth-child(5) .suntrust-feature-image-container:before{
		content: '\0035';
    }
    .suntrust-stepsContainer ul li:nth-child(6) .suntrust-feature-image-container:before{
		content: '\0036';
    }
	.suntrust-steps-blue ul li:nth-child(1) .suntrust-feature-image-container:after,
    .suntrust-steps-blue ul li:nth-child(2) .suntrust-feature-image-container:after,
    .suntrust-steps-blue ul li:nth-child(3) .suntrust-feature-image-container:after,
    .suntrust-steps-blue ul li:nth-child(4) .suntrust-feature-image-container:after,
    .suntrust-steps-blue ul li:nth-child(5) .suntrust-feature-image-container:after,
    .suntrust-steps-blue ul li:nth-child(6) .suntrust-feature-image-container:after{
		content: '';
   		border-top: 3px solid #000;
        display: inline-block;
        width: 75%;
        vertical-align: middle;
    }
	
	.suntrust-steps-orange div:empty.suntrust-feature-image-container {
		display: inline-block !important;
		width: 20px;
	}
	.suntrust-steps-orange .suntrust-feature-image-container:before{
    	border-radius: 50%;
        display: inline-block;
        width: 18px;
		height: 18px;
        text-align: center;
		font-size: 10pt;
    	border: 1px solid #000;
    }
	.suntrust-steps-orange .suntrust-feature-info {
		width:70% !important;
	}
	/* Steps Component End*/
	
	/* Tab content Start*/	
	.tabcomponent  .tabset-content { 
		display: none;
	}
	ul.tabset-nav-list.tabset-nav-list-item {
		display: none;
	}
	.sun-feature-tabset .tabset-content-link, .suntrust-feature-tabset-alt .tabset-content-link {
		display: none;
	}
	.sun-feature-tabset .tabset-content-link.tabset-active, .suntrust-feature-tabset-alt .tabset-content-link.tabset-active {
        display: block;
    	font-size: 9pt !important;
		line-height:normal;
		color:#000 !important;
		padding: 30px 0!important;
    }
	 .tabcomponent .tabset-content.tabset-active{
		display: block;
	}
	.dcm-top-border {
		padding-top: 20px !important;
		border-top: 0.5pt solid #000 !important;
	}
	/* Tab content End*/
	
	/* Comparison Table Styles Start */
	.table_compare_mobile, .compare_accounts{
		display:none !important;
	}
	.table_compare{
		display:table !important;
	}
	.table_compare tbody tr th, .table_compare tbody tr td{
		width:150px !important;
		padding: 12px 8px;
		font-size: 9pt;
	}
	.table_scroller table tr td, .table_scroller table tr th{
		border:0.5pt solid #000 !important;
		page-break-inside: avoid;
	}
	.table_scroller table.table_compare tr:first-child th,
	.table_scroller table.table_compare tr:nth-child(2) th,
	.table_scroller table.table_compare tr td:nth-child(2){
		border-left:0 !important;
	}
	.table_scroller table.table_compare tr:first-child th:first-child {
		border-top: 0!important;
	}
	.table_scroller table.table_compare tr:nth-child(even) {
		background-color: #f5f5f5!important;
	}
	.table_comp_link {
		display: none;
	}
	.table_scroller h2 {
		color: #000000;
		font-size: 11pt;
		padding: 8px 0 0 0;
		font-weight: bold;
	}
	.table_scroller center {
		text-align: left!important;
	}
	/* Comparison Table Styles End */
	
	/* Comparison Table Static Styles Start */
    /*.table_compare.tableComparison_Static tr td{
		border-top: 0 !important;
		border-right: 0!important;
	}
	.table_compare.tableComparison_Static tr th{
		border-top: 0 !important;
		border-left: 0!important;
	}
	.table_compare.tableComparison_Static tr:last-child th,.table_compare.tableComparison_Static tr:last-child td{
		border-bottom: 0 !important;
	}*/
	.table_scroller table.table_compare.tableComparison_Static tr:first-child th,
	.table_scroller table.table_compare.tableComparison_Static tr:nth-child(2) th {
        border-left: 0.5pt solid #000 !important;
		border-top:  0.5pt solid #000 !important;
    }
	.suntrust_account_find.clearfix.staticTable {
		padding-bottom: 20px;
	}
	.table_compare.tableComparison_Static ul{
		padding: 0 !important;
	}
	.table_compare.tableComparison_Static ul li {
		margin-left: 0 !important;
		list-style: none;
	}
	/* Comparison Table Static Styles End */
	
	/* Section Feature starts*/
	.sectionfeature .suntrust-six-col-info>li:nth-child(1),
	.sectionfeature .suntrust-six-col-info>li:nth-child(2),
	.sectionfeature .suntrust-six-col-info>li:nth-child(3){
		width: 47% !important;
        padding: 0px !important;
        float: left !important;
    	display: inline-block;
    	clear: none;
		margin: 0 !important;
		min-height:24px;
		text-align:left;
		height: 30px !important;

	}
    .sectionfeature .suntrust-six-col-info>li:nth-child(4),
	.sectionfeature .suntrust-six-col-info>li:nth-child(5),
	.sectionfeature .suntrust-six-col-info>li:nth-child(6){
		width: 47% !important;
        padding: 0px !important;
    	display: inline-block;
    	clear: none;
    	margin: 0px !important;
		min-height:24px;
		text-align:left;
		height: 30px !important;

	}
	.sectionFtImgTopItmContainer span.sun-checking-accounts-links-text,
	.sectionFtImgTopItmContainer a.sun-checking-accounts-links span.sun-checking-accounts-links-text{
		display:inline;
	}
	.sectionFtImgTopItmContainer img{
		display:none;
	}
	.SingleColumn .col-xs-12 ul.suntrust-feature-list-details, 
	.SingleColumn .col-xs-12 ul.suntrust-checking-accounts-feature, .sectionFtImgTopItmContainer, ul.suntrust-checking-accounts-feature .sun-checking-accounts-links-text,
	div.featuredcontresp.bottomMargin{
		padding: 0px !important;
	}
	.SingleColumn .col-xs-12 ul.suntrust-feature-list-details,.sectionFtImgTopItmContainer, ul.suntrust-checking-accounts-feature .sun-checking-accounts-links-text,
	div.featuredcontresp.bottomMargin{
		margin: 0px !important;
	}
	div.featuredcontresp.topMargin{
		margin-top:20px !important;
	}
	.sectionfeature ul.suntrust-checking-accounts-feature .sun-checking-accounts-links-text{
		padding: 0px !important;
		margin: 0px !important;
		font-size: 9pt !important;
		line-height: normal !important;
		font-weight: bold !important;
	}
	/* Section Feature Ends*/
	/* Feature content starts*/
	.featuredcontresp .featuredcontent .suntrust-promo-cta-button,
	.featuredcontresp .featuredcontent .suntrust-promo-cta-button-white,
	.featuredcontresp .featuredcontent .suntrust-promo-cta-button-blue{
		display: none;
	}
	/*.featuredcontent{
		page-break-inside: avoid;
	}*/
    .suntrust-feature-header{
        font-size: 11pt;
		line-height:normal;
		padding:15px 20px 0!important;
    }
	.suntrust-promo-description{
        font-size: 9pt;
		line-height: 14px;
		padding:0 20px 35px !important;
    }
    .featuredcontresp .suntrust-rowFlex{
   		width: 46% !important;
    	min-height: 116px;
		height: auto;
    	border:0.5pt solid #000000;
        float: left !important;
		page-break-inside: avoid;
	}
	.suntrust-section3B .dynamiccombobox, .suntrust-section3B .promotile, .suntrust-section3A .video, .imagetext, .suntrust-section3B .colorblock{
		margin:0 !important;
	}
	.sectionFtImgTopItmContainer, ul.suntrust-checking-accounts-feature .sun-checking-accounts-links-text{
		color:#000 !important;
		padding:0 !important;
	}
	.sun-checking-accounts-links>span{
		font-weight:bold;
	}
	/* Feature content ends*/	
	/* Footer Section Start*/
	#dcm-footer{
		display:none !important;
	}
	.dcm-bottom-border-footer{
		border-bottom: 0.5pt solid #000000 !important;
		padding:0;
		margin:0;
	}
	.disclaimer-container{
		padding:0 !important;
		margin-top:20px !important;
	}
	.disclaimer-container p{
		font-size: 7pt !important;
		line-height:normal;
		color:#000 !important;
		text-align:left !important;
		margin: 0 0 10px;
		page-break-inside: avoid;
	}
	.disclaimer-container p:first-child{
		font-size: 9pt !important;
		color:#000 !important;
		font-weight:bold;
	}
	.dcm-footerborder, .dcm-footerborder-two, .dcm-footerborder-three{
		font-size: 9pt !important;
		border:0.5pt solid #000000 !important;
		border-right: none !important;
		padding:12pt 12pt !important;
	}
	.dcm-footerborder-three{
		border-right: 0.5pt solid #000000 !important;
	}
	/* Footer Section End*/
	
	/****Resource Center***/
	.suntrust-education-center-header-container {
		min-height: auto;
		height: auto;
		display: table;
	}
	.suntrust-education-center-heading {
		color: #000;
		font-size: 15pt;
		line-height: initial;
		margin: 0 auto;
		padding: 10px 0 10px 0;
		font-weight: normal;
	}
	.suntrust-summaryUnorderedlist .font-size-resource-center .suntrust-article-list-item {
		margin: 0 0 5px;
	}
	.suntrust-article-list-item{
		padding-left: 0px !important;
	}
	.suntrust-article-list-item:before{
		display: none !important;
	}
	.component-dynamic-summarylist .suntrust-article-list {
		margin: 0px 30px 0 0;
	}
	.suntrust-summaryUnorderedlist .font-size-resource-center .suntrust-article-preview-title,
	.component-dynamic-summarylist .suntrust-article-preview-title a{
		font-size: 9pt;
		line-height: 14px;
		color: #000;
		font-weight: bold;
		margin-bottom: 0;
	}
	.suntrust-summaryUnorderedlist .font-size-resource-center .suntrust-article-preview-title {
		margin-bottom: 2px;
	}
	.component-dynamic-summarylist .suntrust-main-article-preview p{
		color: #000;
		font-size: 9pt;
		line-height: 14px;
	}
	.suntrust-main-article-preview {
		padding-left: 0;
	}
	.suntrust-article-img-container {
		display: none;
	}
	.rowContainer-TopRightRailBorder .suntrust-section3B{
		border-left:0.5pt solid #000;
		padding-left: 12px !important;
	}
	/*Help links*/
	.suntrust-static-list {
		margin: 10px auto;
	}
	.suntrust-static-list-title {
		padding-left: 0px !important;
		color: #000;
		font-size: 9pt;
		line-height: 14px;
	}
	.suntrust-static-list ul {
		width: 150px;
	}
	.suntrust-static-list ul li {
		padding: 0;
		margin-top: 5px;
		font-size: 9pt;
		line-height: 14px;
		font-weight: normal;
	}
	.staticlist .suntrust-static-list-link {
		display: block;
		font-size: 9pt;
		line-height: 14px;
	}
	.suntrust-section3A {
		width: 66.66666667%;
	}
	.suntrust-section3B {
		width: 33.33333333%;
		float: right;
	}
	.contactUs_accordion {
		font-size: 9pt;
		line-height: 13px;
		width: 150px;
		margin: 10px 0;
	}
	.contactUs_accordion .suntrust-accordion-container {
		padding: 0;
	}
	.suntrust-section3B .contactUs_accordion .suntrust-accordion-trigger-desktop h2 {
		font-size: 9pt !important;
		line-height: 14px;
		font-weight: bold;
		padding-left: 0!important;
	}
	.contactUs_accordion .suntrust-faqs-list {
		display: block;
	}
	.accordion .faq li {
		border: none !important;
	}
	.contactUs_accordion .suntrust-accordion-trigger {
		padding: 10px 0 !important;
	}
	.contactUs_accordion .suntrust-faqs-list {
		padding: 0 !important;
		margin: 0 !important;
	}
	.contactUs_accordion .contactUs_content_data .suntrust-img-text-container ul, 
	.contactUs_accordion .contactUs_content_data .suntrust-img-text-container ol {
		padding: 0px;
	}
	.contactUs_accordion .contactUs_content_data .suntrust-img-text-container ul li, 
	.contactUs_accordion .contactUs_content_data .suntrust-img-text-container ol li {
		list-style-type: none!important;
	}
	.imagetext {
		padding-top: 20px !important;
		padding-bottom: 10px !important;
		text-align: left !important;
	}
	.contactUs_accordion a.invocaTelLink {
		font-size: 9pt !important;
	}	
	.sun-product-carousel.signon_enabled, .hero_wrapper{
		height: auto !important;
	}
	.sun-product-carousel-products{
		padding-top: 0px;
	}
	.heroCarouselHead {
		margin-bottom: 0;
	}
	/*.sun-product-carousel-slide-wrapper{
		margin-top: -30px; 
    }*/
	.suntrust-carousel .sun-product-feature .sun-product-carousel-products {
		position: relative;
		padding-left: 0!important;
		text-align: left;
	}
	.bx-controls-direction,.bx-controls.bx-has-pager.bx-has-controls-direction {
		display: none;
	}
	.bx-viewport {
		height: 125px !important;
	}
	.bxslider {
		transform: none !important;
		width:100% !important;
		display: block;
	}
	.hero_wrapper, .call2act_signonSec,.sun-product-carousel-slide-wrapper-others {
		width: 100%;
		max-width: 100%;
		margin: 0 auto;
		float:none;
	}
	.sun-product-carousel-others {
		height: auto !important;
		position: relative !important;
	}
	.sun-product-carousel-others .sun-product-carousel-heading,
	.sun-product-carousel-others .sun-product-carousel-products-intro {
		width: 100%;
		max-width: 100%;
		margin: 0 auto;
	}
	.bxslider .sun-product-carousel-products {
		padding-left: 0!important;
	}
	.bxslider .hero.active-slide { 
		display: inline-block;
		width:100%!important;
		float: none!important;
	}
	.bxslider .hero ,.sun-product-carousel-image{
		display: none;
	}
	.suntrust-carousel .sun-product-feature .call2act_signonSec{
		left:0;
	}
	
	/*Mortgage Page*/
	.internalnavigation {
		display: none;
	}
	.dcm-checking-features-list>li {
		width: 100% !important;
	}
	.contactUs_accordion .suntrust-accordion-trigger-desktop, .suntrust-section3B .contactUs_accordion .suntrust-accordion-trigger-desktop h2  {
		padding: 0 !important;
		margin: 0 !important;
	}
	/*Layout changes*/
	.col-lg-4 {
		width: 100% !important;
	}
	.col-lg-8 {
		width: 100% !important;
	}
	.rowContainer-TopRightRailBorder .col-lg-8 {
		width: 66.66% !important;
	}
	.rowContainer-TopRightRailBorder .col-lg-4 {
		width: 33.33% !important;
	}
	.rowContRtRailBGborderLt {
    	border-left: 0 !important;
    }
	/*Layout changes ends*/
}

@media print and (orientation: landscape) {
	@page {
          margin: 3cm 2cm 2cm 2cm;
    }
    body{
		padding:0 !important;
        color: #000000;
		line-height:normal;
    }
	div:empty {
	   display: none !important;
	   height:0px !important;
	   margin:0px !important;
	   padding:0px !important;
	}
	.suntrust-section3A, .suntrust-section3B, .suntrust-section4A, .suntrust-section4B, 
	.suntrust-section5A, .suntrust-section5B, .suntrust-section6A, .suntrust-section6B, 
	.suntrust-section6C, .RightRail .col-lg-12, .LeftRail .col-lg-12, .PairCol .col-lg-12, .TripleCol .col-lg-12{
		min-height:5px !important;
	}
    a[href]:after {
		content: none !important;
	}
	.featuredcontent{
		page-break-inside: avoid;
	}
	.sectionFtImgTopItmContainer a.sun-checking-accounts-links {
		display:block !important;
		text-decoration: none;
		color: #000;
		cursor: default;
		font-size: 9pt !important;
		line-height: normal !important;
	}
	.sectionFtImgTopItmContainer a.sun-checking-accounts-links:hover .sun-checking-accounts-text{
		text-decoration: none;
		color: #000 !important;
		cursor: default;
	}
	ul.suntrust-checking-accounts-feature .sun-checking-accounts-text{
		font-size: 9pt !important;
		font-weight:bold !important;
		margin-top:0px;
		padding:0 !important;
	}
    /*.sun-product-carousel-slide-wrapper{
		margin-top: -30px; 
    }*/
    .suntrust-hero-signon-desktop-block{
		display: none;
    }
    .sun-product-carousel-products-intro.herohideintro{
		display: block;
    	margin-top: 10px;
    }
    .hero .hero_wrapper .col-lg-8 .sun-product-carousel-products .sun-product-carousel-heading,
	.hero .hero_wrapper .col-lg-8 .sun-product-carousel-products .sun-product-carousel-products-intro{
		text-align: left !important;
		padding-left:0 !important;
    }
    .suntrust-heroHeadline .suntrust-heroHeadlineHolder, 
    .suntrust-heroHeadlineblue .suntrust-heroHeadlineHolder, 
    .suntrust-heroHeadlineorange .suntrust-heroHeadlineHolder{
		padding: 0 !important;
    }
	.featuredcontresp .suntrust-rowFlex{
   		width: 46% !important;
    	min-height: 96px;
		height: auto;
    	border:0.5pt solid #000000;
        float: left !important;
		page-break-inside: avoid;
	}
	.rowContFullWidthBGborderTop {
		border-top: 0;
	}
	.rowContainer-TopRightRailBorder{
		border-top: 1px solid #000;
		padding-top:20px !important;
	}
	.sun-product-carousel.signon_enabled, .hero_wrapper{
		height: auto !important;
	}
	.suntrust-heroHeadline_title{
		font-size: 20pt;
		margin-bottom:0;
		line-height: normal;
    }
	.hero .hero_wrapper .col-lg-8 .sun-product-carousel-products .sun-product-carousel-heading{
		margin-top:25px !important;
		margin-bottom: 20px !important;
		padding-top:0 !important;
		padding-left:0 !important;		
    }
	.hero .sun-product-carousel-products{
		padding-top: 0 !important;
		padding-left: 0 !important;
		margin-top: 0 !important;
		margin-bottom: 20px !important;
	}
	h2.sun-product-carousel-heading{
		line-height: 40px;
	}
	.container,.container-fluid,.container-wrappedMode {
        width: 100%;
    }
	.rowContainer .col-lg-12{display:block !important;}
	.suntrust-carousel .sun-product-feature .sun-product-carousel-products {
		position: relative;
		padding-left: 0!important;
		text-align: left;
	}
	.PairCol .suntrust-section5A, .PairCol .suntrust-section5B {
		width: fit-content;
		width: -webkit-fit-content;
  		width: -moz-fit-content;
    	width: 100%;
	}
	.PairCol .suntrust-section5A {
		display: -ms-grid;
		-ms-grid-columns: min-content;
	}
}