/*FAQs Search Css Start*/
.parsys_validation_error_all_results,
.parsys_validation_error_products,
.parsys_validation_error_faqs{
	color: #c94c06;
}
.search_text_error_message {
color: #c94c06;
margin-top: 10px;
width: 100%;
display: inline-block;
}
.author_hide{
display:none !important;
}
.faqs_filter_container .search_result_content_data {
margin-left: 0;
}
.faqs_filter_container .faqs-page-list-item {
font-weight: bold;
}
.sun-faqs-page-details {
margin-bottom: 40px;
}
.sun-faqs-page-list {
list-style: none;
margin: 0;
padding: 0;
}
.sun-faqs-page-list-item {
margin-bottom: 20px;
border-bottom: 1px solid #cfcfcf;
}
.sun-faqs-page-list-item-header {
vertical-align: top;
position: relative;
padding-left: 25px;
color: #0d365a;
cursor: pointer;
margin-bottom: 20px;
display: block;
min-height: 20px;
}
.sun-faqs-page-list-item-header.sun-active {
vertical-align: top;
position: relative;
padding-left: 25px;
}
.sun-faqs-page-list-item-header::after {
font-family: sun-icons-UXd1Fq6;
display: inline-block;
font-weight: normal;
font-style: normal;
text-decoration: inherit;
content: "";
color: rgb(216, 216, 215);
position: absolute;
top: 50%;
left: 0px;
margin-top: -6px;
font-size: 12px;
line-height: 12px;
width: 12px;
text-align: center;
}
.sun-faqs-page-list-item-header.sun-active::after {
content: "";
margin-top: -4px;
}
.sun-faqs-page-list-item-detail {
margin-left: 50px;
display: none;
}
.sun-faqs-page-list-item-detail.sun-active {
display: block;
}
.sun-faqs-page-list-item-detail p, 
.sun-faqs-page-list-item-detail > ul {
margin-bottom: 20px;
}
.faqs_right_content {
background-color: #003b71;
width: 80%;
margin: 0 auto;
padding: 15px;
color: #fff;
}
.faqs_right_content .faqs_right_content_title{
font-weight: 700;
font-size: 23px;
margin: 10px 0;
}
.faqs_right_content p {
line-height: 18px;
margin-bottom: 15px;
}
.faqs_right_content .text-center button {
color: #003b71;
padding: 5px 10px;
background-color: #fff;
border-radius: 3px;
width: 100px;
}
/*FAQs Search Css End*/
/* Top Search Css Start */
.search  .jumbotron, .search  .jumbotron,
.searchlocation  .jumbotron, .searchlocation  .jumbotron {
padding-right: 0;
padding-left: 0;
}
	
.search_result_heading {
max-width: 1170px;
margin: 30px auto;
}
.search_result_heading .search_text_box {
width: 500px;
margin: 0 auto 30px;
}
.search-bg-color{
background-color: #003b71;
}
.search_text_box .search_text_box_reset {
width: 75%;
float: left;
position: relative;
}
.search_text_box_reset input {
width: 100%;
padding: 10px 55px 10px 10px;
line-height: 20px;
height: 42px;
}
.suntrust-input-location-button {
position: absolute;
top: 8px;
right: 27%;
width: 40px;
height: 40px;
outline: none;
background: none;
border: none;
}
.suntrust-input-location-button::before {
font-family: sun-icons-UXd1Fq6;
display: inline-block;
font-weight: normal;
font-style: normal;
text-decoration: inherit;
content: "";
color: rgb(64, 147, 215);
font-size: 20px;
line-height: 20px;
}

.search_text_box_reset .suntrust-input-location-button {
   top: 15px;
   right: 8px;
   padding: 0px;
   width: 20px;
   height: 15px;
}
.search-cancel-button, button.input_search_reset  {
	display: none;
	position: absolute;
	float: right;
	cursor: pointer;
	top: 0;
	right: 35px;
	background: 0;
	padding: 0px;
	margin-top: 10px;
}
#loadingMask {
background-color: #fff;
display: none;
left: 0;
position: absolute;
top: 0;
z-index: 100000;
width:100%;
height:100%;
opacity:0.3;
}
button.input_search_reset.sun-active, .search-cancel-button.sun-active {
display: block;
background: 0;
}
	
.search-cancel-button:before, button.input_search_reset:before {
font-family: "sun-icons-UXd1Fq6";
display: inline-block;
font-weight: normal;
font-style: normal;
text-decoration: inherit;
content: "";
color: #aaa;
font-size: 17px;
line-height: 21px;
}
.search-cancel-button span, button.input_search_reset span {
border: 0;
clip: rect(0 0 0 0);
height: 1px;
top: -1px;
overflow: hidden;
padding: 0;
position: absolute;
width: 1px;
}
.search_text_box a {
float: right;
} 
a.suntrust-orange-button {
-webkit-transition: all .15s ease-in;
-moz-transition: all .15s ease-in;
-o-transition: all .15s ease-in;
-ms-transition: all .15s ease-in;
transition: all .15s ease-in;
-webkit-border-radius: 3px;
-webkit-background-clip: padding-box;
-moz-border-radius: 3px;
-moz-background-clip: padding;
border-radius: 3px;
background-clip: padding-box;
padding: 12px 30px;
font-size: 18px;
line-height: 18px;
cursor: pointer;
outline: none;
background-image: none;
display: inline-block;
background-color: #C94C06;
color: #fff;
}
a.suntrust-orange-button:hover, 
a.suntrust-orange-button:focus {
background-color: #963F04;
color: #fff;
outline: none;
text-decoration: none;
}
.search_result_count {
color: #fff;
font-size: 35px;
line-height: 40px;
}
/* Top Search Css End */
/* Search menu css Start */
.search_result_categories {
margin: 30px 0 40px;
}
.search_result_categories li {
list-style: none;
display: inline-block;
}
.search_result_categories ul a {
padding: 5px;
border-bottom: 5px solid #fff;
display: block;
}
.search_result_categories ul a:hover, 
.search_result_categories ul a:focus, 
.search_result_categories ul a.active {
color: #0d365a;
border-bottom: 5px solid #e35225;
}
.search_result_categories .visible-xs > a {
width: 100%;
margin-top: 5px;
text-align: center;
border-bottom: 0;
}
.faq_result_show_more_results a,
.location_result_show_more_results a, 
.search_result_categories .visible-xs > a,
.search_result_show_more_results a,
.people_result_show_more_results a,
.all_result_show_more_results a,
.resources_result_show_more_results a  {
-webkit-transition: all .15s ease-in;
-moz-transition: all .15s ease-in;
-o-transition: all .15s ease-in;
-ms-transition: all .15s ease-in;
transition: all .15s ease-in;
-webkit-border-radius: 3px;
-webkit-background-clip: padding-box;
-moz-border-radius: 3px;
-moz-background-clip: padding;
border-radius: 3px;
background-clip: padding-box;
padding: 10px 30px;
font-size: 18px;
line-height: 18px;
cursor: pointer;
outline: none;
background-image: none;
display: inline-block;
background-color: #003B71;
color: #fff;
}
.faq_result_show_more_results a:hover,
.faq_result_show_more_results a:focus,
.location_result_show_more_results a:hover, 
.location_result_show_more_results a:focus, 
.search_result_categories .visible-xs > a:hover, 
.search_result_categories .visible-xs > a:focus 
.search_result_show_more_results a:hover, 
.search_result_show_more_results a:focus, 
.people_result_show_more_results a:hover,
.people_result_show_more_results a:focus,
.all_result_show_more_results a:hover,
.all_result_show_more_results a:focus,
.resources_result_show_more_results a:hover,
.resources_result_show_more_results a:focus {
background-color: #021E30;
}
/* Search menu css End */
/* Filter Left Content css Start*/
.search_result_details {
margin-bottom: 60px;
}
.search_by_filter,
.search_filter_result_cat {
border-top: 1px solid #cfcfcf;
padding: 30px 0 0;
margin-top: 30px;
}
.search_detail_services h4,
.search_filter_result_cat h4 {
margin: 0 0 15px 0;
}
.search_detail_services_level0 > div, 
.search_detail_services_level1 > div, 
.search_detail_state_city_select > div,
.search_detail_services_level0 > div:not(:last-child), 
.search_detail_services_level0 > .search_detail_services_level1 > div, 
.search_detail_state_city_select > div,
.search_filter_result_cat > div > div {
display: inline-flex;
margin: 0 0 10px 0;
width: 100%;
}
.search_detail_state_city_select > div:last-child,
.search_filter_result_cat > div > div:last-child {
margin: 0;
}
.search_detail_radius_select .sun-select-container, 
.search_result_categories .visible-xs .sun-select-container {
width: 100%;
}
.search_detail_radius_select .sun-select-container>select {
color: #333;
}
.search_detail_state_city h4 {
display: inline-block;
margin: 0 0 10px 0;
}
.state_city_selectall_clear {
float: right;
display: inline-block;
font-weight: bold;
}
.state_city_selectall_clear span {
display: inline-block;
padding: 0 15px;
}
.search_detail_state_city_select {
border: 1px solid #ccc;
padding: 10px;
max-height: 222px;
overflow-y: auto;
}
/* Filter Left Content css End*/
/*Result Right Content css Start*/
.search_result_description .search_result_description_details:first-child ,
.location_show_hide > div:first-child{
padding-top: 0;
}
.search_result_description .search_result_description_details {
padding: 30px 0;
border-bottom: 1px solid #cfcfcf;
}
.search_result_description_detail_img {
width: 100px;
height: 100px;
float: left;
margin-right: 15px;
}
.search_result_description_detail_img img, 
.loction_show_hide_direction_icon img {
width: 100%;
height: 100%;
background-color: #fff;
}
.search_result_description_detail_img img[src=""], 
.loction_show_hide_direction_icon img[src=""] {
background-color: #000;
}
.search_result_details_individual_details {
float: left;
width: 45%;
margin-left: 0px;
}
.search_result_location_contact {
width: 35%;
margin-left: 2%;
min-width: 165px;
float: left;
}
.search_result_location_name, 
.search_result_location_contact,
.search_result_location_working_hours {
vertical-align: top;
display: inline-block;
float: left;
}
.search_result_location_name > div, 
.search_result_location_contact > div {
margin-bottom: 15px;
}
.search_result_location_phone_icon, 
.search_result_location_fax_icon, 
.search_result_location_direction_icon,
.loction_show_hide_direction_icon {
float: left;
width: 35px;
height: 35px;
}
.search_result_location_phone_icon img, 
.search_result_location_fax_icon img, 
.search_result_location_direction_icon img {
background-color: #fff;
width: 100%;
height: 100%;
}
.search_result_location_phone_details, 
.search_result_location_fax_details, 
.search_result_location_direction_details,
.loction_show_hide_direction_details {
	float: left;
	margin-left: 5px;
    word-break: break-word;
}
.search_result_description_detail_addr h5, 
.search_result_description_detail_service h5, 
.search_result_location_branch_hours h5, 
.search_result_location_drive_thru_hours h5, 
.search_result_location_teller_connect_hours h5, 
.search_result_location_phone_details h5, 
.search_result_location_fax_details h5 {
font-size: 15px;
margin: 0;
font-weight: bold;
color: #333;
}
.search_result_description_detail_service h5 > strong, 
.search_result_location_branch_hours h5 > strong, 
.search_result_location_drive_thru_hours h5 > strong, 
.search_result_location_teller_connect_hours h5 > strong, 
.search_result_location_phone_details h5 > strong, 
.search_result_location_fax_details h5 > strong,
.search_result_details_individual_details > div > a > strong,
.peopleSearch_tog > strong,
.locations_filter_desktop > h3 > strong,
.locations_filter_desktop .search_by_filter h4 > strong, 
.search_result_details_individual_details > div > a > strong,
.peopleSearch_tog > strong,
.locations_filter_desktop > h3,
.locations_filter_desktop .search_by_filter h4 {
font-weight: bold !important;
}
.search_result_description_detail_addr p, 
.search_result_location_branch_hours p, 
.search_result_location_drive_thru_hours p, 
.search_result_location_teller_connect_hours p, 
.search_result_location_phone_details p, 
.search_result_location_fax_details p, 
.search_result_location_name > div:last-child, 
.search_result_location_contact > div:last-child {
margin: 0;
}
.location_tog > a, .peopleSearch_tog {
margin-bottom: 5px;
display: inline-block;
}
.location_tog > a span, .peopleSearch_tog span {
color: #d66112;
font-size: 22px;
display: inline-block;
vertical-align: bottom;
margin-top: -4px;
width: 12px;
text-align: center;
font-weight: 700;
}
.location_show_hide > div {
padding: 15px 0;
border-bottom: 1px solid #cfcfcf;
}
.location_show_hide_addr, 
.loction_show_hide_direction {
float: left;
width: 50%;
}
.location_show_hide_addr p {
margin: 0;
}
.loction_show_hide_direction_details p {
margin-top: 7px;
}
.location_show_hide > div:last-child {
border-bottom: 0;
}
/*.search_result_description .search_result_description_details:last-child {
border-bottom: 0;
}*/
.all_results_filter_container .search_result_description_details:last-child {
	border-bottom: 0;
}
/*Result Right Content css End*/
/* No Result css Start */
.zero_result_found {
margin-bottom: 60px;
}
.zero_result_text {
margin-bottom: 30px;
font-size: 25px;
line-height: 30px;
}
.zero_result_help_center span {
display: inline-block;
margin-top: 8px;
margin-left: 10px;
font-weight: 700;
font-size: 25px;
}
.zero_result_help_center a:hover span,.zero_result_help_center a:focus span {
	color: #c94c06;
}
.zero_result_help_center .zero_result_help_center_img {
float: left;
width: 35px;
height: 35px;
}
.zero_result_help_center .zero_result_help_center_img img[src=""] {
background-color: #000;
}
.zero_result_help_center .zero_result_help_center_img img {
width: 100%;
height: 100%;
background-color: #fff;
}
.rowcontainerresp .zero_result_found {
display: block;
}
/* No Result css End */
/* Checkbox css start */
.sun-checkbox-input-field {
position: relative;
}
.sun-checkbox-input-container {
display: inline-block;
border: 1px solid #cfcfcf;
position: absolute;
left: 0;
top: 0;
width: 18px;
height: 18px;
background-color: #fff;
border-radius: 2px;
background-clip: padding-box;
}
.sun-checkbox-input-container span {
position: absolute;
left: -1px;
top: -1px;
width: 20px;
height: 20px;
text-align: center;
}
.sun-checkbox-input-container span.sun-checked:after {
font-family: "sun-icons-UXd1Fq6";
display: inline-block;
font-weight: normal;
font-style: normal;
text-decoration: inherit;
content: "";
color: #0d365a;
font-size: 14px;
line-height: 22px;
}
.sun-checkbox-input-field .suntrust-checkbox-label {
margin-left: 30px;
font-weight: 400;
}
.sun-checkbox-input-container input[type="checkbox"] {
opacity: 0;
filter: alpha(opacity=0);
-moz-opacity: 0;
border: none;
background: none;
position: absolute;
left: 0;
right: 0;
bottom: 0;
top: 0;
width: 100%;
height: 100%;
font-size: 15px;
color: #333;
}
.sun-checkbox-input-container span {
margin-left: 0 !important;
}
/* Checkbox css end */
/* mobile filter css Start */
.mobile_filter_search {
position: fixed;
top: 0;
z-index: 1032;
height: 100%;
width: 320px;
background-color: #0d365a;
left: -320px;
display: inline-block;
padding: 15px;
color: #fff;
overflow-x: auto;
}
.mobile_filter_search_close {
padding-bottom: 5px;
}
.filter_search_close {
float: right;
position: relative;
cursor: pointer;
background: none;
color: #fff;
padding: 0;
}
	
.filter_search_close::before {
font-family: sun-icons-UXd1Fq6;
display: inline-block;
font-weight: 700;
font-style: normal;
text-decoration: inherit;
content: "";
font-size: 15px;
line-height: 25px;
}
	
.filter_search_close_text {
border: 0;
clip: rect(0 0 0 0);
height: 1px;
top: -1px;
overflow: hidden;
padding: 0;
position: absolute;
width: 1px;
}
.mobile_filter_search .mobile-filter-title {
padding-bottom: 30px;
font-size: 32px;
line-height: 35px;
}
	
.mobile_filter_search .mobile-filter-title,
.filter_tog {
border-bottom: 1px solid #3e6181;
}
.filter_tog {
padding: 15px 0;
}
.filter_tog a {
color: #fff;	
}
.filter_title a span {
display: inline-block;
width: 11px;
}
.filter_title a span+span {
width: auto;
}
.filter_tog .sun-select-container {
margin-top: 0;
}
.filter_tog .sun-select-container span {
color: #000;
}
.filter_tog .sun-select-container select {
padding-right: 30px;
}
.filter_tog .state_city_selectall_clear {
font-weight: normal;
}
.filter_tog .state_city_selectall_clear a {
font-size: 15px;
}
.filter_tog a,
.mobile_filter_search .suntrust-checkbox-label {
font-size: 20px;
}
.mobile_filter_search .suntrust-checkbox-label {
font-size: 18px;	
margin-bottom: 0;
}
.filter_show_hide {
padding-top: 10px;
}
.filter_tog .filter_show_hide .sun-checkbox-input-field:not(:last-child) {
padding-bottom: 10px;
}
.filter_tog .filter_show_hide .search_detail_services_level1 .sun-checkbox-input-field:not(:last-child) {
padding-bottom: 0px;
}
.mobile_filter_submit_reset {
margin: 30px 0;
}
.mobile_filter_submit_reset a {
margin-left: 9px;
margin-top: 0;
}
/* mobile filter css End */
/*Location Search Css Start*/
.search_detail_services_level0 > div.search_detail_services_level1, 
.mobile_filter_search div.search_detail_services_level1,
.search_filter_result_cat > div > div.search_detail_services_level1:last-child {
display: inline-block;
margin: 0 0 0 30px;
}
.locations_filter_container .search_result_location_name {
width: 45%;
}
.locations_filter_container .search_result_location_working_hours, 
.locations_filter_container .search_result_location_contact {
width: 25%;
margin-left: 2%;
min-width: 127px;
min-height: 5px;
}
.locations_filter_container .search_result_location_contact {
float: none;
}
.location_filter_desktop .search_detail_services_level0 > div:last-child {
margin-bottom: 0;
}
.search_result_location_name > div, 
.search_result_location_working_hours > div:not(:last-child), 
.search_result_location_contact > div {
margin-bottom: 15px;
}
.faq_result_show_more_results,
.location_result_show_more_results,
.search_result_show_more_results,
.people_result_show_more_results,
.all_result_show_more_results,
.resources_result_show_more_results {
position: relative;
}
.faq_result_show_more_results a:before,
.location_result_show_more_results a:before,
.search_result_show_more_results a:before,
.people_result_show_more_results a:before,
.all_result_show_more_results a:before,
.resources_result_show_more_results a:before {
position: absolute;
top: 50%;
left: 0;
width: 100%;
height: 1px;
background-color: #cfcfcf;
content: '';
z-index: -1;
}
.location_mobile_filter .search_detail_services_level1 > div {
margin: 0;
}
.location_mobile_filter .filter_tog .filter_show_hide .search_detail_services_level1 .sun-checkbox-input-field:last-child {
padding-bottom: 10px;
}
.search_result_location_direction_details p {
margin-top: 7px;
}
/*Location Search Css End*/
	
/*Resource Search Css Start*/
.search_result_content .search_result_content_data:first-child {
padding-top: 0;
}
.search_result_content_data {
padding: 20px 0;
border-bottom: 1px solid #cfcfcf;
}
.search_result_content_img {
width: 35px;
height: 35px;
margin-right: 10px;
}
.search_result_content_img img,
.search_result_right_promo img {
width: 100%;
height: 100%;
background-color: #fff;
}
.search_result_content_img img[src=""],
.search_result_right_promo img[src=""] {
background-color: #000;
}
.search_result_content_img, 
.search_result_content_img_data {
float: left;
} 
.search_result_content_img_data {
margin-left: 0px;
vertical-align: top;
width: 90%;
}
.search_result_content_data a {
font-weight: bold;
}
.search_result_content_data p {
	margin: 0;
	word-break: break-word;
}
.search_result_content .search_result_content_data:last-child {
border-bottom: 0;
}
/*Resource Search Css End*/
/*People Search Css Start*/
.search_result_right_promo {
width: 100%;
height: 200px;
margin-bottom: 30px;
} 
/*people Search Css End*/
#loadingMask {
background-color: #fff;
display: none;
left: 0;
position: absolute;
top: 0;
z-index: 100000;
width:100%;
height:100%;
opacity:0.3;
}
.peopleSearch_togSec{
margin-top: 15px;
float: none;
}
.peopleSearch_togSec strong{
padding-left: 4px;
}
	
.search_result_details  h3{
font-size: 20px;
color: #333;
font-weight: bold;
}
.search_by_filter h4 {
font-size: 15px;
color: #333;
font-weight: bold;
}
/* All Results Tab Css Start */
.search_result_details .result_filters_other .suntrust-colorBlock .suntrust-rowFlex {
	padding: 0;
}
.all_results_filter_container .search_result_content:not(:first-child) {
padding-top: 20px;
}
.all_results_filter_container .search_result_content {
padding-bottom: 20px;
}
.all_results_filter_container .search_result_content:not(:last-child) {
border-bottom: 1px solid #cfcfcf;
}
.all_results_filter_container .search_result_content_data, .all_results_filter_container .search_result_description_details {
padding: 0;
}
.all_results_filter_container .search_result_location_working_hours, .all_results_filter_container .search_result_location_contact {
width: 25%;
margin-left: 2%;
min-width: 127px;
min-height: 0px;
}
.all_results_filter_container .allPeopleresult .search_result_location_contact{
	width: 37%;
}
.all_results_filter_container .allPeopleresult .location_tog {
    width: 100%;
}
.search_result_content .search_result_content_data:last-child {
border-bottom: 0;
}
.search_result_content_data {
padding: 20px 0;
border-bottom: 1px solid #cfcfcf;
}
.search_result_content_cat {
padding-bottom: 10px;
}
.search_result_content_cat > span {
    color: #c94c06;
    display: inline-block;
    padding: 0;
    font-size: 14px;
	font-style: italic;
}
.faq_result_data {
position: relative;
margin: 0 0 20px 0;
}
.faq_result_data a {
    font-size: 15px;
    color: #333;
}
.faq_shoeMoreLess_Content {
    font-size: 15px;
    color: #333;
}
.faq_shoeMoreLess_Content.faq_showMore {
max-height: 40px;
overflow: hidden;
}
.all_results_filter_container .show_more {
    font-size: 14px;
    font-weight: bold;
}
.search_result_content_data a {
font-weight: 700;
}
.all_results_filter_container .search_result_location_name {
width: 45%;
}
/* All Results Tab Css End */	
.people_filter_container .search_result_location_phone_details p{
	width:220px;
}
.people_filter_container .search_result_location_phone_details p a{
	word-break: break-all;
}
/* Mortgage Officer Message for 'No Result' in People Tab - US70727 starts here*/
.no_result_help_center{	
	display: inline-block;
    padding: 15px 30px 15px 15px;
    border-radius: 4px;
    margin-bottom: 30px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.45);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.45);
}
.no_result_help_center p{
    font-size: 17px;
    color: #333333;
}
.no_result_help_center p span{
	color:#003b71;
}
.no_result_help_center_img{
    float: left;
    width: 35px;
    height: 35px;
}
.no_result_help_center_img img{
	height:100%;
	width:100%;
}
.no_result_help_center span {
    display: inline-block;
    padding: 12px 15px 0 15px;
}
.no_result_help_center  span br {
    display: none;
}
/* Mortgage Officer Message for 'No Result' in People Tab - US70727 ends here*/
@media (max-width: 1024px) {
	.search_result_details_individual_details {
		width: 37%;
		min-width: 140px;
	}
	.locations_filter_container .search_result_location_name {
		width: 42%;
	}
	.all_results_filter_container .search_result_location_phone_details, 
	.all_results_filter_container .search_result_location_fax_details, 
	.all_results_filter_container .search_result_location_direction_details {
		width :73%;
	}
	.all_results_filter_container .allPeopleresult .search_result_location_phone_details, 
	.all_results_filter_container .allPeopleresult .search_result_location_fax_details, 
	.all_results_filter_container .allPeopleresult .search_result_location_direction_details {
		width :75%;
	}
	/* People Search css Start */
	.people_filter_container .search_result_location_phone_details {
		width: 75%;
	}
	/* People Search css End */ 
}
@media (min-width: 769px){
	.location_show_hide>div:first-child,.location_show_hide>div{
	   position: relative;
	}
	.loction_show_hide_direction{
	  position:absolute;
	  bottom: 15px;
	  right: 0px;
	}
}
@media (max-width: 800px) {
	.location_show_hide_addr, .loction_show_hide_direction {
		float: none;
		width: 100%;
	}
	.location_show_hide_addr {
		margin-bottom: 15px;
	}
	.search_result_details_individual_details {
		width: 35%;
	}
	.search_result_details_individual_details .search_result_location_contact.visible-xs {
		/*display: none !important;*/
		margin-top: 15px;
	}
	.locations_filter_container .search_result_location_name {
		width: 40%;
	}
	.locations_filter_container .search_result_location_working_hours, 
	.locations_filter_container .search_result_location_contact {
		width: 28%;
		margin-left: 0;
	}
	.all_results_filter_container .search_result_location_working_hours {
		width: 24%;
		margin-left: 2%;
		min-width: auto;
	}
	.all_results_filter_container .search_result_location_contact {
		width: 32%;
		margin-left: 2%;
		min-width: auto;
	}
	.all_results_filter_container .search_result_location_name {
		width: 40%;
	}
	.loction_show_hide_direction{
	    position: relative;
	    bottom: 0px;
	}
}
@media (max-width: 736px) {
	.search_result_heading .search_text_box {
		width: 100%;
		padding: 0 15px;
	}
	.search_text_box .search_text_box_reset {
		width: 100%;
	}
	.search_text_box input {
		width: 100%;
		float: none;
	}
	.search_text_box a {
		float: none;
		width: 100%;
		margin-top: 5px;
		background-color: #c94c06;
		text-align: center;
	}
	.search_result_categories {
		margin-bottom: 30px;
		padding: 0 15px;
	}
	.search_result_details_individual_details {
		width: 100%;
		margin: 15px 0 0;
	}
	.search_result_location_contact {
		width: 100%;
		margin-left: 0;
	}			
	.location_tog, .peopleSearch_togSec{
		margin-top: 15px;
		float: none;
		display: inline-block;
	}
	.location_show_hide > div {
		border-bottom: 0;
		padding-top: 0;
	}
	.locations_filter_container .search_result_location_name {
		width: 100%;
	}
	.locations_filter_container .search_result_location_working_hours, 
	.locations_filter_container .search_result_location_contact {
		width: 100%;
		margin-left: 0;
	}
	.search_result_location_name > div:last-child {
		margin-bottom: 15px;
	}
	.search_result_content_img_data {
		margin: 0px 0 0 0px;
		width: 84%;
		float: left;
	}
	.mobile_filter_submit_reset a {
		margin-left: 4px;
	}
	.mobile_filter_search .mobile-filter-title {
		line-height: 40px;	
	} 
	.search_result_count {
		margin: 0 auto;
	}
	.no_result_help_center {
		width: 100%;
		text-align: center;
	}
	.no_result_help_center_img {
		float: none;
		margin: 0 auto 20px auto;
	}
	.no_result_help_center span {
		padding: 0;
	}
	.no_result_help_center {
		padding: 15px 15px 15px 15px;
	}
	.no_result_help_center  span br {
		display: block;
	}
	.no_result_help_center  span p {
		text-align: center !important;
	}
}
@media (max-width: 480px) {
	.search_result_details_individual_details .search_result_location_contact.visible-xs {
		display: block !important;
		margin-top: 15px;                
	}
	.all_results_filter_container .search_result_location_contact{
		width: 100%;
	}
}
@media only screen and (min-width: 700px) and (max-width: 900px) {
	.people_filter_container .search_result_location_phone_details p{
		width:150px;
	}
	.people_filter_container .search_result_location_phone_details a { 
		word-break: break-all; 
	}
}
@media screen and (max-device-width: 667px) {
	.search_result_categories, .search_result_heading .search_text_box, .zero_result_found, .search_result_details > div  {
		padding: 0 15px;
	}
    .all_results_filter_container .search_result_location_name {
        width: 100%;
    }
    .all_results_filter_container .search_result_location_working_hours, .all_results_filter_container .search_result_location_contact {
        width: 100%;
        margin-left: 0%;
    }
	.all_results_filter_container .allPeopleresult .search_result_location_contact {
		width: 100%;
	}
}
.search_result_description .location_aem_results, .search_result_description .people_aem_results{
	padding-top: 30px;
}
.search_result_description .location_aem_results .search_result_description_details:last-child{
	border-bottom: 0px;
}
.search_result_description .location_mq_results .search_result_description_details:last-child{
	border-bottom: 1px solid #cfcfcf;
}