.suntrust-stepsContainer h3 {
	font-size: 30px;
	line-height: 32px;
	margin: 20px 0;
}

.stepsContImg{
  max-width: 100%;
}
.suntrust-stepsContainer .suntrust-steps-blue .col-lg-8.col-xs-12.col-sm-8
	{
	margin-top: 30px;
	margin-bottom: 30px;
	padding-left: 0px;
	padding-right: 30px;
}

.suntrust-stepsContainer .suntrust-steps-orange .col-lg-12.col-xs-12.col-sm-8
	{
	margin-top: 30px;
	margin-bottom: 30px;
	padding-left: 0px;
	padding-right: 0px;
}

/* Steps css for desktop blue image css starts */
.suntrust-stepsContainer .suntrust-steps-blue ul {
	list-style-type: none;
	padding: 0px;
	margin-bottom: 20px;
	overflow: hidden;
}

.suntrust-stepsContainer .suntrust-steps-blue ul>li {
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: left;
	padding: 0px 10px;
}
/*
.suntrust-stepsContainer .suntrust-steps-blue ul li .suntrust-feature-image-container img {
    max-width: 100%;
}
*/
.suntrust-stepsContainer .suntrust-steps-blue ul li .suntrust-feature-info .suntrust-feature-name
	{
	font-size: 24px;
	line-height: 24px;
	margin-bottom: 20px;
	margin-top: 5px;
}


.suntrust-stepsContainer .suntrust-steps-blue ul li .suntrust-feature-info p:nth-child(2)
	{
	margin-bottom: 20px;
}

.suntrust-stepsContainer .sun-text-align-center {
	text-align: center;
}

.suntrust-stepsContainer .suntrust-clearBoth {
	clear: both;
}

.suntrust-stepsContainer .sun-content-action-button {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	-webkit-border-radius: 3px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 3px;
	-moz-background-clip: padding;
	border-radius: 3px;
	background-clip: padding-box;
	color: #fff;
	font: 18px/24px "suntrustregular", "Trebuchet MS", sans-serif;
	background: #f8a131;
	-webkit-transition: background .15s ease-in;
	-moz-transition: background .15s ease-in;
	-o-transition: background .15s ease-in;
	-ms-transition: background .15s ease-in;
	transition: background .15s ease-in;
	padding: 21px 30px;
	margin-bottom: 30px;
	margin-top: 20px;
}

.suntrust-stepsContainer .sun-content-action-button:hover,
	.suntrust-stepsContainer .sun-content-action-button:focus {
	background: #C94C06;
	-webkit-transition: background .15s ease-in;
	-moz-transition: background .15s ease-in;
	-o-transition: background .15s ease-in;
	-ms-transition: background .15s ease-in;
	transition: background .15s ease-in;
}

.suntrust-steps-blue .suntrust-works, .suntrust-steps-blue .suntrust-confirmationtext.suntrust-clearBoth p
	{
	display: none;
}

.suntrust-stepsContainer .suntrust-steps-blue ul li:nth-child(5) {
	clear: both;
}

/********/
.suntrust-steps-blue ul li:nth-child(1) .suntrust-feature-image-container
	{
	background-image: url("/content/dam/suntrust/us/en/elements/2017/graphic-elements/loans-step-bar-blue-01.png");
	background-repeat: no-repeat;
	height: 37px;
	background-size: contain;
}

.suntrust-steps-blue ul li:nth-child(2) .suntrust-feature-image-container
	{
	background-image: url("/content/dam/suntrust/us/en/elements/2017/graphic-elements/loans-step-bar-blue-02.png");
	background-repeat: no-repeat;
	height: 37px;
	background-size: contain;
}

.suntrust-steps-blue ul li:nth-child(3) .suntrust-feature-image-container
	{
	background-image: url("/content/dam/suntrust/us/en/elements/2017/graphic-elements/loans-step-bar-blue-03.png");
	background-repeat: no-repeat;
	height: 37px;
	background-size: contain;
}

.suntrust-steps-blue ul li:nth-child(4) .suntrust-feature-image-container
	{
	background-image: url("/content/dam/suntrust/us/en/elements/2017/graphic-elements/loans-step-bar-blue-04.png");
	background-repeat: no-repeat;
	height: 37px;
	background-size: contain;
}

.suntrust-steps-blue ul li:nth-child(5) .suntrust-feature-image-container
	{
	background-image: url("/content/dam/suntrust/us/en/elements/2017/graphic-elements/loans-step-bar-blue-05.png");
	background-repeat: no-repeat;
	height: 37px;
	background-size: contain;
}

.suntrust-steps-blue ul li:nth-child(6) .suntrust-feature-image-container
	{
	background-image: url("/content/dam/suntrust/us/en/elements/2017/graphic-elements/loans-step-bar-blue-06.png");
	background-repeat: no-repeat;
	height: 37px;
	background-size: contain;
}
/***********/

/* Steps css for desktop blue image css ends */

/* Steps css for desktop orange image css starts */
.suntrust-stepsContainer .suntrust-steps-orange ul li .suntrust-feature-info .suntrust-feature-name
	{
	font-size: 24px;
	line-height: 24px;
	margin-bottom: 20px;
}

.suntrust-stepsContainer .suntrust-steps-orange ul li .suntrust-feature-info p:nth-child(2)
	{
	margin-bottom: 20px;
}

.suntrust-steps-orange .suntrust-feature-image-container {
	width: 25%;
}

.suntrust-steps-orange .suntrust-feature-info {
	width: 60%;
}

.suntrust-steps-orange .suntrust-feature-image-container {
	display: inline-block;
	vertical-align: top;
	max-width: 110px;
}
/*
.suntrust-steps-orange .suntrust-feature-image-container .suntrust-feature-image{
	height: auto;
	max-width: 100%;
	width: 80px;
}
*/
.suntrust-steps-orange  .suntrust-feature-info {
	display: inline-block;
	vertical-align: top;
	margin-left: 5%
}

.suntrust-stepsContainer .suntrust-steps-orange ul {
	list-style-type: none;
	padding: 0px;
	margin-bottom: 20px;
	overflow: hidden;
}

.suntrust-stepsContainer .suntrust-steps-orange ul>li {
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: left;
	padding: 0px;
}

.suntrust-stepsContainer .suntrust-steps-orange ul li .suntrust-feature-info .suntrust-feature-name
	{
	font-size: 24px;
	line-height: 24px;
	margin-bottom: 20px;
}

.suntrust-stepsContainer .suntrust-steps-orange ul li .suntrust-feature-info p:nth-child(2)
	{
	margin-bottom: 20px;
}

.suntrust-stepsContainer .suntrust-confirmationtext p {
	margin-bottom: 20px;
}

.suntrust-steps-orange .sun-text-align-center.suntrust-clearBoth {
	display: none;
}

.suntrust-stepsContainer .suntrust-steps-orange ul li:nth-child(5) {
	clear: both;
}

/********/
.suntrust-steps-orange ul li:nth-child(1) .suntrust-feature-image-container
	{
	background-image:
		url("/content/dam/suntrust/us/en/elements/2017/graphic-elements/graphic-bubble-orange-step-1-220x220.png");
	background-repeat: no-repeat;
	height: 71px;
	background-size: contain;
}

.suntrust-steps-orange ul li:nth-child(2) .suntrust-feature-image-container
	{
	background-image:
		url("/content/dam/suntrust/us/en/elements/2017/graphic-elements/graphic-bubble-orange-step-2-220x220.png");
	background-repeat: no-repeat;
	height: 71px;
	background-size: contain;
}

.suntrust-steps-orange ul li:nth-child(3) .suntrust-feature-image-container
	{
	background-image:
		url("/content/dam/suntrust/us/en/elements/2017/graphic-elements/graphic-bubble-orange-step-3-220x220.png");
	background-repeat: no-repeat;
	height: 71px;
	background-size: contain;
}

.suntrust-steps-orange ul li:nth-child(4) .suntrust-feature-image-container
	{
	background-image:
		url("/content/dam/suntrust/us/en/elements/2017/graphic-elements/graphic-bubble-orange-step-4-220x220.png");
	background-repeat: no-repeat;
	height: 71px;
	background-size: contain;
}

.suntrust-steps-orange ul li:nth-child(5) .suntrust-feature-image-container
	{
	background-image:
		url("/content/dam/suntrust/us/en/elements/2017/graphic-elements/graphic-bubble-orange-step-5-220x220.png");
	background-repeat: no-repeat;
	height: 71px;
	background-size: contain;
}

.suntrust-steps-orange ul li:nth-child(6) .suntrust-feature-image-container
	{
	background-image:
		url("/content/dam/suntrust/us/en/elements/2017/graphic-elements/graphic-bubble-orange-step-6-220x220.png");
	background-repeat: no-repeat;
	height: 71px;
	background-size: contain;
}

div.suntrust-steps-orange h3+p {
	margin-bottom: 20px;
}
/***********/
.suntrust-wrapperContainer.container .SingleColumn .steps .sun-body-component.suntrust-stepsContainer{
	padding-left: 10px;
}
/* Steps css for desktop orange image css starts */

/* Media queries for steps css starts */
@media only screen and (min-device-width: 320px) and (max-device-width:
	640px) {
	.suntrust-steps-blue ul li .suntrust-feature-image-container
	{
		height: 44px!important;
	}
	/***********/
}

@media only screen and (min-device-width: 320px) and (max-device-width:
	640px) and (orientation: landscape) and
	(-webkit-min-device-pixel-ratio: 1) {
	.suntrust-steps-blue ul li .suntrust-feature-image-container
	{
		height: 85px!important;
	}	
	/***********/
}

@media ( max-width : 600px) {
	/* css for blue image */
	.suntrust-stepsContainer .suntrust-steps-blue .sun-content-action-button
		{
		display: block;
		width: 100%;
		padding-top: 12px;
		padding-bottom: 12px;
	}
	.suntrust-stepsContainer .suntrust-steps-blue .sun-text-align-center.suntrust-clearBoth
		{
		padding-right: 15px;
		padding-left: 15px;
	}
	/* css for blue image */

	/* css for orange image */
	/*
	.suntrust-steps-orange{
		overflow: hidden;
		padding-left: 15px;
		padding-right: 15px;
	}
	*/
	.suntrust-stepsContainer .suntrust-steps-orange ul>li {
		padding: 0px;
	}
	.suntrust-stepsContainer .suntrust-steps-orange .suntrust-feature-image-container
		{
		width: 100%;
		margin-bottom: 15px;
		display: block;
	}
	.suntrust-stepsContainer .suntrust-steps-orange .suntrust-feature-info {
		margin-left: 0;
		width: 100%;
	}
	.suntrust-stepsContainer .suntrust-steps-orange h3 {
		font-size: 21px;
		line-height: 21px;
	}
	/* css for orange image */
}

@media screen and (max-width: 767px) {
	/* css for blue image */
	.suntrust-stepsContainer .suntrust-steps-blue h3 {
		font-size: 21px;
		line-height: 21px;
		margin: 0px 0px 20px 15px;
	}
	/* css for blue image */

	/* css for orange image */
	/*
	.suntrust-steps-orange{
		overflow: hidden;
		padding-left: 15px;
		padding-right: 15px;
	}
	*/
	.suntrust-stepsContainer .suntrust-steps-orange ul>li {
		margin-bottom: 10px;
	}
	.suntrust-stepsContainer .suntrust-steps-orange h3 {
		font-size: 21px;
		line-height: 21px;
	}
	/* css for orange image */
}

@media only screen and (min-width : 768px) and (max-width:1024px) {
	/* css for blue image */
	.suntrust-stepsContainer .suntrust-steps-blue ul>li {
		padding: 0px 10px;
	}
	/* css for blue image */

	/* css for orange image */
	.suntrust-stepsContainer .suntrust-steps-orange .col-sm-8 {
		width: 100%;
	}
	/* css for orange image */
}

@media only screen and (min-width : 768px) and (max-width:1024px) and
	(orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
	/* css for orange image */
	.suntrust-stepsContainer .suntrust-steps-orange ul>li {
		float: none;
	}
	/* css for orange image */
	/* css for blue image */
	.suntrust-stepsContainer .suntrust-steps-blue ul>li {
		float: none;
	}
	/* css for blue image */

	/********/
	.suntrust-steps-orange ul li:nth-child(1) .suntrust-feature-image-container
		{
		background-image:
			url("/content/dam/suntrust/us/en/elements/2017/graphic-elements/graphic-bubble-orange-step-1-220x220.png");
		background-repeat: no-repeat;
		height: 71px;
		background-size: contain;
	}
	.suntrust-steps-orange ul li:nth-child(2) .suntrust-feature-image-container
		{
		background-image:
			url("/content/dam/suntrust/us/en/elements/2017/graphic-elements/graphic-bubble-orange-step-2-220x220.png");
		background-repeat: no-repeat;
		height: 71px;
		background-size: contain;
	}
	.suntrust-steps-orange ul li:nth-child(3) .suntrust-feature-image-container
		{
		background-image:
			url("/content/dam/suntrust/us/en/elements/2017/graphic-elements/graphic-bubble-orange-step-3-220x220.png");
		background-repeat: no-repeat;
		height: 71px;
		background-size: contain;
	}
	.suntrust-steps-orange ul li:nth-child(4) .suntrust-feature-image-container
		{
		background-image:
			url("/content/dam/suntrust/us/en/elements/2017/graphic-elements/graphic-bubble-orange-step-4-220x220.png");
		background-repeat: no-repeat;
		height: 71px;
		background-size: contain;
	}
	.suntrust-steps-orange ul li:nth-child(5) .suntrust-feature-image-container
		{
		background-image:
			url("/content/dam/suntrust/us/en/elements/2017/graphic-elements/graphic-bubble-orange-step-5-220x220.png");
		background-repeat: no-repeat;
		height: 71px;
		background-size: contain;
	}
	.suntrust-steps-orange ul li:nth-child(6) .suntrust-feature-image-container
		{
		background-image:
			url("//content/dam/suntrust/us/en/elements/2017/graphic-elements/graphic-bubble-orange-step-6-220x220.png");
		background-repeat: no-repeat;
		height: 71px;
		background-size: contain;
	}

	/********/
	.suntrust-steps-blue ul li:nth-child(1) .suntrust-feature-image-container
		{
		background-image: url("/content/dam/suntrust/us/en/elements/2017/graphic-elements/loans-step-bar-blue-01.png");
		background-repeat: no-repeat;
		height: 22px;
		background-size: contain;
	}
	.suntrust-steps-blue ul li:nth-child(2) .suntrust-feature-image-container
		{
		background-image: url("/content/dam/suntrust/us/en/elements/2017/graphic-elements/loans-step-bar-blue-02.png");
		background-repeat: no-repeat;
		height: 22px;
		background-size: contain;
	}
	.suntrust-steps-blue ul li:nth-child(3) .suntrust-feature-image-container
		{
		background-image: url("/content/dam/suntrust/us/en/elements/2017/graphic-elements/loans-step-bar-blue-03.png");
		background-repeat: no-repeat;
		height: 22px;
		background-size: contain;
	}
	.suntrust-steps-blue ul li:nth-child(4) .suntrust-feature-image-container
		{
		background-image: url("/content/dam/suntrust/us/en/elements/2017/graphic-elements/loans-step-bar-blue-04.png");
		background-repeat: no-repeat;
		height: 22px;
		background-size: contain;
	}
	.suntrust-steps-blue ul li:nth-child(5) .suntrust-feature-image-container
		{
		background-image: url("/content/dam/suntrust/us/en/elements/2017/graphic-elements/loans-step-bar-blue-05.png");
		background-repeat: no-repeat;
		height: 22px;
		background-size: contain;
	}
	.suntrust-steps-blue ul li:nth-child(6) .suntrust-feature-image-container
		{
		background-image: url("/content/dam/suntrust/us/en/elements/2017/graphic-elements/loans-step-bar-blue-06.png");
		background-repeat: no-repeat;
		height: 22px;
		background-size: contain;
	}
	/***********/
}

@media only screen and (max-width: 740px) and (orientation: landscape)
	and (-webkit-min-device-pixel-ratio: 1) {
	.suntrust-steps-blue ul li:nth-child(1) .suntrust-feature-image-container
		{
		background-image: url("/content/dam/suntrust/us/en/elements/2017/graphic-elements/loans-step-bar-blue-01.png");
		background-repeat: no-repeat;
		height: 85px;
		background-size: contain;
	}
	.suntrust-steps-blue ul li:nth-child(2) .suntrust-feature-image-container
		{
		background-image: url("/content/dam/suntrust/us/en/elements/2017/graphic-elements/loans-step-bar-blue-02.png");
		background-repeat: no-repeat;
		height: 85px;
		background-size: contain;
	}
	.suntrust-steps-blue ul li:nth-child(3) .suntrust-feature-image-container
		{
		background-image: url("/content/dam/suntrust/us/en/elements/2017/graphic-elements/loans-step-bar-blue-03.png");
		background-repeat: no-repeat;
		height: 85px;
		background-size: contain;
	}
	.suntrust-steps-blue ul li:nth-child(4) .suntrust-feature-image-container
		{
		background-image: url("/content/dam/suntrust/us/en/elements/2017/graphic-elements/loans-step-bar-blue-04.png");
		background-repeat: no-repeat;
		height: 85px;
		background-size: contain;
	}
	.suntrust-steps-blue ul li:nth-child(5) .suntrust-feature-image-container
		{
		background-image: url("/content/dam/suntrust/us/en/elements/2017/graphic-elements/loans-step-bar-blue-05.png");
		background-repeat: no-repeat;
		height: 85px;
		background-size: contain;
	}
	.suntrust-steps-blue ul li:nth-child(6) .suntrust-feature-image-container
		{
		background-image: url("/content/dam/suntrust/us/en/elements/2017/graphic-elements/loans-step-bar-blue-06.png");
		background-repeat: no-repeat;
		height: 85px;
		background-size: contain;
	}
	/***********/
}

@media only screen and (max-width: 767px) {
	.suntrust-steps-blue ul li .suntrust-feature-image-container
	{
		height: 85px!important;
	}
	/***********/
}

@media only screen and (min-width : 768px)and (max-width:1024px) and
	(orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
	.suntrust-steps-orange ul li:nth-child(1) .suntrust-feature-image-container
		{
		background-image:
			url("/content/dam/suntrust/us/en/elements/2017/graphic-elements/graphic-bubble-orange-step-1-220x220.png");
		background-repeat: no-repeat;
		height: 71px;
		background-size: contain;
	}
	.suntrust-steps-orange ul li:nth-child(2) .suntrust-feature-image-container
		{
		background-image:
			url("/content/dam/suntrust/us/en/elements/2017/graphic-elements/graphic-bubble-orange-step-2-220x220.png");
		background-repeat: no-repeat;
		height: 71px;
		background-size: contain;
	}
	.suntrust-steps-orange ul li:nth-child(3) .suntrust-feature-image-container
		{
		background-image:
			url("/content/dam/suntrust/us/en/elements/2017/graphic-elements/graphic-bubble-orange-step-3-220x220.png");
		background-repeat: no-repeat;
		height: 71px;
		background-size: contain;
	}
	.suntrust-steps-orange ul li:nth-child(4) .suntrust-feature-image-container
		{
		background-image:
			url("/content/dam/suntrust/us/en/elements/2017/graphic-elements/graphic-bubble-orange-step-4-220x220.png");
		background-repeat: no-repeat;
		height: 71px;
		background-size: contain;
	}
	.suntrust-steps-orange ul li:nth-child(5) .suntrust-feature-image-container
		{
		background-image:
			url("/content/dam/suntrust/us/en/elements/2017/graphic-elements/graphic-bubble-orange-step-5-220x220.png");
		background-repeat: no-repeat;
		height: 71px;
		background-size: contain;
	}
	.suntrust-steps-orange ul li:nth-child(6) .suntrust-feature-image-container
		{
		background-image:
			url("/content/dam/suntrust/us/en/elements/2017/graphic-elements/graphic-bubble-orange-step-6-220x220.png");
		background-repeat: no-repeat;
		height: 71px;
		background-size: contain;
	}
	/********/
	.suntrust-steps-blue ul li:nth-child(1) .suntrust-feature-image-container
		{
		background-image: url("/content/dam/suntrust/us/en/elements/2017/graphic-elements/loans-step-bar-blue-01.png");
		background-repeat: no-repeat;
		height: 37px;
		background-size: contain;
	}
	.suntrust-steps-blue ul li:nth-child(2) .suntrust-feature-image-container
		{
		background-image: url("/content/dam/suntrust/us/en/elements/2017/graphic-elements/loans-step-bar-blue-02.png");
		background-repeat: no-repeat;
		height: 37px;
		background-size: contain;
	}
	.suntrust-steps-blue ul li:nth-child(3) .suntrust-feature-image-container
		{
		background-image: url("/content/dam/suntrust/us/en/elements/2017/graphic-elements/loans-step-bar-blue-03.png");
		background-repeat: no-repeat;
		height: 37px;
		background-size: contain;
	}
	.suntrust-steps-blue ul li:nth-child(4) .suntrust-feature-image-container
		{
		background-image: url("/content/dam/suntrust/us/en/elements/2017/graphic-elements/loans-step-bar-blue-04.png");
		background-repeat: no-repeat;
		height: 37px;
		background-size: contain;
	}
	.suntrust-steps-blue ul li:nth-child(5) .suntrust-feature-image-container
		{
		background-image: url("/content/dam/suntrust/us/en/elements/2017/graphic-elements/loans-step-bar-blue-05.png");
		background-repeat: no-repeat;
		height: 37px;
		background-size: contain;
	}
	.suntrust-steps-blue ul li:nth-child(6) .suntrust-feature-image-container
		{
		background-image: url("/content/dam/suntrust/us/en/elements/2017/graphic-elements/loans-step-bar-blue-06.png");
		background-repeat: no-repeat;
		height: 37px;
		background-size: contain;
	}
	/***********/
}

@media only screen and (min-width : 1024px) and (max-width: 1366px) and
	(orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
	/* css for orange image */
	.suntrust-stepsContainer .suntrust-steps-orange ul>li {
		float: left;
	}
	/* css for orange image */
	/* css for blue image */
	.suntrust-stepsContainer .suntrust-steps-blue ul>li {
		float: left;
	}
	/* css for blue image */
}

@media screen and (max-width: 740px) {
	.suntrust-stepsContainer .suntrust-steps-orange .col-lg-12.col-xs-12.col-sm-8
		{
		margin-bottom: 1px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.suntrust-stepsContainer .suntrust-steps-blue .col-lg-8.col-xs-12.col-sm-8
		{
		margin-bottom: 1px;
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media screen and (max-width: 940px) {
	.suntrust-stepsContainer .suntrust-steps-orange .col-lg-12.col-xs-12.col-sm-8
		{
		margin-bottom: 1px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.suntrust-stepsContainer .suntrust-steps-blue .col-lg-8.col-xs-12.col-sm-8
		{
		margin-bottom: 1px;
		padding-left: 15px;
		padding-right: 15px;
	}
}
/* Media queries for steps css starts */