.toignoremergcharacter{

}
.suntrust-header-icon-button.suntrust-menu-icon-button:before {
    font-family: "sun-icons-UXd1Fq6";
    display: inline-block;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    content: "";
    position: relative;
    left: auto;
}
.suntrust-banking-nav-search:before, .suntrust-header-search:before {
    font-family: "sun-icons-UXd1Fq6";
    display: inline-block;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    content: "";
    position: absolute;
    color: #0d365a;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 18px;
}
.suntrust-user-icon:before {
    font-family: "sun-icons-UXd1Fq6";
    display: inline-block;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    content: "";
    position: relative;
    top: 8px;
    color: #0d365a;
    font-size: 18px;
}
.sun-header-search-cancel-button::before {
    font-family: sun-icons-UXd1Fq6;
    display: inline-block;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    content: "";
    color: rgb(170, 170, 170);
    font-size: 17px;
    line-height: 21px;
}
/* Other Icons */
.suntrust-mobile-hero-signon-container .suntrust-mobile-hero-divlinks-chevron::after {
	text-align: left;
	content: "";
	font-size: 25px;
	font-family: "sun-icons-UXd1Fq6";
	font-weight: bold;
	color: #fff;
	position: relative;
}
.suntrust-login-form-hero-signon .sun-checkbox-input-container>span.sun-checked:after {
	font-family: "sun-icons-UXd1Fq6";
	display: inline-block;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	content: "";
	color: #0d365a;
	font-size: 16px;
	line-height: 16px;
}
.suntrust-carousel .sun-product-carousel .bx-next:before {
	font-family: "sun-icons-UXd1Fq6";
	content: "";
	display: inline-block;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;	
}
.suntrust-carousel .sun-product-carousel .bx-prev:before {
	font-family: "sun-icons-UXd1Fq6";
	content: "";
	display: inline-block;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;	
}
.suntrust-article::before {
    font-family: sun-icons-UXd1Fq6;
	content: "";
    display: inline-block;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;    
}
.suntrust-video::before{ 
  font-family: "sun-icons-UXd1Fq6"; 
  display: inline-block; 
  font-weight: normal; 
  font-style: normal; 
  text-decoration: inherit; 
  content: "\e047"; 
}
.suntrust-component-dynamicthumbnaillist .suntrust-thumbnail-img-container.suntrust-video::before {
	font-family: sun-icons-UXd1Fq6;
	content: "";
	display: inline-block;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
}
.suntrust-calculator:before { 
  font-family: "sun-icons-UXd1Fq6"; 
  display: inline-block; 
  font-weight: normal; 
  font-style: normal; 
  text-decoration: inherit; 
  content: "\e009"; 
}
.suntrust-podcast:before {
  font-family: "sun-icons-UXd1Fq6";
  display: inline-block;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  content: "\e031";
}
.suntrust-mobile-hero-signon-container .suntrust-mobile-hero-divlinks-chevron::after {
	text-align: left;
	content: "";
	font-size: 25px;
	font-family: "sun-icons-UXd1Fq6";
	font-weight: bold;
	color: #fff;
	position: relative
}
.suntrust-login-form-hero-signon .sun-checkbox-input-container>span.sun-checked:after {
	color: #0d365a;
	font-family: "sun-icons-UXd1Fq6";
	content: "";
	display: inline-block;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	font-size: 16px;
	line-height: 16px;
}

.suntrust-menu-close:before {
    font-family: sun-icons-UXd1Fq6;
    display: inline-block;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    content: "";
}

.suntrust-user-menu .sun-checkbox-input-container>span.sun-checked:after {
   	 color: #0d365a;
   	 font-family: "sun-icons-UXd1Fq6";
   	 display: inline-block;
   	 font-weight: normal;
   	 font-style: normal;
   	 text-decoration: inherit;
   	 content: "";
   	 font-size: 16px;
   	 line-height: 16px;
}

.suntrust-login-form .suntrust-login-form-field .suntrust-login-button:before {
    	 font-family: "sun-icons-UXd1Fq6";
    	 display: inline-block;
    	 font-weight: normal;
    	 font-style: normal;
    	 text-decoration: inherit;
    	 content: "";
    	 color: #fff;
    	 font-size: 25px;
    	 position: relative;
    	 line-height: 39px;
	}
	
.suntrust-services-list > li .suntrust-main-links::after {
    	 font-family: sun-icons-UXd1Fq6;
    	 display: inline-block;
    	 font-weight: normal;
    	 font-style: normal;
    	 text-decoration: inherit;
    	 content: "";
    	 left: 30px;
	}
	
.suntrust-submenu.suntrust-rtl .suntrust-menu-title-back .suntrust-icon-back::before {
    	 font-family: sun-icons-UXd1Fq6;
    	 display: inline-block;
    	 font-weight: normal;
    	 font-style: normal;
    	 text-decoration: inherit;
    	 content: "";
    	 font-size: 20px;
    	 color: rgb(255, 255, 255);
	}
	.suntrust-colorBlock .suntrust-promo-link-text::after {
    font-family: sun-icons-UXd1Fq6;
    display: inline-block;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
	content: "";
    margin-left: 10px;
    font-size: 20px;
    position: relative;
    top: 3px;
	text-decoration: none;
	}
.suntrust-modal-close:before {
    font-family: sun-icons-UXd1Fq6;
    display: inline-block;
    font-weight: bold;
    font-style: normal;
    text-decoration: inherit;
    content: "";
}
.suntrust-notification-message .suntrust-close-message::after {
    font-family: sun-icons-UXd1Fq6;
    display: inline-block;
    font-weight: normal;
    font-style: normal;
    content: "";
    font-size: 20px;
    line-height: 20px;
    margin-left: 10px;
    text-decoration: inherit;
}
.sun-product-carousel-prev-arrow::before {
    font-family: sun-icons-UXd1Fq6;
    display: inline-block;
    font-weight: normal;
    font-style: normal;
    content: "";
    font-size: 40px;
    line-height: 62px;
    opacity: 0.8;
    text-decoration: inherit;
}
.sun-product-carousel-next-arrow::before {
    font-family: sun-icons-UXd1Fq6;
    display: inline-block;
    font-weight: normal;
    font-style: normal;
    content: "";
	font-size: 40px;
    line-height: 62px;
    opacity: 0.8;
    text-decoration: inherit;
}
.location_map_input .suntrust-get-directions-route-switch:before {
	font-family: sun-icons-UXd1Fq6;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    content: "";
    font-size: 20px;
    color: rgb(204, 204, 204);
    display: inline-block;
}
/*Decision Tree Component*/
@media (max-width: 600px) 
{
    .suntrust-carousel-cta-list .suntrust-carousel-cta-arrow::after 
	{
        font-family: sun-icons-UXd1Fq6;
        display: inline-block;
        font-weight: normal;
        font-style: normal;
        content: "";
        font-size: 24px;
        line-height: 24px;
        position: absolute;
        right: 0px;
        top: 50%;
        margin-top: -12px;
        text-decoration: inherit;
    }
}