
/*Waive Component CSS start*/
.suntrust-waive-component-vertical {
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
	margin: 30px 0;
    -webkit-flex-wrap: wrap;
  	flex-wrap: wrap;
}
.sun-bodytext-conjunction_item .sun-bodytext-conjunction_operator {
	position: absolute;
    top: 50%;
    right: -25px;
    margin-top: -15px;
    width: 50px;
    text-align: center;
    text-transform: uppercase;
    background-color: #fff;
    padding: 5px 0;
    font-weight: bold;
    font-style: italic;
    color: #333;
}
.sun-bodytext-conjunction_item {
	color: #666666;
    margin-bottom: 10px;
    padding: 5px 0;
    display: inline-block;
    padding: 0 40px;
    border-right: 1px solid #e5e5e5;
    text-align: center;
    position: relative;
	width: 32%;
	/*flex: 1;
    -webkit-flex: 1;
    -webkit-box-flex: 1;
    -ms-flex: 1;
     flex-grow: 1;*/
}
.sun-bodytext-conjunction_item.last {
    border: none;
}
.sun-bodytext-conjunction_item.last .sun-bodytext-conjunction_operator{
	display: none;
}
ul.sun-bodytext-conjunction_item_content {
    list-style: none;
    padding: 30px 10px;
    margin: 0;
}

.sun-bodytext-conjunction_item .bold_text {
    color: #333;
    display: block;
    font-size: 50px;
    line-height: 1;
    margin: 10px 0;
	font-weight: bold;
}
.sun-bodytext-conjunction_item .top_text {
	padding: 0 10px;
}

.sun-bodytext-conjunction_item .bold_text sup {
    font-size: 25px;
    vertical-align: top;
    position: relative;
    top: 15px;
	padding-right: 2px;
}

.sun-bodytext-conjunction_item .bold_text sub {
	font-size: 25px;
	padding-right: 2px;
} 
.sun-bodytext-conjunction_item_horizontal {
    padding: 30px 0;
    display: block;
    border-right: none;
    border-bottom: 1px solid #e5e5e5;
    max-width: 400px;
    margin: 0 auto;
	width: 100%;
}

.sun-bodytext-conjunction_item_horizontal .sun-bodytext-conjunction_operator {
    top: auto;
    bottom: -15px;
    left: 50%;
    right: auto;
    padding: 5px 10px;
    margin-left: -25px;
}
.suntrust-waive-component-horizontal {
	display: block;
}
.suntrust-waive-component-horizontal ul.sun-bodytext-conjunction_item_content, .suntrust-waive-component-horizontal .sun-bodytext-conjunction_item .top_text{
	padding: 0;
}
.suntrust-waive-component-horizontal .sun-bodytext-conjunction_item .bold_text {
	margin: 10px 0;
}
@media (max-width: 1024px){
	.suntrust-waive-component-vertical .sun-bodytext-conjunction_item {
		padding: 0 10px;
	}
	.suntrust-waive-component-vertical ul.sun-bodytext-conjunction_item_content {
		padding: 10px;
	}
	.sun-bodytext-conjunction_item .bold_text {
		font-size: 30px;
	}
}

@media (max-width: 600px) {
	.suntrust-waive-component-vertical {
		display: block;
	}
	.suntrust-waive-component-vertical .sun-bodytext-conjunction_item {
		padding: 20px 0;
		display: block;
		border-right: none;
		border-bottom: 1px solid #e5e5e5;
		width: 100%;
	}
	.suntrust-waive-component-vertical .sun-bodytext-conjunction_item .sun-bodytext-conjunction_operator {
		top: auto;
		bottom: -15px;
		left: 50%;
		right: auto;
		padding: 5px 10px;
		margin-left: -25px;
	}
}
/*Waive Component CSS End*/
