@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../../main/fonts/glyphicons-halflings-regular.eot');
  src: url('../../main/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  		url('../../main/fonts/glyphicons-halflings-regular.woff2') format('woff2'), 
        url('../../main/fonts/glyphicons-halflings-regular.woff') format('woff'), 
        url('../../main/fonts/glyphicons-halflings-regular.ttf') format('truetype'), 
        url('../../main/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.form-group label{
	padding-top:8px;
}
.workFlowDataForm_Label span{
    color: #c00;
    font-weight: 700;
}
input.workFlowDataForm_submit {
    padding: 10px;
    font-size: 16px;
}
input.error{
    border: 1px solid #c00;
}
.workFlowData_Form label.error {
    color: #c00;
}
.dcm-highlight-orange {
    color: #c94c06;
}
.workFlowData_errorMessage{
	display:none;
	color: #c00;
    margin: 0 0 20px 0;
}