<div data-sly-use.AndOrbeanObj="com.suntrust.dotcom.components.AndOrComponent" data-sly-unwrap>
	<div data-sly-test="${!AndOrbeanObj.mBean && (wcmmode.edit || wcmmode.design)}">Configure ADD/OR Waive Fees Dialog</div>
</div>

<div class="${properties.alignment == 'horizontal' ? 'suntrust-waive-component-horizontal' : 'suntrust-waive-component-vertical'}">
	<sly data-sly-test="${AndOrbeanObj.mBean && properties.iItems}">
		<sly data-sly-list.items="${AndOrbeanObj.mBean}">
            <sly data-sly-list.itemsList="${items.items}">
                <div data-sly-test="${!itemsListList.last}" data-sly-unwrap>
                <div class="${properties.alignment == 'horizontal' ? 'sun-bodytext-conjunction_item sun-bodytext-conjunction_item_horizontal' : 'sun-bodytext-conjunction_item'}">
                    <ul class="sun-bodytext-conjunction_item_content">
                        <li class="top_text">${itemsList.andOrHeading @ context='html'}</li>
                        <li class="bold_text">${itemsList.andOrRequirement @ context='html'}</li>
                        <li>${itemsList.andOrSubheading @ context='html'}</li>
                         <div data-sly-test="${itemsList.andOrChoice!='NONE'}">
                        <li class="sun-bodytext-conjunction_operator">${itemsList.andOrChoice}</li>
                        </div>
                    </ul>
				</div>
                </div>
                 <div data-sly-test="${itemsListList.last}" data-sly-unwrap>
                <div class="${properties.alignment == 'horizontal' ? 'sun-bodytext-conjunction_item sun-bodytext-conjunction_item_horizontal last' : 'sun-bodytext-conjunction_item last'}">
                    <ul class="sun-bodytext-conjunction_item_content">
                        <li class="top_text">${itemsList.andOrHeading @ context='html'}</li>
                        <li class="bold_text">${itemsList.andOrRequirement @ context='html'}</li>
                        <li>${itemsList.andOrSubheading @ context='html'}</li>
                         <div data-sly-test="${itemsList.andOrChoice!='NONE'}">
                        <li class="sun-bodytext-conjunction_operator">${itemsList.andOrChoice}</li>
                        </div>
                    </ul>
				</div>
                </div>

            </sly>
	    </sly>
	</sly>
</div>
