<div data-sly-test="${!properties.headline && (wcmmode.edit || wcmmode.design)}">Configure Promo Tile Component</div>
<div data-sly-unwrap data-sly-use.fetchimage="${'com.suntrust.dotcom.utils.GenericUtil' @linkURL=properties.promourl,urlParams=properties.imageurlParams}"></div>
<div data-sly-unwrap data-sly-use.fetchheadline="${'com.suntrust.dotcom.utils.GenericUtil' @linkURL=properties.url,urlParams=properties.urlParams}"></div>
<div data-sly-unwrap data-sly-use.fetchlink="${'com.suntrust.dotcom.utils.GenericUtil' @linkURL=properties.linkurl,urlParams=properties.linkurlParams}"></div>

<div data-sly-test="${!properties.promoimage && properties.topbordercolor}" data-sly-unwrap>
    <div class="row suntrust-grid-row suntrust-imagetextcta-panelFlex suntrust-promoTop">
        <div class="col-lg-12 col-xs-12 col-sm-12 suntrust-rowFlex">
            <div class="">
                <div class="suntrust-imagetextctapromo-container">
                    <div class="clearfix">
                        <p class="${properties.topbordercolor}"></p>
                    </div>
                    <div class="suntrust-promoImageinner">
                        <div class="suntrust-user-path-container">
                            <div class="suntrust-feature-header">
                                <a href="${fetchheadline.modifyURL}" target="${properties.target}">${properties.title @context='html'}</a>
                            </div>
							<div data-sly-test="${properties.text}" data-sly-unwrap>
								<div class="suntrust-promo-description">${properties.text @ context='html'}</div>
							</div>
                            <div class="suntrust-text-align-right suntrust-promo-link">
                                <div data-sly-test="${properties.linktarget == '_smallmodal' || properties.linktarget == '_mediummodal' || properties.linktarget == '_largemodal'}">
                                    <a tabindex="0" data-modal="${properties.linktarget}" data-anchor="${fetchlink.modifyURL}" data-suntrust-class="suntrust-content-modalWindow" class="suntrust-promo-link-text" title="${properties.anchortitle}" target="${properties.linktarget}">${properties.linktitle @context='html'}<span class="suntrust-accessible-text">&nbsp;Link opens a modal window</span></a>
                                </div>
                                <div data-sly-test="${properties.linktarget == '_self' || properties.linktarget == '_blank'}">
                                    <a href="${fetchlink.modifyURL}" class="suntrust-promo-link-text" title="${properties.anchortitle}" target="${properties.linktarget}">${properties.linktitle @context='html'}</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-sly-test="${properties.promoimage}" data-sly-unwrap>
    <div class="row suntrust-grid-row suntrust-imagetextcta-panelFlex suntrust-promoTopImage">
        <div class="col-lg-12 col-xs-12 col-sm-12 suntrust-rowFlex">
            <div class="">
                <div class="suntrust-imagetextctapromo-container">
                    <div class="clearfix">
                        <p class="${properties.topbordercolor}"></p>
                    </div>
                    <div class="suntrust-promoImageinner">
                        <div class="">
                            <a href="${fetchimage.modifyURL}" target="${properties.imagetarget}">
                                <img class="suntrust-newpromo-image" src="${properties.promoimage}" alt="${properties.alttext}">
                            </a>
                        </div>
                        <div class="suntrust-user-path-container">
                            <div class="suntrust-feature-header">
                                <a href="${fetchheadline.modifyURL}" target="${properties.target}">${properties.title @context='html'}</a>
                            </div>
                            <div class="suntrust-promo-description">${properties.text @ context='html'}</div>
                            <div class="suntrust-text-align-right suntrust-promo-link suntrust-text-align-left">
                                <div data-sly-test="${properties.linktarget == '_smallmodal' || properties.linktarget == '_mediummodal' || properties.linktarget == '_largemodal'}">
                                    <a tabindex="0" data-modal="${properties.linktarget}" data-anchor="${fetchlink.modifyURL}" data-suntrust-class="suntrust-content-modalWindow" class="suntrust-promo-link-text" title="${properties.anchortitle}" target="${properties.linktarget}">${properties.linktitle @context='html'}<span class="suntrust-accessible-text">&nbsp;Link opens a modal window</span></a>
                                </div>
                                <div data-sly-test="${properties.linktarget == '_self' || properties.linktarget == '_blank'}">
                                    <a href="${fetchlink.modifyURL}" class="suntrust-promo-link-text" title="${properties.anchortitle}" target="${properties.linktarget}">${properties.linktitle @context='html'}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>