<div data-sly-use.mbeanObj="${'com.suntrust.dotcom.components.VideoComponent' @videoFileRefName=properties.videoFileRefName, currentnode=currentNode}" data-sly-unwrap>
	<div data-sly-test="${ (wcmmode.edit || wcmmode.design) && !properties.text}">Configure Video Component</div>
</div>

<div class="suntrust-video-player-container">
	<sly data-sly-test="${'false' == properties.hidetitle}">
		<h2 class="analytics-placeholder" style="display:block;">${properties.title @context='html'}</h2>
	</sly>
	<sly data-sly-test="${'true' == properties.hidetitle}">
		<h2 class="analytics-placeholder" style="display:none;">${properties.title @context='html'}</h2>
	</sly>
	<div class="suntrust-video-player-wrapper">
		<!-- video player goes here -->
		<sly data-sly-test="${pageProperties.itempropenable == 'true'}">
			<div class="suntrust-video-player" itemprop="video">
				<div data-sly-resource="${'videoContainer' @ resourceType='/apps/dotcom/components/content/dynamicvideo'}">click here to insert video</div>
			</div>
		</sly>
		<sly data-sly-test="${!pageProperties.itempropenable || pageProperties.itempropenable == 'false'}">
			<div class="suntrust-video-player">
				<div data-sly-resource="${'videoContainer' @ resourceType='/apps/dotcom/components/content/dynamicvideo'}">click here to insert video</div>
			</div>
		</sly>
		<!-- video transcript+Decsription Start-->
		<div data-sly-test.transcriptLabelText="${properties.readTranscriptButtonLabel}" data-sly-unwrap>
			<div class="suntrust-video-transcript" id="showTranscript">
				<div class="suntrust-video-transcript-accordion" data-suntrust-class="suntrust-video-accordion" tabindex="0">${properties.readTranscriptButtonLabel @context='html'}</div>
			</div>

			<div class="suntrust-video-transcript" id="hideTranscript" style="display: none;">
				<div class="suntrust-video-transcript-accordion" data-suntrust-class="suntrust-video-accordion" tabindex="0">${properties.hideTranscriptButtonLabel @context='html'}</div>
				<div class="suntrust-video-accordion-section">
					<div class="suntrust-video-transcript-start"></div>
					${properties.transcript @context='html'}
					<div class="suntrust-video-transcript-End"></div>
				</div>
			</div>
		</div>

		<sly data-sly-test="${'false' == properties.descriptioncheckbox}">
			<div class="suntrust-video-detail-section">
			<!-- <h2 class="Header">${properties.description @context='html'}</h2> -->
				<p>${properties.description @context='html'}</p>
			</div>
		</sly>

		<!-- video Disclaimer Start-->
		<sly data-sly-test="${'false' == properties.disclaimercheckbox}">
			<div class="suntrust-disclaimer-wrapper">
				<h3 class="suntrust-accessible-text">Disclaimers</h3>
				<div class="suntrust-disclaimer-border">
					<p>${properties.disclaimer @context='html'}</p>
				</div>
				<!-- video Disclaimer End-->
			</div>
		</sly>
	</div>
</div>