<section class="suntrust-dynamicStaticListContainer">
	<div class="container-fluid">
	<div class="row">
		<div class="col-lg-8 col-sm-8 col-xs-12 suntrust-leftPanel">
			<div class="suntrust-dynamicList"> 
            	<div data-sly-test="${(wcmmode.edit || wcmmode.design)}">Configure Dynamic List Component</div>
                <sly data-sly-resource="${@path='dynamic_list_par', resourceType='wcm/foundation/components/responsivegrid'}" />
            </div>
		</div>
		<div class="col-xs-12 col-sm-4 col-lg-4 suntrust-rightPanel">
			<div class="suntrust-staticList"> 
            	<div data-sly-test="${(wcmmode.edit || wcmmode.design)}">Configure Static List Component</div>
                <sly data-sly-resource="${@path='static_list_par', resourceType='wcm/foundation/components/responsivegrid'}" />
            </div>
			<div class="suntrust-contactUs"> 
				<div data-sly-test="${(wcmmode.edit || wcmmode.design)}">Configure Contact Us Component</div>
                <sly data-sly-resource="${@path='contact_us_par', resourceType='wcm/foundation/components/responsivegrid'}" />
            </div>
		</div>
	</div>
	</div>
</section>
