# Configuration created by Apache Sling JCR Installer
resource.resolver.vanitypath.blacklist=["/content/usergenerated"]
resource.resolver.mapping=["/-/","/content/suntrust/dotcom/us/en.html$</","/content/suntrust/dotcom/us/en/(.*)\\.html$</$1","/content/suntrust/dotcom/us/en/resource-center/(.*)/wrapper.html/content/suntrust/dotcom/us/en/resource-center/resource-center-content-types/(.*)/(.*)\\.html$</resource-center/$1/$2/$3","/content/suntrust/dotcom/us/en/profile/(.*)\\.html$</profile/$1","/content/suntrust/dotcom/us/en/locations/branch.html$</branch","/content/suntrust/dotcom/us/en/locations/branch/(.*)\\.html$</branch/$1","/content/suntrust/dotcom/us/en/locations/atm.html$</atm","/content/suntrust/dotcom/us/en/locations/atm/(.*)\\.html$</atm/$1","/content/suntrust/dotcom/us/en/$1.html/j_security_check>(.*)/j_security_check$","/content/suntrust/dotcom/us/en/(.*)\.html/j_security_check$</$1/j_security_check","/content/suntrust/dotcom/us/en/lp/$1.html>/lp/(.*)","/content/suntrust/dotcom/us/configuration/rpx/_jcr_content.json$</configuration/rpx/_jcr_content.json"]
resource.resolver.vanitypath.whitelist=["/apps/","/libs/","/content/"]
resource.resolver.searchpath=["/apps","/libs"]
resource.resolver.log.unclosed=B"false"
