<div data-sly-use.genericUtil="${'com.suntrust.dotcom.utils.GenericUtil'  @linkURL=properties.linkURL,urlParams=properties.urlParams,anchorTag=properties.anchorTag}" data-sly-unwrap></div>
<div data-sly-test="${(wcmmode.edit || wcmmode.design)}" >Configure Chat Now Component</div>
<!--New tab starts now-->
	<div class="tmpcontent suntrust-contactUs clearfix" style="min-height:25px;">    
	<sly data-sly-test="${properties.icon || properties.linkText}">
	<div class="suntrust-supportCall">
		<sly data-sly-test="${genericUtil.modifyURL != ''}"> 
			<sly data-sly-test="${properties.icon}">
				<div class="contactUsLstIconSec">								
					<a class="suntrust-supportNumber analytics-placeholder" href="${genericUtil.modifyURL}" target="${properties.target}" title="${properties.titleTag}">
						<sly data-sly-test="${properties.icon}"><img src="${properties.icon}" alt="${properties.iconAltText}" aria-label="${properties.iconAltText}"/></sly>
					</a>
				</div>
			</sly>
			<sly data-sly-test="${properties.linkText}">
			<div class="contactUsLstcontSec">                                                                                                                          
				<a class="suntrust-supportNumber analytics-placeholder lo-data-persist-enabled" href="${genericUtil.modifyURL}" target="${properties.target}" title="${properties.titleTag}" data-sly-test="${properties.loDataPersistcontactusCheckbox}">${properties.linkText @ context='html'}</a>                                                                                                                                      
				<a class="suntrust-supportNumber analytics-placeholder" href="${genericUtil.modifyURL}" target="${properties.target}" title="${properties.titleTag}" data-sly-test="${!properties.loDataPersistcontactusCheckbox}">${properties.linkText @ context='html'}</a>                  
			</div>
			</sly>
		</sly>  
		 <sly data-sly-test="${genericUtil.modifyURL == ''}"> 
			<sly data-sly-test="${properties.icon}">
				 <div class="contactUsLstIconSec">
					<img src="${properties.icon}" alt="${properties.iconAltText}" aria-label="${properties.iconAltText}"/>
				 </div>
			</sly>
			<sly data-sly-test="${properties.linkText}">
			<div class="contactUsLstcontSec">                                                                                        
				<span class="suntrust-supportNumber lo-data-persist-enabled" data-sly-test="${properties.loDataPersistcontactusCheckbox}">${properties.linkText @ context='html'}</span>
				<span class="suntrust-supportNumber" data-sly-test="${!properties.loDataPersistcontactusCheckbox}">${properties.linkText @ context='html'}</span>                  
			</div>
			</sly>
		</sly>                                               
	 </div> 
	 </sly> 
	<div id="lo-persist-contactus-liveengage" style="display: none;">${properties.liveengagecontactus}</div>
	<div id="lo-persist-contactus" style="display: none;">${properties.enablechatCheckbox}</div>              
	<sly data-sly-test="${properties.liveengagecontactus != 'None' && !wcmmode.edit && !wcmmode.design}">
		<ul class="chatnow-listStyle"><li class="sun-contact-options-list-item sun-contact-options-list-chat-support-li suntrust-supportChat" id="${properties.liveengagecontactus}">
		</li></ul>
	</sly>  
	</div>