# Configuration created by Apache Sling JCR Installer
sling.servlet.resourceTypes=["/apps/dotcom/components/page/baseTemplate","/apps/dotcom/components/page/page","/apps/dotcom/components/page/resourcecentertemplate"]
character.encoding="UTF-8"
include.lastmod=B"true"
changefreq.properties=[""]
include.inherit=B"true"
damassets.property="damfolder"
damassets.types=["jpg"]
priority.properties=["priority"]
exclude.property="externalsearch"
externalizer.domain="publish"
