<sly data-sly-use.StbeanObj="com.suntrust.dotcom.components.RelatedLinksComponent">
	<sly data-sly-test="${!StbeanObj.mBean && (wcmmode.edit || wcmmode.design)}">Configure Related Links Component</sly>
	<sly data-sly-test="${StbeanObj.mBean}" data-sly-list.items="${StbeanObj.mBean}">
		<div class="people_related_links">
			<h5><strong>${'relatedlinks.title' @ i18n}</strong></h5>
			<div class="people_related_links_topic" data-sly-list.itemsList="${items.items}">
				<div class="people_related_links_div">
					<a href="${itemsList.linkURL}" target="${itemsList.target}" title="${itemsList.title}" class="lo-data-persist" data-lo-phone="${pageProperties.adv_phone}" data-lo-id="${pageProperties.adv_appstring}">${itemsList.title @ context='html'}
					</a>
				</div>
			</div>
		</div>
	</sly>
</sly>
</sly>