<div data-sly-use.mbeanObj="com.suntrust.dotcom.components.ContactUsComponent" data-sly-unwrap>
	<div data-sly-test="${(!properties.heading && !properties.iItems && !properties.aItems && !properties.multiheading && !properties.wireheading) && (wcmmode.edit || wcmmode.design)}" >Configure ContactUs Component</div>
</div>

<div class="${properties.invocaFlagCheckbox ? 'suntrust-invoca-hide' : ''}">

<!-- tab 1 starts-->
<div data-sly-test="${properties.heading || properties.iItems || properties.disclaimer}" data-sly-unwrap>
<div class="tmpcontent suntrust-contactUs clearfix">	
	<sly data-sly-test="${properties.heading}">
	  		<p class="suntrust-ContactHeadTxt">
				<sly data-sly-test="${properties.fileReference}">
	      			<img src="${properties.fileReference}" alt="${properties.alttext}" title="${properties.alttext}" aria-label="${properties.alttext}"/>
	            </sly>
	      	 <span>${properties.heading @ context='html'}</span>
	    	</p>
	</sly>
	<div data-sly-test="${mbeanObj.mBean && properties.iItems}" data-sly-unwrap>
			<div data-sly-list.items="${mbeanObj.mBean}" data-sly-unwrap>
				<div data-sly-test="${itemsList.index == 0}" data-sly-list.itemsList="${items.items}" data-sly-unwrap>
	            		<div class="suntrust-supportCall">
	            			<sly data-sly-test="${itemsList.linkURL}">
								<div class="contactUsLstIconSec">								
                                	<a class="suntrust-supportNumber analytics-placeholder" href="${itemsList.linkURL}" target="${itemsList.target}" title="${itemsList.titleTag}">
										<sly data-sly-test="${itemsList.icon}"><img src="${itemsList.icon}" alt="${itemsList.iconAltText}" aria-label="${itemsList.iconAltText}"/></sly>
                                    </a>
                                </div>								 
								<div class="contactUsLstcontSec">								
									<!-- Start US19707 -->
									<!-- <a class="suntrust-supportNumber analytics-placeholder" href="${itemsList.linkURL}" target="${itemsList.target}" title="${itemsList.titleTag}">${itemsList.phoneNumber @ context='html'}</a> -->																										
										<a class="suntrust-supportNumber analytics-placeholder lo-data-persist-enabled" href="${itemsList.linkURL}" target="${itemsList.target}" title="${itemsList.titleTag}" data-sly-test="${itemsList.loDataPersistCheckbox}">${itemsList.phoneNumber @ context='html'}</a>									
										<a class="suntrust-supportNumber analytics-placeholder" href="${itemsList.linkURL}" target="${itemsList.target}" title="${itemsList.titleTag}" data-sly-test="${!itemsList.loDataPersistCheckbox}">${itemsList.phoneNumber @ context='html'}</a>																				
                                    <!-- End US19707 -->
                                    
                                    <sly data-sly-test="${itemsList.miniDesc}">
										<span class="suntrust-option"> ${itemsList.miniDesc @ context='html'}</span>
									</sly>
                                    <sly data-sly-test="${itemsList.subDesc}">
										<span class="suntrust-supportService">${itemsList.subDesc @ context='html'}</span>
                                    </sly>
								</div>
							 </sly>
							 <sly data-sly-test="${!itemsList.linkURL}">
								<sly data-sly-test="${itemsList.icon}">
									<div class="contactUsLstIconSec">
	                                    <img src="${itemsList.icon}" alt="${itemsList.iconAltText}" aria-label="${itemsList.iconAltText}"/>
	                                 </div>
                                 </sly>
								<div class="contactUsLstcontSec">
									<!-- Start US19707 -->
									<!-- <span class="suntrust-supportNumber">${itemsList.phoneNumber @ context='html'}</span> -->														
											<span class="suntrust-supportNumber lo-data-persist-enabled" data-sly-test="${itemsList.loDataPersistCheckbox}">${itemsList.phoneNumber @ context='html'} ${itemsList.loanOfficerContactUs}</span>
											<span class="suntrust-supportNumber" data-sly-test="${!itemsList.loDataPersistCheckbox}">${itemsList.phoneNumber @ context='html'}</span>
									<!-- End US19707 -->
                                    <sly data-sly-test="${itemsList.miniDesc}">
										<span class="suntrust-option"> ${itemsList.miniDesc @ context='html'}</span>
									</sly>
                                    <sly data-sly-test="${itemsList.subDesc}">
										<span class="suntrust-supportService">${itemsList.subDesc @ context='html'}</span>
                                    </sly>
								</div>
							 </sly>							 							 														 
					    </div>
	            </div>
	        </div>
	 </div>		 
	 <div id="lo-persist-contactus-liveengage" style="display: none;">${properties.liveengagecontactus}</div>
	 <div id="lo-persist-contactus" style="display: none;">${properties.loDataPersistcontactusCheckbox}</div>
<!-- Added new code for live engage && LO Persistance check for iItems starts-->	
	 <sly data-sly-test="${properties.liveengagecontactus != 'None' && !wcmmode.edit && !wcmmode.design}">
		<ul class="chatnow-listStyle"><li class="sun-contact-options-list-item sun-contact-options-list-chat-support-li suntrust-supportChat" id="${properties.liveengagecontactus}"> 			
		</li></ul>	
	 </sly>			
<!-- Added new code for live engage && LO Persistance check for iItems ends-->	 	 
	 <sly data-sly-test="${properties.disclaimer}">
		<div class="suntrust-supportcallPara">
			<p class="">${properties.disclaimer @ context='html'}</p>
		</div>
	</sly>
</div>
</div>

<!-- tab 2 starts-->
<div data-sly-test="${properties.headingsup || properties.aItems || properties.disclaimersup}" data-sly-unwrap>
<div class="tmpcontent suntrust-contactUs clearfix">
<sly data-sly-test="${properties.headingsup}">
  		<p class="suntrust-ContactHeadTxt">
			<sly data-sly-test="${properties.supfileReference}">
      			<img src="${properties.supfileReference}" alt="${properties.supportalttext}" title="${properties.supportalttext}" aria-label="${properties.supportalttext}"/>
            </sly>
      	 <span>${properties.headingsup @ context='html'}</span>
    	</p>
</sly>
<div data-sly-test="${mbeanObj.mBean && properties.aItems}" data-sly-unwrap>
	<div data-sly-list.items="${mbeanObj.mBean}" data-sly-unwrap>
		<div data-sly-test="${itemsList.index == 1}" data-sly-list.itemsList="${items.items}" data-sly-unwrap>
            		<div class="suntrust-supportCall">
            			<sly data-sly-test="${itemsList.linkURL}">
							<div class="contactUsLstIconSec">
                               	<a class="suntrust-supportNumber analytics-placeholder" href="${itemsList.linkURL}" target="${itemsList.target}" title="${itemsList.titleTag}">
									<sly data-sly-test="${itemsList.icon}"><img src="${itemsList.icon}" alt="${itemsList.iconAltText}" aria-label="${itemsList.iconAltText}"/></sly>
                                    </a>
                                </div>								
							<div class="contactUsLstcontSec">
								<!-- Start US19707 -->
								<!-- <a class="suntrust-supportNumber analytics-placeholder" href="${itemsList.linkURL}" target="${itemsList.target}" title="${itemsList.titleTag}">${itemsList.phoneNumber @ context='html'}</a> -->																									
									<a class="suntrust-supportNumber analytics-placeholder lo-data-persist-enabled" href="${itemsList.linkURL}" target="${itemsList.target}" title="${itemsList.titleTag}" data-sly-test="${itemsList.loDataPersistCheckbox}">${itemsList.phoneNumber @ context='html'}</a>
									<a class="suntrust-supportNumber analytics-placeholder" href="${itemsList.linkURL}" target="${itemsList.target}" title="${itemsList.titleTag}" data-sly-test="${!itemsList.loDataPersistCheckbox}">${itemsList.phoneNumber @ context='html'}</a>
								<!-- End US19707 -->
                                   <sly data-sly-test="${itemsList.miniDesc}">
									<span class="suntrust-option"> ${itemsList.miniDesc @ context='html'}</span>
								   </sly>
                                   <sly data-sly-test="${itemsList.subDesc}">
									<span class="suntrust-supportService">${itemsList.subDesc @ context='html'}</span>
                                   </sly>
							</div>
						</sly>
						<sly data-sly-test="${!itemsList.linkURL}">
							<sly data-sly-test="${itemsList.icon}">
								<div class="contactUsLstIconSec">
									<img src="${itemsList.icon}" alt="${itemsList.iconAltText}" aria-label="${itemsList.iconAltText}"/>
                                </div>
                            </sly>							
							<div class="contactUsLstcontSec">
							<!-- Start US19707 -->								
							<span class="suntrust-supportNumber lo-data-persist-enabled" data-sly-test="${itemsList.loDataPersistCheckbox}">${itemsList.phoneNumber @ context='html'}</span>
							<span class="suntrust-supportNumber" data-sly-test="${!itemsList.loDataPersistCheckbox}">${itemsList.phoneNumber @ context='html'}</span>
							<!-- End US19707 -->
                                <sly data-sly-test="${itemsList.miniDesc}">
									<span class="suntrust-option"> ${itemsList.miniDesc @ context='html'}</span>
								</sly>
							    <sly data-sly-test="${itemsList.subDesc}">
								    <span class="suntrust-supportService">${itemsList.subDesc @ context='html'}</span>
							    </sly>
							</div>
						</sly>
				    </div>
            </div>
        </div>
 </div>	 
	 <div id="lo-persist-supportus-liveengage" style="display: none;">${properties.liveengagesupportus}</div>
	 <div id="lo-persist-supportus" style="display: none;">${properties.loDataPersistsupportusCheckbox}</div>
 <!-- Added new code for live engage && LO Persistance check for iItems starts-->	
	 <sly data-sly-test="${properties.liveengagesupportus != 'None' && !wcmmode.edit && !wcmmode.design}"> 
		<ul class="chatnow-listStyle"><li class="sun-contact-options-list-item sun-contact-options-list-chat-support-li suntrust-supportChat" id="${properties.liveengagesupportus}"> 		
		</li></ul>	
	 </sly>			
<!-- Added new code for live engage && LO Persistance check for iItems ends-->	
 
<sly data-sly-test="${properties.disclaimersup}">
<div class="suntrust-supportcallPara">
	<p class="">${properties.disclaimersup @ context='html'}</p>
</div>
</sly>
</div>
</div>

<!-- tab 3 -->

<div data-sly-test="${properties.multiheading || properties.multifileReference || properties.description || properties.subdescription || properties.text }" data-sly-unwrap>
	<div class="tmpcontent suntrust-mail">
		<p class="suntrust-mailPara"><sly data-sly-test="${properties.multifileReference}"><img src="${properties.multifileReference}" alt="${properties.mailalttext}" class="suntrust-small-icons" title="${properties.mailalttext}" aria-label="${properties.mailalttext}"/></sly><span>${properties.multiheading}</span></p>
		<div data-sly-test="${properties.description || properties.subdescription }" data-sly-unwrap>
			<div class="suntrust-mailQuestions">
				<p>${properties.description @ context='html'}</p>
				<p>${properties.subdescription @ context='html'}</p>
			</div>
		</div>
		<div class="">
			<p>${properties.text @ context='html'}</p>
		</div>
	</div>
</div>

<!-- tab 4 -->
<div data-sly-test="${properties.wireheading || properties.wirefileReference || properties.wiredescription || properties.wiresubdesc || properties.wireadditional }" data-sly-unwrap>
	<div class="tmpcontent suntrust-transferInstructions">
		<p class="suntrust-transferPara"><sly data-sly-test="${properties.wirefileReference}"><img src="${properties.wirefileReference}" alt="${properties.wirealttext}" class="suntrust-small-icons" title="${properties.wirealttext}" aria-label="${properties.wirealttext}"/></sly><span>${properties.wireheading @context='html'}</span></p>
		<div data-sly-test="${properties.wiredescription || properties.wiresubdesc}" data-sly-unwrap>
			<div class="suntrust-mailQuestions">
				<p>${properties.wiredescription @ context='html'}</p>
				<p>${properties.wiresubdesc @ context='html'}</p>
			</div>
		</div>
		<div class="suntrust-instructions">
			<div class="suntrust-instructionsItems">
				<p>${properties.wireadditional @ context='html'}</p>
			</div>
		</div>
	</div>
</div>

</div>

<!-- 

THIS PIECE OF ANALYTICS CODE IS MOVED TO ENSIGTHEN.
THIS SECTION OF CODE SHOULD NEVER BE DELETED AND SHOULD BE ALWAYS COMMENTED.
THIS CODE IS FOR REFERENCE PURPOSE ONLY.

	<script>

		"use strict";
		//Contact Us Call Us on click event
		$("a.analytics-placeholder").on("click", function() {
		
		var $supportCallDiv = $(this).closest("div.suntrust-supportCall");
		if ($supportCallDiv.length) {	
			console.log("Contact Us component");	
			var callUs = $(this).attr('href');	
			if (callUs.indexOf("tel:") >= 0)
			{
				s.prop15 = window.dataLayer.pageName;
				console.log("s.prop15 : " + s.prop15);				
				console.log("window.dataLayer.pageName : " + window.dataLayer.pageName);
			}
		
		}
		});

	</script>

-->