<sly data-sly-use.utilObject="${'com.suntrust.dotcom.utils.GenericUtil'  @pagePath = currentPage.path}"/>
<div class="search_result_description_details clearfix">
	<div class="search_result_location_name">
		<div class="search_result_description_detail_addr">
			<h5>
                <div data-sly-use.details="${'utils.js' @ templateName='pageUrl', searchVal=request.requestParameterMap['searchString'][0].toString}" data-sly-unwrap/>
                    <strong><a href="${details @ context='unsafe'}"> ${properties.loc_locationname}</a></strong>
			</h5>
			<p class="location-address">${properties.loc_address}</p>
			<p class='city-state-zipcode'>
				<span class='city'>${properties.loc_city}, </span>
				<div data-sly-use.details="${'utils.js' @ templateName='states'}" data-sly-unwrap/> 
				<span class='state'>${details} </span> 
				<span class='zipcode'> ${properties.loc_zipcode}</span>
			</p>
		</div>
        <div class="search_result_description_detail_addr hide">
        	<h5><strong>Miles</strong></h5>
            <div class="addressDistance" latitude="${properties.loc_latitude}" longitude="${properties.loc_longitude}"></div>
        </div>
		<div class="search_result_location_contact visible-xs">
            <div data-sly-test="${properties.loc_phone}">
                <div class="search_result_location_phone clearfix">
                    <div class="search_result_location_phone_icon">
                        <img src="/content/dam/suntrust/us/en/elements/2017/graphic-elements/icon_cell.png" />
                    </div>
                    <div class="search_result_location_phone_details">
                        <h5>
                            <strong>Phone</strong>
                        </h5>
                        <p>
                            <a href="tel:${properties.loc_phone @context='unsafe'}">${properties.loc_phone}</a>
                        </p>
                    </div>
                </div>
            </div>
            <div data-sly-test="${properties.loc_fax}">
				<div class="search_result_location_fax clearfix">               
                    <div class="search_result_location_fax_icon">
                        <img src="/content/dam/suntrust/us/en/elements/2017/graphic-elements/icon_cell.png" />
                    </div>
                    <div class="search_result_location_fax_details">
                        <h5>
                            <strong>Fax</strong>
                        </h5>
                        <p>
                           ${properties.loc_fax}
                        </p>
                    </div>
				</div>
            </div>
			<div class="search_result_location_direction clearfix">
				<div class="search_result_location_direction_icon">
					<img src="/content/dam/suntrust/us/en/elements/2017/graphic-elements/icon_location.png" />
				</div>
				<div class="search_result_location_direction_details">
					<p>
						<div data-sly-use.details="${'utils.js' @ templateName='getDirection', searchVal=request.requestParameterMap['searchString'][0].toString}" data-sly-unwrap/>
                    	<a href="${details @ context='unsafe'}">Get Directions</a>
					</p>
				</div>
			</div>
		</div>
		<div class="search_result_description_detail_service">
			<h5>
				<strong>Services</strong>
			</h5>
            <div data-sly-use.details="${'utils.js' @ templateName='services'}" data-sly-unwrap/>
            <div>${details}</div>
		</div>
	</div>
	<div class="search_result_location_working_hours">
		<div data-sly-use.details="${'utils.js' @ templateName='branchhours'}" data-sly-unwrap/>
        <div data-sly-test=${details}>
            <div class="search_result_location_branch_hours">
                <h5>
                    <strong>Branch Hours</strong>
                </h5>
                <p>${details}</p>
            </div>
        </div>
        <div data-sly-use.details="${'utils.js' @ templateName='drivethru'}" data-sly-unwrap/>
		<div data-sly-test=${details}>
              <div class='search_result_location_drive_thru_hours'>
                  <h5>
                      <strong>Drive-Thru Hours</strong>
                  </h5>
                  <p>${details}</p>
              </div>
	    </div>
        <div data-sly-use.details="${'utils.js' @ templateName='tellerconnect'}" data-sly-unwrap/> 
		<div data-sly-test=${details}>
              <div class="search_result_location_teller_connect_hours">
                  <h5>
                      <strong>Teller Connect Hours</strong>
                  </h5>
                  <p>${details}</p>
              </div>
        </div>
	</div>
	<div class="search_result_location_contact hidden-xs">
		<div data-sly-test="${properties.loc_phone}">
			<div class="search_result_location_phone clearfix">          
                <div class="search_result_location_phone_icon">
                    <img alt="mobile-icon" title="mobile-icon"src="/content/dam/suntrust/us/en/elements/2017/graphic-elements/icon_cell.png" />
                </div>
                <div class="search_result_location_phone_details">
                    <h5>
                        <strong>Phone</strong>
                    </h5>
                    <p>
                        <a href="tel:${properties.loc_phone @context='unsafe'}">${properties.loc_phone}</a>
                    </p>
                </div>
            </div>
		</div>
		<div data-sly-test="${properties.loc_fax}">
			<div class="search_result_location_fax clearfix">          
                <div class="search_result_location_fax_icon">
                    <img alt="fax-icon" title="fax-icon"src="/content/dam/suntrust/us/en/elements/2017/graphic-elements/icon_cell.png" />
                </div>
                <div class="search_result_location_fax_details">
                    <h5>
                        <strong>Fax</strong>
                    </h5>
                    <p>
                        ${properties.loc_fax}
                    </p>
                </div>
            </div>
		</div>
		<div class="search_result_location_direction clearfix">
			<div class="search_result_location_direction_icon">
				<img alt="direction-icon" title="direction-icon"src="/content/dam/suntrust/us/en/elements/2017/graphic-elements/icon_location.png" />
			</div>
			<div class="search_result_location_direction_details">
				<p>
                    <!-- <div data-sly-use.details="${'utils.js' @ templateName='getDirection', searchVal=request.requestPathInfo.selectors[1]}" data-sly-unwrap/> -->
                    <div data-sly-use.details="${'utils.js' @ templateName='getDirection', searchVal=request.requestParameterMap['searchString'][0].toString}" data-sly-unwrap/>
                    <a href="${details @ context='unsafe'}">Get Directions</a>
				</p>
			</div>
		</div>
	</div>
</div>